<h1>Install & Configure <%= $CONFIG[:productName] %></h1>

<% form_tag({ :action => "create" }, :id => "install") do -%>

  <fieldset class="basic">
    <legend>Your company details</legend>
    <%= error_messages_for "company" %>

    <%= label :company, :name, "Company name:" %>
    <%= text_field :company, :name %>
    <br />
  </fieldset>

  <fieldset class="basic">
    <legend>Admin user details</legend>
    <%= error_messages_for "user" %>

    <%= label :user, :name, "Admin user name:" %>
    <%= text_field :user, :name %>
    <br />

    <%= label :user, :password, "Admin user password:" %>
    <%= password_field :user, :password %>
    <br />

    <%= label :user, :time_zone, "Time zone:" %>
    <%= time_zone_select(:user, :time_zone, TZInfo::Timezone.all.sort, 
	:model => TZInfo::Timezone, :include_blank => true) %>
    <br/>
  </fieldset>

  <fieldset class="basic">
    <legend>Project details</legend>
    <%= error_messages_for "project" %>

    <%= label :user, :name, "Project name:" %>
    <%= text_field :project, :name %>
    <br />
  </fieldset>

  <%= submit_tag("Continue", :class => "nolabel") %>

<% end -%>
