<h1>Install & Configure <%= $CONFIG[:productName] %></h1>

<% form_tag({ :action => "two" }, :id => "install") do -%>

  <fieldset class="basic">
	<legend>Web details</legend>
    <%= error_messages_for "web" %>

    <%= label :pref, :domain, "Host name" %>
    <%= text_field :pref, :domain, "" %>
    A hostname name for the hosted Jobsworth service. Even if you are only using Jobsworth behind a firewall, you will need to fill in this setting with a valid hostname such as "tasks.jobsworth.org".

    <%= label :pref, :SSL, "Enable SSL for this server." %>
    <%= check_box :pref, :SSL, "" %>
    Your web server will need to be appropriately configured with SSL certificate.
        
    <br />
	</fieldset>

	<fieldset class="basic">
	<legend>Email set up</legend>
    <%= error_messages_for "email" %>

    <%= label :email, :replyto, "Reply to address" %>
    <%= text_field :pref, :replyto, "" %>
    A replyto email address for all emails which come from the system.

    <%= label :email, :from, "From address" %>
    <%= text_field :pref, :from, "" %>
    A from email address for all emails which come from the system.
    
    <%= label :email, :address, "Email server" %>
    <%= text_field :email, :address, "localhost" %>
    An SMTP server to which email can be relayed.

    <%= label :email, :port, "Email server port" %>
    <%= text_field :email, :port, "25" %>

    <%= label :email, :prefix, "Email prefix" %>
    <%= text_field :email, :prefix, "[jobsworth]" %>
    This prefix will be prepended to every email sent from Jobsworth.
           
    <br />
	</fieldset>
	
		
	<fieldset class="basic">
	<legend>Your company details</legend>
    <%= error_messages_for "company" %>

    <%= label :company, :name, "Company name:" %>
    <%= text_field :company, :name %>
    <br />
	</fieldset>

  <fieldset class="basic">
    <legend>Admin user details</legend>
    <%= error_messages_for "user" %>

    <%= label :user, :name, "Admin user name:" %>
    <%= text_field :user, :name %>
    <br />

    <%= label :user, :password, "Admin user password:" %>
    <%= password_field :user, :password %>
    <br />

    <%= label :user, :time_zone, "Time zone:" %>
    <%= time_zone_select(:user, :time_zone, TZInfo::Timezone.all.sort, 
	:model => TZInfo::Timezone, :include_blank => true) %>
    <br/>
  </fieldset>

  <fieldset class="basic">
    <legend>Project details</legend>
    <%= error_messages_for "project" %>

    <%= label :user, :name, "Project name:" %>
    <%= text_field :project, :name %>
    <br />
  </fieldset>

  <%= submit_tag("Continue", :class => "nolabel") %>

<% end -%>
