<li class="attribute resource_type_attribute" id="resource_type_attribute_<%= attribute.id %>">
  <% 
     prefix = "type_attributes"
     prefix = "new_#{ prefix }" if attribute.new_record? 
     prefix = "resource_type[#{ prefix }]"
   -%>
  
  <% fields_for(prefix, attribute) do |f| %>
    <%= f.hidden_field(:position, :index => attribute.id, :class => "position") %>

    <label><%=_ "Name" %></label>
    <%= f.text_field :name, :index => attribute.id %>
    <%= sortable_handle_tag(attribute) %>
    <%= link_to_remove_parent %>

    <label><%=_ "Mandatory" %></label>
    <%= nested_boolean_choice_field(f, :is_mandatory, attribute) %>

    <label><%=_ "This attribute is a password" %></label>
    <%= nested_boolean_choice_field(f, :is_password, attribute) %>

    <label><%=_ "Allows multiple" %></label>
    <%= nested_boolean_choice_field(f, :allows_multiple, attribute) %>

    <label><%=_ "Validation Regex" %></label>
    <%= f.text_field :validation_regex, :index => attribute.id %>

    <label><%=_ "Default field length " %></label>
    <%= f.text_field :default_field_length, :index => attribute.id %>

  <% end %>
</li>

