<% form_for(@resource_type) do |f| %>
<fieldset class="basic">
  <label for="resource_type_name"><%= _("Name") %></label>
  <%= f.text_field :name %>
  <br />
  <br />

  <fieldset>
    <legend><%= _("Attributes") %></legend>
    <ul id="resource_type_attributes">
      <% @resource_type.resource_type_attributes.each do |rta| %>
        <%= render :partial => "attribute", :locals => { :attribute => rta } %>
      <% end %>
    </ul>
    
    <%= sortable_element("resource_type_attributes", :handle => "handle", :onUpdate => "function() { updatePositionFields('#resource_type_attributes') }") %>
    <br clear="both" />
    <%= add_attribute_link %>
  </fieldset>

    <%= cit_submit_tag(@resource_type) %>
</fieldset>
<% end %>
