<%= form_for(@resource_type, :html => {:class => "form-horizontal"}) do |f| %>
<fieldset>
  <div class="control-group">
    <label for="resource_type_name"><%= _("Name") %></label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="clear">
    <legend><%= _("Attributes") %></legend>
    <div id="resource_type_attributes">
      <% @resource_type.resource_type_attributes.each do |rta| %>
        <%= render :partial => "attribute", :locals => { :attribute => rta } %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= cit_submit_tag(@resource_type) %>
    <%= add_attribute_link %>
  </div>
</fieldset>
<% end %>
