<legend>
  <%= _"Resource Types" %>
  <%= link_to _("New resource type"), new_resource_type_path, :class => "btn pull-right" %>
</legend>

<div class="resource_types">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <th>Name</th>
      <th>Attributes</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @resource_types.each do |rt| %>
      <tr>
	<td><%= rt.name %></td>
	<td><%= rt.resource_type_attributes.count %></td>
	<td><%= link_to _("Edit"), edit_resource_type_path(rt) %></td>
	<td><%= link_to(_("Delete"), resource_type_path(rt), :method => :delete, :confirm => "Are you sure?") %></td>  
      </tr>
      <% end %> 
    </tbody>
  </table>
</div>
