<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>

  <title>Login</title>
  <%= stylesheet_link_tag "login.css" %>


</head>

<body>

<div id="login">


  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <% if flash[:alert] %>
              <div id="notice"><%= "Invalid user or password" %>
                <% flash.clear %></div>
          <% end %>

      <%= devise_error_messages! %>
      <p><%= f.label :username %><br/>
        <%= f.text_field :username%></p>


      <p><%= f.label :password %><br/>
        <%= f.password_field :password %></p>

      <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>
      <p><%= f.submit "Login" %></p>
      <p><%=link_to "Forget your password?", "#"  %></p>
  <% end %>

</div>

</body>

</html>

