<h1 style="margin-top:0;"><%= _('Forums') %></h1>
<p class="subtitle">
<%= feed_icon_tag _("Recent Posts"), formatted_all_posts_path(:format => 'rss') %>
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
    <th class="la" width="70%" colspan="2"><%= current_user.company.name + ' ' + _('Forums') %></th>
<% if admin? %>
    <th class="la" colspan="1"></th>
<% end %>
    <th class="la" width="29%" colspan="1"><%= _ 'Last Post' %></th>
  </tr>
<% for forum in @forums.select{ |f| f.company_id } do %>
  <tr>
    <td class="vat c1">

      <% if recent_forum_activity(forum) %>
      <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => _('Recent activity') %>
      <% else %>
      <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => _('No recent activity') %>
      <% end %>
    </td>
    <td class="c2 vat">
      <%= link_to h(forum.name), forum_path(forum), :class => "title" %>
      <div class="posts">
        <%= _("%d topics", forum.topics_count) %>,
	<%= _("%d posts", forum.posts_count) %>
      </div>
      <p class="desc"><%= forum.description_html %>
        </p>
      <div class="posts"><%= forum.project_id.nil? ? (_("Open to everyone from %s", current_user.company.name)) : (_("Open to %s users", forum.project.full_name)) %></div>
    </td>
<% if admin? %>
    <td class="c3">
      <%= link_to _('Edit'), edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin? %><br/>
      <%= link_to _('Destroy'), forum_path(forum), :confirm => _("Really delete %s?", forum.name), :method => :delete, :class => "tiny utility", :rel => "directory", :style => "float:right" if admin? %>
    </td>
<% end %>
    <td class="inv lp">
      <% if forum.posts.last %>
        <div class="tooltip" title="<%= h(forum.posts.last.body_html) %>">
        <%= truncate(forum.posts.last.topic.title, 40) %><br />
        <%= "#{_('by')} <strong>#{h(forum.posts.last.user.display_name)}</strong>" %><br />
        <%= _('%s ago', time_ago_in_words(forum.posts.last.created_at)) %>
        <span>(<%= link_to _('View'), topic_path(:forum_id => forum, :id => forum.posts.last.topic_id, :page => forum.posts.last.topic.last_page, :anchor => forum.posts.last.dom_id) %>)</span>
	</div>
      <% end %>
    </td>
  </tr>
<% end %>
  <tr><td colspan="4" class="spacer">&nbsp;</td></tr>
  <tr>
    <th class="la" width="70%" colspan="2"><%=_ 'Public Forums' %></th>
<% if admin? %>
    <th class="la" colspan="1"></th>
<% end %>
    <th class="la" width="30%" colspan="1"><%=_ 'Last Post' %></th>
  </tr>
<% for forum in @forums.select{ |f| f.company_id.nil? } do %>
  <tr>
    <td class="vat c1">

      <% if recent_forum_activity(forum) %>
      <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => _('Recent activity') %>
      <% else %>
      <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => _('No recent activity') %>
      <% end %>
    </td>
    <td class="c2 vat public">
      <%= link_to h(forum.name), forum_path(forum), :class => "title" %>
      <div class="posts">
        <%= _("%d topics", forum.topics_count) %>,
        <%= _("%d posts", forum.posts_count) %>
      </div>
      <p class="desc"><%= forum.description_html %>
        </p>
      <div class="posts"><%= _ "Open to everyone using ClockingIT" %></div>
    </td>
    <td class="c3 public">
<% if current_user.admin > 1 %>
      <%= link_to 'Edit', edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if current_user.admin > 1 %><br/>
      <%= link_to 'Destroy', forum_path(forum), :confirm => _("Really delete %s?", forum.name), :method => :delete, :class => "tiny utility", :rel => "directory", :style => "float:right" if current_user.admin > 1 %>
<% end %>
    </td>
    <td class="inv lp">
      <% if forum.posts.last %>
        <div class="tooltip" title="<%= h(forum.posts.last.body_html)%>">
        <%= truncate(forum.posts.last.topic.title, 40) %><br />
        <%= "#{_'by'} <strong>#{h(forum.posts.last.user.display_name)}</strong>" %><br />
        <%= _('%s ago', time_ago_in_words(forum.posts.last.created_at)) %>
        <span>(<%= link_to _('View'), topic_path(:forum_id => forum, :id => forum.posts.last.topic_id, :page => forum.posts.last.topic.last_page, :anchor => forum.posts.last.dom_id) %>)</span>
	</div>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if admin? %>
<div style="float:right"><%= link_to _('Create New Forum'), new_forum_path, :class => "utility" %></div>
<% end %>

<div id="footer" style="clear:both;padding-top:1em;">
<p class="disclaim">
<strong>
  <%
  footers=["Two's company. Three's a forum. More's a Beast."
  ]
  %>
  <%= footers[rand(footers.size)]%>
  </strong>
</p>
<p class="credit">
  <%= 'Powered by' %> <a href="http://beast.caboo.se/" target="_new">Beast</a><br />
  &copy; 2006 <a href="http://www.workingwithrails.com/person/5337-josh-goebel" class="subtle">Josh Goebel</a> <%= 'and' %> <a href="http://weblog.techno-weenie.net" class="subtle">Rick Olson</a>
</p>
<br style="clear:both;" />
</div>
