<% if task.active? %>
<div id="task_<%=task.id%>"
<%
 depth ||= 1
 depth = 1 if depth < 1
 classes = ""

 classes << " #{task.project.to_css_name}"
 classes << " override_filter" if defined?(override_filter) && override_filter
 classes << " waiting_deferred" unless task.active?

 classes << " task_active_others" if task.worked_on?
 classes << " task_active" if @current_sheet && @current_sheet.task_id == task.id
 classes << " task_done" if task.done?
 classes << " task_paused" if @current_sheet && @current_sheet.task_id == task.id && @current_sheet.paused?
-%>
class="task <%=classes%>" style="position:relative; <%= color_style(task) %>">
<% @task = task %>
<div id="row-<%=task.dom_id%>" class="task-row clearfix" style="width:100%;">
   <div class="task-name" style="padding-left:2px;">

   <%= "<strong><small>#{task.issue_num}</small></strong> <a href=\"#{@user.company.site_URL}/tasks/edit/#{task.id}\" rel=\"tooltip\" class=\"#{task.css_classes}\" target=\"_new\">#{h(truncate(task.name,:length => 80))}</a>".html_safe -%>

   <small>
     <%= "(#{worked_nice(task.worked_minutes)} / #{worked_nice( task.duration )})" if task.duration.to_i > 0 -%>
     <%= "(#{worked_nice(task.worked_minutes)})" if( task.duration.to_i == 0 && task.worked_minutes > 0) -%>
     <%= "<span class=\"task_milestone\">[#{task.milestone.name}]</span>".html_safe unless task.milestone_id.to_i == 0 -%>
   </small>
   <% name = _("No one")
      name = task.users.collect{|u| u.name}.join(', ') unless task.users.empty?
   %>

   <div class="task_info description">
   <%= task.full_name %>
   <%= "<span class=\"otheruser\">[#{name}]</span>".html_safe %>
   <%= due_in_words(task) if (task.due_at != nil || task.milestone_id.to_i > 0) && !task.done?%>
   </div>
  </div>
</div>
</div>
<% end %>
