<% @page_title = "Milestone : #{@milestone.name} - #{$CONFIG[:productName]}" %>

<%= form_for(@milestone, :html => {:class => "form-horizontal"}) do %>
  <fieldset id="milestone_form">
    <legend><%=_ 'Edit Milestone' %></legend>
    <%= render :partial => 'form' %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <% if current_user.can?( @milestone.project, 'milestone' ) %>
        <%= link_to _("Delete"), {:controller => 'milestones', :action => 'destroy', :id => @milestone}, :confirm => "Really delete #{@milestone.name}?", :class => "btn btn-danger"  %>
        <% if @milestone.complete? %>
          <%= link_to _("Re-open"), {:action => 'revert', :id => @milestone}, :confirm => "Really re-open #{@milestone.name}?", :class => "btn" %>
        <% else %>
          <%= link_to _("Complete"), {:action => 'complete', :id => @milestone}, :confirm => "Really complete #{@milestone.name}?", :class => "btn" %>
        <% end %>
      <% end %>
    </div>
  </fieldset>
<% end %>

<legend>Score Rules</legend>
<%= render 'shared/score_rules_container',
           :container_name => 'milestones',
           :container_id   => @milestone.id %>

