<% @page_title = t("milestones.edit_title", title: "#{@milestone.name} - #{Setting.productName}") %>

<%= form_for(@milestone, :html => {:class => "form-horizontal"}) do %>
  <fieldset id="milestone_form">
    <legend>
      <%= t("milestones.edit") %>
      <%= link_to_tasks_filtered_by(t("milestones.view_tasks"), @milestone, :class => "btn btn-success pull-right") %>
    </legend>
    <%= render :partial => 'form' %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%= t("button.save") %></button>
      <% if current_user.can?( @milestone.project, 'milestone' ) %>
        <%= link_to t("button.delete"), milestone_path(@milestone), :method => :delete, :confirm => t("shared.are_you_sure"), :class => "btn btn-mini btn-danger pull-right"  %>
        <% if @milestone.closed? %>
          <%= link_to t("milestones.reopen"), revert_milestone_path(@milestone), :confirm => t("shared.are_you_sure"), :method => :post, :class => "btn" %>
        <% else %>
          <%= link_to t("milestones.complete"), complete_milestone_path(@milestone), :confirm => t("shared.are_you_sure"), :method => :post, :class => "btn" %>
        <% end %>
      <% end %>
    </div>
  </fieldset>
<% end %>

<% if current_user.company.use_score_rules? %>
<legend><%= t("milestones.score_rules") %></legend>
<%= render 'shared/score_rules_container',
           :container_name => 'milestones',
           :container_id   => @milestone.id %>

<% end %>
