<% @page_title = "Completed Milestones - #{$CONFIG[:productName]}" %>

<div class="page_header"><%=_ 'Completed Milestones' %>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th align="left"><%=_ 'Name' %></th>
    <th align="left"><%=_ 'Completed' %></th>
    <th align="left"><%=_ 'Tasks' %></th>
    <th align="left">&nbsp;</th>
  </tr>
  <% @completed_milestones.each do |m| %>
    <tr>
      <td><%= "#{m.project.customer.name} / #{m.project.name} / #{m.name}" %></td>
      <td><%= tz.utc_to_local(m.completed_at).strftime(current_user.date_format) %></td>
      <td><%= m.tasks.size %></td>
      <td><%= link_to( _('Revert'), {:action => 'revert', :id => m.id}, :confirm => _("Really revert %s?", m.name) ) %></td>
    </tr>
  <% end %>
</table>
