<fieldset id="milestone_form">
<%= "<legend>#{_ 'New Milestone' }</legend>".html_safe unless @disable_title %>

<% unless @popup.nil? %>
<%= form_tag '/milestones/create' , :remote => true, :name => 'milestoneForm', :id => "add_milestone_form" %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create"), :class => 'nolabel'%>
</form>
<% else %>
  <%= form_tag :action => 'create' do %>
    <%= render :partial => 'form' %>
    <label>&nbsp;</label>
    <%= submit_tag _("Create"), :class => 'nolabel' %>
  <% end %>
<% end %>
</fieldset>
