<% @page_title = "New Milestone - #{$CONFIG[:productName]}" %>

<% unless @popup.nil? %>

  <%= form_tag '/milestones/create' , :remote => true, :name => 'milestoneForm', :id => "add_milestone_form", :class => "form-horizontal" %>
    <fieldset id="milestone_form">
      <%= "<legend>#{_ 'New Milestone' }</legend>".html_safe unless @disable_title %>
      <%= render :partial => 'form' %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </fieldset>
  </form>

<% else %>

  <%= form_tag({:action => 'create'}, {:class => "form-horizontal"}) do %>
    <fieldset id="milestone_form">
      <%= "<legend>#{_ 'New Milestone' }</legend>".html_safe unless @disable_title %>
      <%= render :partial => 'form' %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </fieldset>
  <% end %>

<% end %>
