
<% date_format = "#{current_user.date_format} #{current_user.time_format}" %>

<tr class="hoverrow">
  <td align="right" width="70px" valign="top"><%= "#{tz.utc_to_local(log.started_at).strftime(date_format)}"%><% if log.duration > 0 %>-<%= "#{tz.utc_to_local(log.ended_at).strftime("%H:%M")}"%><% end %>
  <%= link_to "#{worked_nice(log.duration/60)}", { :controller => 'tasks', :action => 'edit_log', :id => log } if (log.duration > 0)%>
  </td>
  <td align="center" width="20px" valign="top">
  <% if log.task_id.to_i > 0 %>

  <%= image_tag('accept.png', :alt => "Complete") if log.log_type == EventLog::TASK_COMPLETED %>
  <%= image_tag('cancel.png', :alt => "Reverted") if log.log_type == EventLog::TASK_REVERTED %>
  <%= image_tag('add.png', :alt => "New Task") if log.task.type_id != 2 && log.task.type_id != 1 && log.log_type == EventLog::TASK_CREATED%>
  <%= image_tag('bug_add.png', :alt => "New Defect") if log.task.type_id == 2 && log.log_type == EventLog::TASK_CREATED%>
  <%= image_tag('application_add.png', :alt => "New Feature") if log.task.type_id == 1 && log.log_type ==  EventLog::TASK_CREATED%>
  <%= image_tag('application_form_edit.png', :alt => "Edit") if log.log_type == EventLog::TASK_MODIFIED%>
  <%= image_tag('comment_add.png', :alt => "New Comment") if log.log_type == EventLog::TASK_COMMENT %>
  <%= image_tag('time_add.png', :alt => "Work done") if log.log_type == EventLog::TASK_WORK_ADDED %>
  <%= image_tag('folder_add.png', :alt => "Archived") if log.log_type == EventLog::TASK_ARCHIVED %>
  <%= image_tag('folder_go.png', :alt => "Archived") if log.log_type == EventLog::TASK_RESTORED %>

  <% else %>

  <%= image_tag('page_add.png', :alt => "Page added") if log.log_type == EventLog::PAGE_CREATED %>
  <%= image_tag('page_delete.png', :alt => "Page deleted") if log.log_type == EventLog::PAGE_DELETED %>
  <%= image_tag('page_edit.png', :alt => "Page modified") if log.log_type == EventLog::PAGE_MODIFIED %>
  <%= image_tag('delete.png', :alt => "Task Deleted") if log.log_type == EventLog::TASK_DELETED %>

  <%= image_tag('package.png', :alt => "Commit") if log.log_type == EventLog::SCM_COMMIT %>

  <% end %>
  </td>
  <td class="log" valign="top"><div style="float:left;"><strong>
<% if log.task && log.task_id > 0  %>
<%= link_to_task_with_highlight(log.task, @keys) %>
<% elsif log.scm_changeset && log.scm_changeset_id.to_i > 0 %>
<%= "<small>" + log.scm_changeset.issue_num + "</small> " + link_to(h(highlight_all(log.scm_changeset.name, @keys)), {:controller => 'scm', :action => 'edit', :id => log.scm_changeset_id}) -%>
          <br /><%= "<span class=\"optional\">#{highlight_all(log.scm_changeset.full_name, @keys)}</span> " %>
<% end %>
            <%= "<br/>" if log.task_id.to_i > 0 %><%= "<span class=\"optional\">#{highlight_all(log.task.full_name, @keys)}</span> " if log.task_id.to_i > 0 %>

            <%= "<small><span class=\"otheruser\">[#{log.user.name}]</span></small>" if log.user %>
            <%= "<small><span class=\"otheruser\">[#{log.event_log.user}]</span></small>" if log.user.nil? && log.event_log.user %>
            <%= "<small><span class=\"otheruser\">[#{log.scm_changeset.author}]</span></small>" if log.scm_changeset && !log.user %>

  </strong></div>
  <div style="float:right;"><%= avatar_for log.user, 25 if log.user %></div>
  <div style="clear:both;padding-left:4px;padding-right:4px;padding-top:0.2em;padding-bottom:1em;border-top:1px solid #e8e8e8;">
<% if log.body && log.body.length > 0 %>
      <%= highlight_all(wrap_text(log.body, 100).gsub(/\n/, "<br>"), @keys) if log.body %>
<% end %>
  </div>
  </td>
</tr>
