
<% date_format = "#{current_user.date_format} #{current_user.time_format}" %>

<tr class="hoverrow access_level_<%= log.access_level_id%>">
  <td align="right" width="70px" valign="top"><%= "#{tz.utc_to_local(log.started_at).strftime(date_format)}"%><% if log.duration > 0 %>-<%= "#{tz.utc_to_local(log.ended_at).strftime("%H:%M")}"%><% end %>
  <%= link_to "#{worked_nice(log.duration/60)}", edit_work_log_path(log) if (log.duration > 0)%>
  </td>
  <td align="center" width="20px" valign="top">
  <% if log.task_id.to_i > 0 %>

  <%= image_tag('accept.png', :alt => "Complete") if log.log_type == EventLog::TASK_COMPLETED %>
  <%= image_tag('cancel.png', :alt => "Reverted") if log.log_type == EventLog::TASK_REVERTED %>
  <%= log.task.type.to_html if log.log_type == EventLog::TASK_CREATED%>
  <%= image_tag('edit.png', :alt => "Edit") if log.log_type == EventLog::TASK_MODIFIED%>
  <%= image_tag('comment_add.png', :alt => "New Comment") if log.log_type == EventLog::TASK_COMMENT %>
  <%= image_tag('time_add.png', :alt => "Work done") if log.log_type == EventLog::TASK_WORK_ADDED %>
  <%= image_tag('folder_add.png', :alt => "Archived") if log.log_type == EventLog::TASK_ARCHIVED %>
  <%= image_tag('folder_go.png', :alt => "Archived") if log.log_type == EventLog::TASK_RESTORED %>

  <% else %>

  <%= image_tag('page_add.png', :alt => "Page added") if log.log_type == EventLog::PAGE_CREATED %>
  <%= image_tag('page_delete.png', :alt => "Page deleted") if log.log_type == EventLog::PAGE_DELETED %>
  <%= image_tag('page_edit.png', :alt => "Page modified") if log.log_type == EventLog::PAGE_MODIFIED %>
  <%= image_tag('delete.png', :alt => "Task Deleted") if log.log_type == EventLog::TASK_DELETED %>

  <% end %>
  </td>
  <td class="log" valign="top"><div style="float:left;"><strong>
<% if log.task && log.task_id > 0  %>
<%= link_to_task(log.task, false, @keys) %>
<% end %>
            <%= "<br/>".html_safe if log.task_id.to_i > 0 %>
            <%= "<span class=\"optional\">".html_safe + highlight_all(log.task.full_name, @keys) + "</span>".html_safe if log.task_id.to_i > 0 %>

            <%= "<small><span class=\"otheruser\">[".html_safe + log.user.name + "]</span></small>".html_safe if log.user %>
            <%= "<small><span class=\"otheruser\">[".html_safe + log.event_log.user + "]</span></small>".html_safe if log.user.nil? && log.event_log.user %>

  </strong></div>
  <div style="float:right;"><%= avatar_for log.user, 25 if log.user %></div>
  <div style="clear:both;padding-left:4px;padding-right:4px;padding-top:0.2em;padding-bottom:1em;border-top:1px solid #e8e8e8;">
<% if log.body && log.body.length > 0 %>
      <%= highlight_all(wrap_text(log.body).gsub(/\n/, "<br/>").html_safe, @keys) if log.body %>
<% end %>
  </div>
  </td>
</tr>
