<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "snippets"} %>
<% end %>

<legend>
  <%= t("snippets.snippets") %>
  <%= link_to t("snippets.new_snippet"), new_snippet_path, :class => "btn pull-right" %>
</legend>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%= t("snippets.name") %></th>
    <th><%= t("snippets.body") %></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= link_to snippet.name, snippet_path(snippet) %></td>
    <td><%= truncate(snippet.body, :length => 40) %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_snippet_path(snippet) %></td>
  </tr>
<% end %>
</table>

