<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "snippets"} %>
<% end %>

<legend><%= @snippet.name %></legend>

<p>
  <%= @snippet.body.gsub("\n", "<br/>").html_safe %>
</p>

<div class="well">
  <%= link_to t("button.edit"), :action => 'edit', :id => @snippet %> |
  <%= link_to t("button.delete"), { :action => 'destroy', :id => @snippet}, :confirm => t("shared.are_you_sure"), :method=> :delete %>
</div>
