<fieldset id="task_attachments">
  <legend><%=_ "Attachments" %></legend>
  <% for file in @task.attachments %>
    <% if file.thumbnail? %>
      <div>
	<%= link_to image_tag("/project_files/thumbnail/#{file.id}", {:border=>0, :style=>'float:none'}), {:controller => 'project_files', :action => 'download', :id => file.id.to_s + "." + file.file_extension}, {:rel=>'shadowbox'} %>
      </div>
    <% end %>
    <%= link_to h(file.name), {:controller => 'project_files', :action => 'download', :id => file.id.to_s + "." + file.file_extension}, {:rel=>'shadowbox'} %><em> (<%=number_to_human_size(file.file_size)%>)</em>
    <%= link_to image_tag("/images/cross_small.png", :border=>0), {:controller => 'project_files', :action => 'destroy', :id => file.id}, :confirm => _("Really delete %s?", file.name), :class => 'close-cross' %>
    <span class="divider"></span>
  <% end %>
  
  <label for="task_tmp_file"><%=_ 'Attach file' %></label>
  <div id="upload_container">
    <%= file_field_tag 'tmp_files[]', { :size => 15, :class => "file" }.merge( perms['comment'] ) %>
  </div>
  <% if perms['comment'].empty? %>
    <span style="float:left">
      <%= link_to_function _("Upload more files") do |page|
	  page.insert_html :bottom, :upload_container, "<label>&nbsp;</label><input type=\"file\" size=\"15\" class\"file\" name=\"tmp_files[]\"/><br />"
	  end %>
    </span>
  <% end %>
</fieldset>

