<fieldset id="task_dependencies">
  <legend><%=_ "Snooze until"%></legend>

  <div class="clearfix">
    <p>
      <%=_ 'Until customer responds' %>
      <%= check_box(:task, :wait_for_customer) %>
    </p>
  </div>

  <label for="dependencies_input"><%=_ 'Snooze until'%></label>
  <% if perms['edit'].empty? %>
    <input name="dependencies[]" size="12" type="text" id="dependencies_input" title="<%=_("Search by task number or title")%>" rel="tooltip" >
    <div style="clear:both; display:none;" id="dependencies_input_auto_complete"></div>
  <% else %>
    <input name="dependencies[]" size="12" type="text" disabled="disabled">
  <% end %>
  <a id="snooze_until_datepicker" href='#'><i class="icon-calendar"></i></a>

  <%= hidden_field_tag('task[hide_until]', @task.hide_until) %>

  <div id="snooze_until_date" class="field_header" style="clear:both<%= @task.hide_until.nil? ? "; display:none;" : "" %>">
    <span><%= formatted_date_for_current_user(@task.hide_until) %></span>
    <a href="#" id="remove_snooze_until_date" class="pull-right"><i class="icon-remove"></i></a>
  </div>

  <div id="customer_response" class="field_header">
  <% if @task.wait_for_customer %>
      <%=_('Customer response')%>
      <%= link_to('<i class="icon-remove"></i>'.html_safe, "#", :class => "removeLink") %>
  <% end %>
  </div>

  <span class="dependencies">
    <%= render :partial => "tasks/dependency", :collection => @task.dependencies.accessed_by(current_user), :locals => { :perms => perms } %>
  </span>

  <% if @task.dependants.any? %>
    <div style="clear:both">
      <p for="dependants"><%=_ "Depended on by"%></p>
      <% @task.dependants.accessed_by(current_user).each do |d| %>
        <div class="field_header">
          <%= link_to_task(d) %>
        </div>
      <% end %>
    </div>
  <% end %>
</fieldset>

