
<fieldset id="task_project_selection">
  <%= text_field("task", "name", { :size => nil, :class => "fill", :maxlength => 200 }.merge( perms['edit'] ))  %>

  <%= text_area "task", "description", { :rows => 4, :class => "fill" }.merge( perms['edit'] )  %>

  <label for="task_project_id"><%=_ 'Project' %></label>
  <select name="task[project_id]" id="task_project_id" <%= "disabled=\"disabled\"" unless perms['reassign'].empty? %>>
    <%= options_for_user_projects(@task) %>
  </select>
  <%= task_project_watchers_js %>
  <br/>

  <div>
    <label for="task_milestone_id"><%=_ 'Milestone' %></label>
    <%= milestone_select(perms) %>
    <% if current_user.can?( Project.find(selected_project), 'milestone' ) %>
      <span id="add_milestone"><a href="/milestones/quick_new?project_id=<%=selected_project%>" rel="shadowbox;height=300;width=460;player=iframe"><img src="/images/add.png" style="margin:0;padding:2px 0 0 0;" border="0"></a></span>
    <% end %>
  </div>
  <br/>

  <% if current_user.option_tracktime.to_i == 1 %>
    <label for="task_duration"><%=_ 'Time Estimate' %></label>
    <%= text_field 'task', 'duration', {:size => 12, :value => (@task.duration.to_i > 0 ? worked_nice(@task.duration) : ""), :class => 'tooltip', :title => _('2w 3d 1h')}.merge(perms['prioritize']) %><br/>
  <% else %>
    <%= hidden_field_tag "task[duration]", "#{(@task.duration.to_i > 0 ? worked_nice(@task.duration) : "")}" %>
  <% end %>

  <label for="task[due_at]"><%=_ 'Due Date' %></label>
  <%= due_date_field(@task, perms) %>

  <label for="task_status"><%= _("Status") %></label>
  <%= status_field(@task) %>
</fieldset>
