<fieldset id="task_details">
  <% unless @task.new_record? %>
    <%= link_to(edit_task_path(@task.task_num)) do %>
      <% if controller.class == TaskTemplatesController  %>
        <legend id='task-title'> <%= t("tasks.template_title") %> </legend>
      <% else %>
        <legend id='task-title'><%= t("tasks.simple_title") %> <%= @task.issue_num %></legend>
      <% end %>
    <% end %>
  <% end %>

  <%= render(:partial => "tasks/todos")%>

  <div class="control-group">
    <label for="task_project_id"><%= t("tasks.project") %></label>
    <select name="task[project_id]" id="task_project_id" <%= "disabled=\"disabled\"" unless perms['reassign'].empty? %>>
      <%= options_for_user_projects(@task, current_user) %>
    </select>
  </div>

  <div class="control-group" id="milestone-selector">
    <label for="task_milestone_id"><%= t("tasks.milestone") %></label>
    <%= milestone_select(perms) %>
    <% if current_user.can?( Project.find(selected_project), 'milestone' ) %>
      <a href="#" id="add_milestone" title="Create new milestone for this project"><i class="icon-plus-sign"></i></a>
    <% end %>
  </div>

  <div class="control-group">
    <label for="task_duration"><%= t("tasks.time_estimate") %></label>
    <%= text_field 'task', 'duration', :size => 12, :value => (!@task.duration.nil? and @task.duration > 0 ? TimeParser.format_duration(@task.duration) : ""), :rel => 'tooltip', "data-placement" => "right", :title => t("tasks.duration_title"), :placeholder => TimeParser.format_duration(@task.default_duration) + " (#{t("tasks.time_default")})" %>
  </div>

  <div class="control-group clearfix">
    <% task_due_at = @task.due_at || @task.milestone.try(:due_at) %>
    <label for="task[due_at]"> <%= t("tasks.target_date") %>
    <% unless @task.resolved? or @task.new_record? %>
      <% if task_due_at and @task.estimate_date %>
        <% forecast_duration_minutes = (@task.estimate_date.to_date - task_due_at.to_date).to_i * 24 * 60 %>
        <% if task_due_at.beginning_of_day < @task.estimate_date.beginning_of_day %>
          <span class="forecast target_ahead">forecast -<%= TimeParser.format_duration(forecast_duration_minutes) %></span>
        <% else %>
          <span class="forecast forecast_ahead">forecast <%= TimeParser.format_duration(forecast_duration_minutes) %></span>
        <% end %>
      <% end %>
    <% end %>
    </label>
    <div id="due_date_field" class="pull-left">
      <%= due_date_field(@task, perms) %>
    </div>  
  </div>

  <div class="control-group">
    <label for="task_status"><%= t("tasks.resolution") %></label>
    <%= status_field(@task).html_safe %>
  </div>

</fieldset>
