<fieldset id="task_details">
  <legend><%=_ "Details" %></legend>

  <div class="control-group">
    <label for="task_project_id"><%=_ 'Project' %></label>
    <select name="task[project_id]" id="task_project_id" <%= "disabled=\"disabled\"" unless perms['reassign'].empty? %>>
      <%= options_for_user_projects(@task) %>
    </select>
  </div>

  <div class="control-group">
    <label for="task_milestone_id"><%=_ 'Milestone' %></label>
    <%= milestone_select(perms) %>
    <% if current_user.can?( Project.find(selected_project), 'milestone' ) %>
      <a href="#" id="add_milestone" title="Create new milestone for this project"><i class="icon-plus-sign"></i></a>
    <% end %>
  </div>

  <div class="control-group">
    <label for="task_duration"><%=_ 'Time Estimate' %></label>
    <%= text_field 'task', 'duration', {:size => 12, :value => (@task.duration.to_i > 0 ? worked_nice(@task.duration) : ""), :rel => 'tooltip', "data-placement" => "right", :title => _('2w 3d 1h')} %>
  </div>

  <div class="control-group clearfix">
    <label for="task[due_at]"> <%=_ 'Target Date' %> </label>
    <div id="target_date">
      <span title="<%= target_date_tooltip(@task)%>"> <%= target_date(@task)%> </span>
      <a id="override_target_date" <%= 'style="display:none"'.html_safe unless @task.due_at.nil? %> href="#">override</a>
      <a id="clear_target_date" <%= 'style="display:none"'.html_safe if @task.due_at.nil? %> href="#">clear</a>
    </div>
    <div id="due_date_field" style="display:none;" class="pull-left">
      <%= due_date_field(@task, perms) %>
    </div>
  </div>

  <div class="control-group">
    <label for="task_status"><%= _("Resolution") %></label>
    <%= status_field(@task).html_safe %>
  </div>

</fieldset>
