<% attrs = controller.controller_name  == "task_templates" ? {} : {:remote => true, :'data-type' => "json"} %>
<% show_timer = current_user.option_tracktime.to_i == 1 && !(@current_sheet && @current_sheet.task) %>
<% cache([ "edit_form", @task, current_user.id, controller.controller_name, @task.project.try(:updated_at), @task.milestone.try(:updated_at), show_timer  ]) do -%>
  <%= form_tag({ :action => 'update', :id => @task}, { :multipart => "true", :id => "taskform", :method => :put }.merge(attrs)) do -%>

    <%= render partial: 'timer_bar', locals: { task: @task, show_timer: show_timer } %>

    <%= hidden_field("task", "id") %>
    <%= error_messages_for 'task' %>
    <div id="task_sidebar">
      <%= render(:partial => "tasks/edit_todos", :locals => {:task => @task}) %>
      <%= render(:partial => "tasks/edit_details")%>
      <%= render(:partial => "tasks/edit_attributes") %>
      <%= render(:partial => "tasks/edit_notifications") %>
      <% if !@task.new_record? -%>
        <%= render(:partial => "work_times") %>
      <% end -%>
      <%= render(:partial => "edit_dependencies") %>
      <%= render(:partial => "edit_attachments") if @task.attachments.count > 0 %>
      <%= render(:partial => "edit_resources") if current_user.use_resources? %>
    </div>

    <div id="task_addcomment">
      <% if current_user.can?(@task.project, 'edit') %>
        <%= editable_field @task, :name, { :type => "text", :submit => "OK", :displayStyle => "display:block; font-size:20px; font-weight:bold;"} %>
        <%= editable_field @task, :description, { :type => "textarea", :rows => 4, :submit => "OK", :displayStyle => "display:block; ", :cssClass => "autogrow"} %>
      <% else %>
        <h2><%= @task.name %></h2>
        <p><%= @task.description %></p>
      <% end %>

      <div>
        <%= render(:partial => "new_comment", locals: { show_timer: true } ) %>
      </div>

      <div id="task_history">
        <%= render(:partial => "tasks/history") %>
      </div>
    </div>

  <% end %>
<% end -%>
<%= javascript_tag "ajax_update_task_callback();" if controller.controller_name == "tasks" %>

<% if show_timer %>
<script type="text/javascript">
  jQuery(document).ready(function() {
    window.taskTimer = new TaskTimer();
  })
</script>
<% end %>
