<div id="task_attr" class="section clearfix">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header"><%= _("Attributes") %></div>
  <div class="panel_content">
    <label for="task_set_tags"><%=_ 'Tags' %></label>
    <% if perms['edit'].empty? %>
      <%= editable_field @task, :set_tags, { :type => "text", :submit => 'OK', :display => @task.tagstring, :width=>"145px" }%>
    <% else %>
       <span><%= @task.tagstring %></span>
    <% end %>
  
    <% current_user.company.properties.each do |p|
        selected = @task.new_record? ? p.default_value : @task.property_value(p)
        name = "property_#{ p.id }"
        hash_for_task_propery = {}

        p.property_values.each do |pv|
          hash_for_task_propery[pv.id] = pv.value
        end

        hash_for_task_propery['selected'] = selected.id if selected
    -%>

        <label for="<%= name %>"><%= h(p.name) %></label>
        <%= editable_field @task, "[properties][#{p.id}]", { :type => "select", :submit => 'OK', :data => hash_for_task_propery.to_json, :display => p.name } %>

    <% end -%>
  </div>
</div>
