<%
	filter_values = session[filter_property.filter_name]
	filter_values = [ filter_values ].flatten
	filter_values = filter_values.map { |v| v.to_i }
-%>
<select name="<%= filter_property.filter_name %>[]" id="<%= filter_property.filter_name %>" 
	onchange="javascript:document.forms[1].submit();" 
	class="tooltip multiselect" 
	title="<%=_('Only show tasks with this property value')%>"
	multiple="multiple">
	<option value="" class="select_default">
		<%= "[#{_('Any %s', filter_property.name)}]" %>
	</option>
	
	<% filter_property.property_values.each do |pv| %>
		<%= content_tag(:option, pv.value, :value => pv.id, :selected => filter_values.include?(pv.id)) %>
	<% end %>
</select>