<% init_filter_variables(local_assigns) %>
  
<a href="#" onclick="jQuery('#tasks_filter').toggle('slow')" class="disclosure" style="<%= @task_only_option_style %>">
  <%= _'Filter'%>
</a>
<div nowrap id="tasks_filter">
  <fieldset>
    <% if show_filter_legend? -%>
      <legend><%= _("Task Filter") %></legend>
    <% end %>

    <form id="filter_form" action="setup_task_filters" method="post" style="margin:0;padding:0;">

      <div class="builtin filters" style="<%= @builtin_style %>">
	<% 
	   redir_action = (local_assigns[:redirect_action] ? redirect_action : "list")
	   redir_params = (local_assigns[:redirect_params] ? redirect_params : {})
	   redir = url_for(redir_params.merge(:action => redir_action))
	-%>
	<input type="hidden" name="redirect_action" value="<%= redir %>" /> 

	<%= customer_project_and_milestones_query_menus %>

	<div id="filter_user" class="filter">
	  <%= query_menu("filter_user", objects_to_names_and_ids(@users)) %>
	  <%= selected_filter_values("filter_user", selected_user_names_and_ids) %>
	</div>

	<div class="filter">
	  <%= query_menu("filter_status", available_statuses) %>
	  <%= selected_filter_values("filter_status", selected_status_names_and_ids) %>
	</div>
      </div>
  
      <div class="extra filters">
	<%= render :partial => "tasks/filter_property", :collection => current_user.company.properties %>
      </div>

      <div class="display filters">
	<%= render(:partial => "tasks/filter_display_options", :locals => local_assigns) %>
      </div>
      <div class="right save_link" style="<%= @task_only_option_style %>">
	<%= link_to( _("Save Filter"), { :controller => "views", :action => "new", :tags => params[:tags], :layout => "popup" },
	:rel => "shadowbox;height=280;width=640;player=iframe") %>
      </div>
    </form>
  </fieldset>

  <% if (!local_assigns[:hide_organize] or !hide_organize) and can_organize? %>
  <div id="reorganize_tasks">
    <a id="reorder" href="#" onclick="jQuery('.handle,.task-group' ).show(); jQuery('done_reordering').show(); jQuery('reorder').hide();"><%= _'Organize Tasks' %></a>
    <a id="done_reordering" href="#" style="display:none;" onclick="jQuery('.handle').hide(); jQuery('done_reordering').hide(); jQuery('reorder').show();"><%= _'Organizing Done'%></a>
  </div>
  <% end %>
</div>

<div class="task_view_links" style="<%= @task_only_option_style %>">
  <ul class="tabs">
    <%= task_view_links %>
  </ul>
</div>

<div id="quick_add_container" style="display:none;"></div>

