<div style="<%= @task_only_option_style %>">
<% if !local_assigns[:hide_grouping] or !hide_grouping -%>
  <%= query_menu("group_by", group_by_options, "Grouping") %>
  <% selected = group_by_options.select { |name, id| id.to_s == session[:group_by] } %>
  <%= selected_filter_values("group_by", selected, "grouping", "Default") %>
<% end -%>

<% if !local_assigns[:hide_sorting] or !hide_sorting -%>
  <%= query_menu("sort", sort_options, "Sorting") %>
  <% selected = sort_options.select { |name, id| id.to_s == session[:sort] } %>
  <%= selected_filter_values("sort", selected, "sorting", "Default") %>
<% end -%>

<% if !local_assigns[:hide_colors] or !hide_colors -%>
  <% properties = objects_to_names_and_ids(Property.all_with_colors(current_user.company)) -%>
  <%= query_menu("colors", properties) %>
  <% selected = properties.select { |name, id| id.to_s == session[:colors] } %>
  <%= selected_filter_values("colors", selected, "colors", "Default") %>
<% end -%>

<% if !local_assigns[:hide_icons] or !hide_icons -%>
  <% properties = objects_to_names_and_ids(Property.all_with_icons(current_user.company)) -%>
  <%= query_menu("icons", properties) %>
  <% selected = properties.select { |name, id| id.to_s == session[:icons] } %>
  <%= selected_filter_values("icons", selected, "icons", "Default") %>
<% end -%>
<br />
</div>

<label for="hide_deferred" title="<%= _('Hide tasks deferred until a later time') %>" class="tooltip">
  <%=_ 'Hide Waiting'%>  
</label>
<input type="checkbox" name="hide_deferred" id="hide_deferred" title="<%= _('Hide tasks deferred until a later time') %>" class="tooltip" value="1" <%= session[:hide_deferred].to_i > 0 ? "checked" : "" %> onChange="javascript:document.forms[1].submit();">
<br />

<% if !local_assigns[:hide_hide_dependencies] or !hide_hide_dependencies -%>
<label for="hide_deferred" title="<%= _('Hide Task Dependencies') %>" class="tooltip">
  <%=_ 'Hide Dependencies'%>
</label>
<input type="checkbox" name="hide_dependencies" id="hide_dependencies" title="<%= _('Hide Task Dependencies') %>" class="tooltip" value="1" <%= session[:hide_dependencies].to_i > 0 ? "checked" : "" %> onChange="javascript:document.forms[1].submit();">
<br />
<% end -%>

<% msg = _("Show all unread tasks, even if they don't match the filter") -%>
<label for="show_all_unread" title="<%= msg %>" class="tooltip">
  <%=_ "Show all unread" %>  
</label>
<input type="checkbox" name="show_all_unread" id="show_all_unread" title="<%= msg %>" class="tooltip" value="1" <%= session[:show_all_unread].to_i > 0 ? "checked" : "" %> onChange="javascript:document.forms[1].submit();">
<br />
