<div nowrap id="tasks_filter">
  <% init_filter_variables %>
  
  <fieldset style="padding-bottom:0.5em;margin-bottom:1em;padding-left:1em;">
    <legend><%= _'Filter'%></legend>
    <form id="filter_form" action="setup_task_filters" method="post" style="margin:0;padding:0;">
      <%= link_to_function("Hide Filter", "togglePreviousElement(this, \"#tasks_filter\")", :class => "hideLink") %>

      <div class="builtin filters">
	<% 
	   redir_action = (local_assigns[:redirect_action] ? redirect_action : "list")
	   redir_params = (local_assigns[:redirect_params] ? redirect_params : {})										          	 
	   redir = url_for(redir_params.merge(:action => redir_action))
	-%>
	<input type="hidden" name="redirect_action" value="<%= redir %>" /> 

	<%= customer_project_and_milestones_query_menus %>

	<div id="filter_user" class="filter">
	  <%= query_menu("filter_user", objects_to_names_and_ids(@users)) %>
	  <%= selected_filter_values("filter_user", selected_user_names_and_ids) %>
	</div>

	<div class="filter">
	  <%= query_menu("filter_status", available_statuses) %>
	  <%= selected_filter_values("filter_status", selected_status_names_and_ids) %>
	</div>
      </div>
  
      <div class="extra filters">
	<%= render :partial => "tasks/filter_property", :collection => current_user.company.properties %>
      </div>

      <div class="display filters">
	<%= render(:partial => "tasks/filter_display_options", :locals => local_assigns) %>
      </div>
    </form>
  </fieldset>

<div class="task_view_links">
  <ul class="tabs">
    <%= task_view_links %>
  </ul>
</div>

<div id="quick_add_container" style="display:none;"></div>
<% if (!local_assigns[:hide_organize] or !hide_organize) and can_organize? %>
<div style="float:right;">
  <small>
    <a id="reorder" href="#" onclick="$$( '.handle', '.task-group' ).each(function(value, index) { value.show();});Element.show('done_reordering');Element.hide('reorder');"><%= _'Organize Tasks' %></a>
    <a id="done_reordering" href="#" style="display:none;" onclick="$$( '.handle' ).each(function(value, index) { value.hide();});Element.hide('done_reordering');Element.show('reorder'); $$('.task-group').each( function(value, index) { if( $$( '#' + value.id + ' div').length == 1 ){ value.hide();};});"><%= _'Organizing Done'%></a>
  </small>
</div>
<% end %>
</div>
