<%= hidden_field("task", "id") %>
<%= error_messages_for 'task' %>

<%= render partial: 'timer_bar', locals: { task: @task } if show_timer %>

<div id="task_sidebar">
  <%= render(:partial => "tasks/details", locals: { show_timer: show_timer} )%>
  <%= render(:partial => "tasks/attributes") %>
  <%= render(:partial => "tasks/notifications") %>
  <% if !@task.new_record? -%>
    <%= render(:partial => "work_times") %>
  <% end -%>
  <%= render(:partial => "dependencies") %>
  <%= render(:partial => "attachments") %>
  <%= render(:partial => "resources") %>
</div>
<div id="task_addcomment">
  <%= text_area "task", "name", { :rows => 1, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>
  <%= text_area "task", "description", { :rows => 4, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>
  <div>
    <%= render(:partial => "new_comment", locals: { show_timer: show_timer } ) %>
  </div>

    <div class="page_header">
      <%= _("To-do") %>
      <span id="todo-status-<%= @task.dom_id %>">
        <%= render :partial => "/todos/todos_status", :locals => {:task => @task} %>
      </span>
    </div>
    <div id="todo-container" class="todo-container">
      <%= render :partial => @task.new_record? ? "/todos/todos_clone" : "/todos/todos" %>
    </div>

  <div id="task_history">
    <%= render(:partial => "tasks/history") %>
  </div>
</div>
