<%= hidden_field("task", "id") %>
<%= error_messages_for 'task' %>

<tr>
  <td valign="top" id="task_sidebar">
    <%= render(:partial => "details") %>
    <%= render(:partial => "attributes") %>
    <%= render(:partial => "notifications") %>
    <%= render(:partial => "dependencies") %>
    <%= render(:partial => "attachments") %>
    <%= render(:partial => "resources") %>
    <%= render(:partial => "inline_worklog") %>
  </td>

  <td valign="top">
    <%= render(:partial => "new_comment") %>

    <div id="task_history">
      <%= render(:partial => "history") %>
    </div>
  </td>

</tr>

<script type="text/javascript">
jQuery('#task_status').change(function() {
	if( jQuery('#task_status').val() == "6" ) {
		jQuery('#defer_options').show();
	} else {
		jQuery('#defer_options').hide();
	}
	return false;
});
jQuery('#comment').focus();
</script>
