<%= render partial: 'timer_bar', locals: { task: @task, show_timer: show_timer } unless (@task.new_record? or @new_task or @template) %>

<%= hidden_field("task", "id") %>

<div id="task_sidebar" class="pull-left">
  <%= render(:partial => "tasks/todos")%>
  <%= render(:partial => "tasks/details")%>
  <%= render(:partial => "tasks/attributes") %>
  <%= render(:partial => "tasks/notifications") %>
  <%= render(:partial => "work_times") unless (@task.new_record? or @new_task) %>
  <%= render(:partial => "dependencies") %>
  <%= render(:partial => "attachments") %>
  <%= render(:partial => "resources") %>
</div>

<% if @task.new_record? or @new_task %>
  <div id="task_addcomment">
    <%= text_area "task", "name", { :rows => 1, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>
    <%= text_area "task", "description", { :rows => 4, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>

    <%= render(:partial => "new_comment", locals: { show_timer: show_timer } ) %>
  </div>
<% else %>
  <% cache([ "task_form", @task, current_user.id, controller.controller_name, @task.try(:updated_at), @task.project.try(:updated_at), @task.milestone.try(:updated_at), show_timer  ]) do -%>
    <div id="task_addcomment">
      <%= text_area "task", "name", { :rows => 1, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>
      <%= text_area "task", "description", { :rows => 4, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>

      <%= render(:partial => "new_comment", locals: { show_timer: show_timer } ) %>

      <div id="task_history">
        <%= render(:partial => "tasks/history") %>
      </div>
    </div>
  <% end -%>
<% end -%>

<script type="text/javascript">
  jQuery(function() {
    var el = jQuery("form#taskform")[0];
    <% if @task.new_record? %>
      var taskEditor = new jobsworth.tasks.TaskEditor({el: el});
    <% else %>
      var taskEditor = new jobsworth.tasks.TaskEditor({taskId: <%= @task.id %>, el: el});
    <% end %>
  })
</script>

