  <table cellpadding="0" cellspacing="0" class="content" width="100%" style="padding-left: 1em; padding-right: 1em;">
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
      <td align="left" colspan="3" class="page_header"><div style="float:left;"><%= _ 'History' %></div><div style="float:right;font-size:9px;padding-top:0.2em;padding-right:1.5em;text-transform: none; font-weight: none; letter-spacing:0">
<% if session[:only_comments].to_i == 0 %>
           <%= link_to_remote _('Showing Full History'), :url => {:action => 'toggle_history', :id => @task.id },
                                   :loading => "Element.show('loading');",
                                   :complete => "Element.hide('loading');"
           %>
<% else %>
           <%= link_to_remote _('Showing Only Comments'), :url => {:action => 'toggle_history', :id => @task.id},
                                   :loading => "Element.show('loading');",
                                   :complete => "Element.hide('loading');"
           %>
<% end %>
</div></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <%  day = 0
        for log in @logs
          if day != (tz.utc_to_local(log.started_at)).yday
             day = (tz.utc_to_local(log.started_at)).yday
           %>
                <tr>
                  <td class="log_header" colspan="3"><%= tz.utc_to_local(log.started_at).strftime("%A, %d %B %Y") %>
                  </td>
                </tr>
        <% end %>
        <%= render :partial => 'activities/log_row', :locals => {:log => log} %>
    <% end %>
  </table>