<div class="page_header"><%= _ 'History' %></div><span style="float:right">
<% if session[:only_comments].to_i == 0 %>
           <%= link_to_remote _('Showing Full History'), :url => {:action => 'toggle_history', :id => @task.id },
                                   :loading => "showProgress();",
                                   :complete => "hideProgress();"
           %>
<% else %>
           <%= link_to_remote _('Showing Only Comments'), :url => {:action => 'toggle_history', :id => @task.id},
                                   :loading => "showProgress();",
                                   :complete => "hideProgress();"
           %>
<% end %>
</span>
<ul>
<%  day = 0
@logs ||= []
@logs.each do |log|
	if day != (tz.utc_to_local(log.started_at)).yday
		day = (tz.utc_to_local(log.started_at)).yday
%>
	<h4><%= tz.utc_to_local(log.started_at).strftime("%A, %d %B %Y") %></h4>
	<% end %>
	<%= render :partial => 'activities/log_row2', :locals => {:log => log} %>
<% end %>
</ul>