<fieldset id="worklog" class="sidebar">
  <legend><%=_ "Work log" %></legend>
  <p>
    <%=_ "Enter a duration to create a work log." %>
  </p>
  <% fields_for "work_log" do |f| -%>
    <%= f.label :started_at, _("Start") %>
    <%= f.text_field :started_at, :class => "text", :value => formatted_datetime_for_current_user(Time.now) %>

    <%= render(:partial => "/common/custom_attributes", :locals => { :object => current_user.company.work_logs.build }) %>

    <%= f.label :duration, _("Duration worked") %>
    <%= f.text_field :duration, :class => "text" %>

    <%= f.label :body, _("Notes") %>
    <%= f.text_area :body %>
  <% end -%>
</fieldset>
