<fieldset id="task_information">
	<%= text_area_tag 'comment', params[:comment], { :rows => 3, :class => 'autogrow', :onKeyUp => "highlightActiveNotifications()" }.merge( perms['comment'] )  %>
	<%= cit_submit_tag(@task) %>
	
	<% if current_user.access_level_id > 1 %>
		<div id="accessLevel_container">
			<%fields_for :work_log do |f| %>
				<div onclick="toggleAccess();"></div>
				<%= f.select :access_level_id, ['1', '2']%>
			<% end %>
		</div>
	<% end %>
	<%= render(:partial=> 'upload_container') %>
	<%= render(:partial=> 'worktime_container') %>
	<%= render(:partial => "time_links", :locals => { :task => @task }) %>
</fieldset>