<div id="task_information" class="clearfix">
  <div id="snippet" class="ui-icon ui-icon-clipboard">
    <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
      <% current_user.company.pages.snippets.collect do |snippet| %>
        <li class="ui-menu-item" id="snippet-<%= snippet.id %>">
          <a class="ui-corner-all" tabindex="-1"><%= snippet.name %></a>
        </li>
      <% end -%>
      <li class="ui-menu-item"><a href="/pages/new">Create a snippet...</a></li>
    </ul>
  </div>
  <%= text_area_tag 'comment', params[:comment], { :rows => 3, :class => 'autogrow'}.merge( perms['comment'] )  %>
  <%= hidden_field(:work_log, :duration) %>
  <%= hidden_field(:work_log, :started_at) %>

  <div id="save-ui" class="pull-left">
    <% if show_timer %>
      <%= render partial: 'save_dropdown' if show_timer %>
    <% else %>
      <%= button_tag 'Save', id: 'save-btn', class: 'btn' %>
    <% end %>
  </div>

  <% if current_user.access_level_id > 1 %>
    <div id="accessLevel_container">
      <%= fields_for :work_log do |f| %>
        <div id="user_access_public_privat"></div>
        <%= f.select :access_level_id, ['1', '2']%>
      <% end %>
    </div>
  <% end %>

  <%= render(:partial=> 'upload_container') %>
  <br clear="both"/>
  <span id="notify_users"></span>
</div>
