<div class="section next_tasks_panel" id="next-tasks-panel-<%= user.id %>" data-user="<%= user.id %>">
  <a class="collapsable-button">&nbsp;</a>
  <div class="page_header">
    <div>
      <%= link_to user.name, "/users/edit/#{user.id}" %>
      <%= link_to_tasks_filtered_by('<i class="icon-tasks"></i>'.html_safe, user, :class => "pull-right", "data-placement" => "left", :rel => "tooltip", :title => t("tasks.show_open_tasks", user: user.name)) %>
    </div>
  </div>
  <div class="panel_content">
    <ul>
      <% count = 5 if ( count.nil? || count < 5) %>
      <% user.schedule_tasks(:limit => count, :save => false) do |task| %>
        <li>
          <%= render :partial => 'tasks/task_line', :locals => { :task => task, :user => user } %>
        </li>
      <% end %>
    </ul>
    <% if user.tasks.open_only.not_snoozed.count > count %>
      <div><a class="more_tasks" href ='#'> <%= t("tasks.more_tasks") %> </a></div>
    <% end %>
  </div>
</div>
