<div class="section next_tasks_panel" id="next-tasks-panel-<%= user.id %>" data-user="<%= user.id %>">
  <a class="collapsable-button">&nbsp;</a>
  <div class="page_header">
    <div>
      <%= link_to user.name, "/users/edit/#{user.id}" %>
      <%= link_to_tasks_filtered_by('<i class="icon-tasks"></i>'.html_safe, user, :class => "pull-right", "data-placement" => "left", :rel => "tooltip", :title => "show open tasks of #{user.name}") %>
    </div>
  </div>
  <div class="panel_content">
    <ul>
      <% acc_total = user.work_logs.where("started_at > ? AND started_at < ?", user.tz.now.beginning_of_day, user.tz.now.end_of_day).sum(:duration) %>
      <% count = 5 if ( count.nil? || count < 5) %>
      <% for task in user.next_tasks(count) %>
        <li>
          <% acc_total += task.estimate %>
          <% due_num = (acc_total / user.workday_duration).to_i %>
          <% if due_num == 0 %>
            <span class="label label-warning">today</span>
          <% elsif due_num == 1 %>
            <span class="label label-info">tomorrow</span>
          <% elsif user.tz.now + due_num.days < user.tz.now.end_of_week %>
            <span class="label label-inverse">this week</span>
          <% elsif user.tz.now + due_num.days < user.tz.now.end_of_month %>
            <span class="label">this month</span>
          <% end %>

          <b><%= link_to "##{task.task_num}", task_view_path(task.task_num), 'data-taskid' => task.id, "data-content" => task_detail(task) %></b>
          <%= task.name %>
          <small><%= ( "(" + worked_nice(task.duration) + ")" ) if task.duration > 0 %></small>
          <%= link_to "<i class=\"icon-move\"></i>".html_safe, "#", :title => "reorder task", :class => "pull-right" %>
        </li>
      <% end %>
    </ul>
    <% if user.tasks.open_only.not_snoozed.count > count %>
      <div><a class="more_tasks" href ='#'>More...</a></div>
    <% end %>
  </div>
</div>
