<div class="section next_tasks_panel span4" id="next-tasks-panel-<%= user.id %>" data-user="<%= user.id %>">
  <a class="collapsable-button">&nbsp;</a>
  <div class="page_header">
    <div>
      <%= link_to user.name, "/users/edit/#{user.id}" %>
      <%= link_to_tasks_filtered_by('<i class="icon-tasks"></i>'.html_safe, user, :class => "pull-right", "data-placement" => "left", :rel => "tooltip", :title => "show open tasks of #{user.name}") %>
    </div>
  </div>
  <div class="panel_content">
    <ul>
      <% count = 5 if ( count.nil? || count < 5) %>
      <% for task in user.next_tasks(count) %>
        <li>
          <b><%= link_to "##{task.task_num}", task_view_path(task.task_num), 'data-taskid' => task.id, "data-content" => task_detail(task) %></b>
          <%= task.name %>
          <small><%= ( "(" + worked_nice(task.duration) + ")" ) if task.duration > 0 %></small>
          <%= link_to "<i class=\"icon-move\"></i>".html_safe, "#", :title => "reorder task", :class => "pull-right" %>
        </li>
      <% end %>
    </ul>
    <% if user.tasks.open_only.not_snoozed.count > count %>
      <div><a class="more_tasks" href ='#'>More...</a></div>
    <% end %>
  </div>
</div>
