<div class="section next_tasks_panel" id="next-tasks-panel-<%= current_user.id %>" data-user="<%= current_user.id %>">
  <a class="collapsable-button">&nbsp;</a>
  <div class="page_header">
    <%= t("tasks.next_tasks") %>
  </div>
  <div class="panel_content">
    <ul>
      <% count = 5 if ( count.nil? || count < 5) %>
      <% current_user.schedule_tasks(:limit => count, :save => false) do |task| %>
        <li>
          <%= render :partial => 'tasks/task_line', :locals => { :task => task, :user => current_user } %>
        </li>
      <% end %>
    </ul>
    <% if current_user.tasks.open_only.not_snoozed.count > count %>
      <div><a class="more_tasks" href ='#'> <%= t("tasks.more_tasks") %> </a></div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  jQuery(function() {
    var nextTaskPanel = new jobsworth.tasks.NextTaskPanel({el:jQuery(".next_tasks_panel")[0]});
  })
</script>
