<% users = (@task.users + @task.watchers).uniq -%>

<fieldset id="task_notify">
  <legend><%=_ 'Notifications' %></legend>

  <label for="clients"><%=_ "Clients" %></label>
  
  <%= text_field :customer, :name, {:size => 12, :value => ""}.merge(perms['edit']) %>
  <br/>
  <script type= "text/javascript">
    autocomplete('#customer_name', '#customer_name_auto_complete', '/tasks/auto_complete_for_customer_name', addCustomerToTask);
  </script>
  <div id="task_customers">
    <%= render :partial => "tasks/task_customer", :collection => @task.customers %>
  </div>

  <label for="task_requested_by"><%=_ 'Requested By' %></label>
  <%= text_field 'task', 'requested_by', {:size => 12}.merge(perms['edit']) %>
  <br/>

  <%= label_tag "task_notify_emails", _("Notify Emails"), :title => _("One per line") %>
  <%= text_area(:task, :notify_emails, :class => "small",
      :value => notify_emails_on_newlines(@task), :rows => 2, :cols => nil) %>
  <br />

  <label for="notification-input">
    <%= _"Users To Notify" %>
    <% if !users.include?(current_user) -%>
      &nbsp;&nbsp;
      <small>
	<%= add_me_link %>
      </small>
      <% end -%>
  </label>

  <%= add_notifier_field %>
  <br clear="all" />
  <%= render(:partial => "tasks/notification", :collection => users) %>
</fieldset>
