<% 
   user = notification 
   classname = "user" 
   classname += " will_notify" if @task.new_record?
-%>
<div class="<%= classname %>">
  <%= hidden_field_tag("users[]", user.id) %>
  <%= hidden_field_tag("assigned[]", user.id, :disabled => !@task.users.include?(user), :class => "assigned") %>
  <%= hidden_field_tag("notify[]", user.id, :class => "notify") %>

  <label>
    <%= assigned_icon(@task, user) %>
    <%= notify_icon(@task, user) %>
  </label>

  <%= link_to_function(image_tag("cross_small.png"), "removeTaskUser(this)", :class => "removeLink") %>
  <%= link_to(user.name, :controller => "users", :action => "edit", :id => user) %>
  <br />
</div>
