<%
if params[:users]
  owners = params[:assigned] || []
  watchers = params[:users] - owners
  @task.owners = owners.collect{|id| User.find(id) }
  @task.watchers = watchers.collect{|id| User.find(id) }
end
users = (@task.owners + @task.watchers).uniq
email_addresses = @task.email_addresses
-%>

<fieldset id="task_notify" class="clearfix">
  <legend><%=_ 'Notifications' %></legend>

  <div id="task_customers" class="clearfix">
    <p><%=_ "Clients" %></p>
    <div class="customer_list">
      <%= render :partial => "tasks/task_customer", :collection => @task.customers %>
    </div>
    <div class="control-group">
      <label for="clients">&nbsp;</label>
      <%= text_field :customer, :name, {:id => "task_customer_name_auto_complete", :size => 12, :value => "", :autocomplete => "off"}.merge(perms['edit']) %>
    </div>
  </div>

  <div id="task_users" class="clearfix">
    <p><%= _"Users To Notify" %></p>

    <div class="user_list">
      <%= render(:partial => "tasks/notification", :collection => users) %>
      <%= render(:partial => "tasks/unknown_notification", :collection => email_addresses) %>
    </div>

    <div class="control-group">
      <label for="clients">
        <% if !users.include?(current_user) -%>
          &nbsp;&nbsp;
          <small>
            <%= add_me_link %>
          </small>
        <% end -%>
      </label>
      <%= text_field(:user, :name, :size=> "12", :id => "user_name_auto_complete" ) %>
      <span id="users_to_notify_popup_button" class="icon-user"></span>
    </div>
    <div id="users_to_notify_list" style="position:absolute;margin-left:85px;z-index:100;left:0;display:none;"></div>
  </div>
</fieldset>
