<%
if params[:users]
  owners = params[:assigned] || []
  watchers = params[:users] - owners
  @task.owners = owners.collect{|id| User.find(id) }
  @task.watchers = watchers.collect{|id| User.find(id) }
end
users = (@task.owners + @task.watchers).uniq
email_addresses = @task.email_addresses
-%>

<fieldset id="task_notify">
  <legend><%=_ 'Notifications' %></legend>

  <label for="clients"><%=_ "Clients" %></label>
  
  <%= text_field :customer, :name, {:id => "task_customer_name_auto_complete", :size => 12, :value => "", :autocomplete => "off"}.merge(perms['edit']) %>
  <br/>
  <div id="task_customers">
    <%= render :partial => "tasks/task_customer", :collection => @task.customers %>
  </div>

  <label for="task_requested_by"><%=_ 'Requested By' %></label>
  <%= text_field 'task', 'requested_by', {:size => 12}.merge(perms['edit']) %>
  <br/>

  <br clear="all" />
  <label for="notification-input">
    <%= _"Users To Notify" %>
    <% if !users.include?(current_user) -%>
      &nbsp;&nbsp;
      <small>
	<%= add_me_link %>
      </small>
      <% end -%>
  </label>

  <%= text_field(:user, :name, :size=> "12", :id => "user_name_auto_complete" ) %>

  <span id="users_to_notify_popup_button" style="margin-top:5px;cursor:pointer;" class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span>
  <br clear="all" />
  <span id="users_to_notify_list" style="position:absolute;width:180px;margin-left:110px;"></span>
  <%= render(:partial => "tasks/notification", :collection => users) %>
  <%= render(:partial => "tasks/unknown_notification", :collection => email_addresses) %>
</fieldset>
