<% users = (@task.users + @task.watchers).uniq -%>

<fieldset id="task_notify" style="padding-right:0;">
  <legend><%=_ 'Notifications' %></legend>

  <label for="clients"><%=_ "Clients" %></label>
  <%= text_field_with_auto_complete(:customer, :name, 
      { :size => 12, :value => "" }, :after_update_element => "addCustomerToTask") %>
  <div id="task_customers">
    <%= render :partial => "task_customer", :collection => @task.customers %>
  </div>

  <label for="task_requested_by"><%=_ 'Requested By' %></label>
  <%= text_field 'task', 'requested_by', {:size => 12}.merge(perms['edit']) %>
  <br/>

  <%= label_tag "task_notify_emails", _("Notify Emails"), :title => _("One per line") %>
  <%= text_area :task, :notify_emails, :value => notify_emails_on_newlines(@task), :rows => 2, :wrap => "off" %>
  <br />

  <label for="notification-input">
    <%= _"Users To Notify" %>
    <% if !users.include?(current_user) -%>
      &nbsp;&nbsp;
      <small>
	<%= add_me_link %>
      </small>
      <% end -%>
  </label>

  <%= add_notifier_field %>
  <br clear="both" />
  <%= render(:partial => "notification", :collection => users) %>
</script>

</fieldset>
