<% 
   user = notification 
   classname = "user" 
   if @task.new_record? and @task.should_be_notified?(user)
     classname += " will_notify" 
   elsif current_user == user and !user.receive_own_notifications?
     classname += " will_never_receive"
   end
-%>
<div class="<%= classname %>">
  <%= hidden_field_tag("users[]", user.id) %>
  <%= hidden_field_tag("assigned[]", user.id, :class => "assigned",
      :disabled => !@task.users.include?(user)) %>
  <%= hidden_field_tag("notify[]", user.id, :class => "notify", 
  :disabled => !@task.should_be_notified?(user)) %>

  <label>
    <%= assigned_icon(@task, user) %>
    <%= notify_icon(@task, user) %>
  </label>

  <%= link_to_function(image_tag("cross_small.png"), "removeTaskUser(this)", :class => "removeLink") %>
  <%= link_to(user.name, { :controller => "users", :action => "edit", :id => user, :layout => "popup" },
  :rel => "shadowbox;height=480;width=640;player=iframe") %>
  <br />
</div>
