<% cache([ "search_filter", current_task_filter ]) do -%>

<div class="search_filter">
  <%= text_field_tag "filter", "Type to filter tasks", :id => "search_filter", :autocomplete =>"off" %>
  <div id="search_filter_auto_complete" class="auto_complete"></div>
  <%= auto_complete_field("search_filter", :url => search_task_filters_path, 
  :frequency => 1, :after_update_element => 'addSearchFilter') %>
  <%= javascript_tag("addSearchFilterTaskIdListener()", :defer => "defer") %>

  <%= remote_filter_form_tag %>
  <% 
     redir_action = (local_assigns[:redirect_action] ? redirect_action : "list")
     redir_params = (local_assigns[:redirect_params] ? redirect_params : {})
     redir = url_for({ :action => redir_action, :format => "js" }.merge(redir_params))
  -%>
  <input type="hidden" name="redirect_action" value="<%= redir %>" /> 

  <div class="links">
    <%= render :partial => "/task_filters/qualifier", :collection => current_task_filter.qualifiers %>
    <%= render :partial => "/task_filters/keyword", :collection => current_task_filter.keywords %>
    <%= render :partial => "/task_filters/booleans", :locals => { :task_filter => current_task_filter } %>
  </div>
</form>
</div>

<% end -%>

<% if !local_assigns[:hide_tabs] %>
  <ul class="tabs">
  <%
    links = []
    links << [ "List", { :controller => "tasks", :action => "list" } ]
    links << [ "Schedule", { :controller => "schedule", :action => "list" } ]
    links << [ "Gantt", { :controller => "schedule", :action => "gantt" } ]

    link_list = ""
    links.each_with_index do |opts, i|
      name, url_opts = opts
      link = link_to(name, url_opts)
      class_names = []
      class_names << "first" if i == 0
      class_names << "last" if i == links.length - 1
      class_names << "active" if params.merge(url_opts) == params

      link_list += content_tag(:li, link, :class => class_names.join(" "))
    end
   -%>
   <%= link_list %>
  </ul>
<% end %>
