<div class="search_filter">
  <%= text_field_tag "filter", "Type to filter tasks", :id => "search_filter" %>
  <div id="search_filter_auto_complete" class="auto_complete"></div>
  <%= auto_complete_field "search_filter", :url => "/filter", :after_update_element => "addSearchFilter" %>
  <%= select_on_focus("#search_filter") %>

  <%= remote_filter_tag %>
  <% 
     redir_action = (local_assigns[:redirect_action] ? redirect_action : "list")
     redir_params = (local_assigns[:redirect_params] ? redirect_params : {})
     redir = url_for(redir_params.merge(:action => redir_action, :format => "js"))
  -%>
  <input type="hidden" name="redirect_action" value="<%= redir %>" /> 

  <div class="links">
    <%= all_current_filters.join(", ") -%>
  </div>
</form>
</div>

