<div class="search_filter">
  <%= text_field_tag "filter", "Type to filter tasks", :id => "search_filter" %>
  <div id="search_filter_auto_complete" class="auto_complete"></div>
  <%= auto_complete_field "search_filter", :url => "/filter", :after_update_element => "addSearchFilter" %>
  <%= select_on_focus("#search_filter") %>

  <%= remote_filter_form_tag %>
  <% 
     redir_action = (local_assigns[:redirect_action] ? redirect_action : "list")
     redir_params = (local_assigns[:redirect_params] ? redirect_params : {})
     redir = url_for(redir_params.merge(:action => redir_action, :format => "js"))
  -%>
  <input type="hidden" name="redirect_action" value="<%= redir %>" /> 

  <div class="links">
    <% task_filter.qualifiers.each do |q| -%>
      <span class="search_filter">
	<%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_id]", q.qualifiable_id, :class => "id" %>
	<%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_type]", q.qualifiable_type, :class => "type" %>
	
	<%= q.qualifiable_type == "PropertyValue" ? q.qualifiable.property.name : q.qualifiable_type %>:
	<%= q.qualifiable %>
	<%= link_to_function(image_tag("cross_small.png"), "removeSearchFilter(this)") %>
	&nbsp;
      </span>
    <% end %>
  </div>
</form>
</div>

