<%= render(:partial => "search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>

<div id="task_list">
  <div id="print_title"><%= print_title %></div>
  <table id="list" class="tablesorter">
    <thead>
      <tr>
	<th></th>
	<th><%= _("ID") %></th>
	<th><%= _("Type") %></th>
	<th><%= _("Summary") %></th>
	<th><%= _("Client") %></th>
	<th><%= _("Project/Milestone") %></th>
	<th><%= _("Due Date") %></th>
	<th><%= _("Hours") %></th>
	<th><%= _("Assigned") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "task_row_v2", :collection => @tasks %>
    </tbody>
  </table>
</div>

<%= sortable_table("#list", session[:filter_sort]) -%>
