<% pill_date ||= task.estimate_date %>

<div class="<%= user.top_next_task == task ? 'top-next-task' : nil %>">
  <%= human_future_date(pill_date, user) %>
  <span class="<%= task.css_classes %>">
    <%= link_to "<b>##{task.task_num}</b>".html_safe, task_view_path(task.task_num), 'data-taskid' => task.id, "data-content" => task_detail(task, user) %>
    <%= task.name %>
    <small><%= ( "(" + TimeParser.format_duration(task.minutes_left) + ")" ) %></small>
    
    <%= link_to "<i class=\"icon-move\"></i>".html_safe, "#", :title => "reorder task", :class => "pull-right" %>
  </span>
</div>
