<%- task = task_row_v2 %>
<%- customer = (task.customers.first || task.project.customer) %>

<tr class="<%= cycle("odd", "even") %>" onclick="document.location='/tasks/edit/<%= task.task_num %>'">
  <td>
    <%= task_icon(task) %>
  </td>
  <td class="tooltip" title="<%= task_info_tip(task) %>">
    <%= link_to(task.name, "/tasks/edit/#{ task.task_num }") %>
  </td>
  <td class="tooltip" title="<%= task_customer_tip(customer) %>">
    <%=h customer.name %>
  </td>
  <td class="tooltip" title="<%= task_milestone_tip(task) %>">
    <% str = [ task.project.name ] -%>
    <% str << task.milestone.name if task.milestone_id.to_i > 0 %>
    <%=h "#{ str.join("/") }" %>
  </td>
  <td>
    <%=h formatted_date_for_current_user(task.due_date) %>
  </td>
  <td>
    <%= (task.minutes_left / 60.0).round(1) %>
  </td>
  <td class="tooltip" title="<%= task_users_tip(task) %>">
    <%=h task.users.map{ |u| u.name }.join(", ") %>
  </td>
</tr>
