<% if session[:hide_deferred].to_i == 0 || task.active? -%>

<div id="task_<%=task.id %>"
<%
 depth ||= 1
 depth = 1 if depth < 1
 classes = ""

 can_complete = { :disabled => "disabled" } unless current_user.can?(task.project, 'close')
 can_complete ||= {}

 can_work = { :disabled => "disabled" } unless current_user.can?(task.project, 'work')
 can_work ||= {}

 classes << " #{task.project.to_css_name}"
 classes << " override_filter" if defined?(override_filter) && override_filter
 classes << " waiting_deferred" unless task.active?

 classes << " task_active_others" if task.worked_on?
 classes << " task_active" if @current_sheet && @current_sheet.task_id == task.id
 classes << " task_done" if task.done?
 classes << " task_paused" if @current_sheet && @current_sheet.task_id == task.id && @current_sheet.paused?
 classes << " #{task.dom_id}"
 classes << " unread" if task.unread?(current_user)
-%>
class="task <%=classes%>" style="position:relative; <%= color_style(task) %> <% if depth > 1 %>margin-left:<%= 8 + (depth - 1) * 16%>px<% end %>">
<% @task = task %>
<div id="row-<%=task.dom_id%>" class="task-row clearfix" style="width:100%;">
  <% if current_user.show_type_icons? %>
    <div class="task-icon"><%= task_icon(task) %></div>
  <% end %>

  <% if (@current_sheet && @current_sheet.task_id == task.id) || task.done? -%>
    <div class="popout" id="edit_task_<%=task.id%>" style="position:absolute; width:55px; left: -59px; top: 0px; z-index:10; padding-right:2px;" align="right">
    <% if !(@current_sheet && @current_sheet.task_id == task.id) -%>
        <% if task.done? -%>
          <% if task.hidden == 0 -%>
            <%= link_to_function image_tag("folder_add.png", :border => 0, :title => _("Move <b>%s</b> to the Archive.", task.name), :rel => "tooltip"),
                                "jQuery.ajax({url: '/tasks/ajax_hide/#{task.id}', beforeSend:  function(){ showProgress(); }, complete: function(){ hideProgress(); },
                                             success:  function(response){ jQuery('#task_#{task.id}').fadeOut(500); }
                                             })" -%>
          <% else -%>
            <%= link_to_function image_tag("folder_go.png", :border => 0, :title => _("Restore <b>%s</b> from the Archive.", task.name), :rel => "tooltip"),
                                "jQuery.ajax({url: '/tasks/ajax_restore/#{task.id}', beforeSend:  function(){ showProgress(); }, complete: function(){ hideProgress(); },
                                             success:  function(response){ jQuery('#task_#{task.id}').fadeOut(500); }
                                             })" -%>
          <% end -%>
        <% end -%>
      <% end -%>
     </div>
    <% end -%>

  <div id="task-handle-<%=task.id%>" style="float:left; padding-left:0.4em;display:none;" class="handle"><%= image_tag('drag.gif', :border => 0) %></div>
  <div style="float:left; padding-left:0.3em;">
    <%= image_tag "spacer.gif", :width => "16", :height => "16" %>
  </div>
  <div class="unread_icon">
  </div>

   <div style="float:right;" class="avatar"><%= avatar_for task.users.first, 25 unless task.users.empty? %></div>
   <div class="task-name" style="padding-left:2px;">

   <% if controller.controller_name != 'search' %>
     <%= link_to_task(task) -%>
   <% else %>
     <%= link_to_task(task, false, @keys)  -%>
   <% end %>
     <%  if current_user.option_tracktime.to_i == 1 -%>
     <% if task.duration.to_i > 0 -%>
       <span class="<%=task.worked_and_duration_class%>"><%="(#{worked_nice(task.worked_minutes)} / #{worked_nice( task.duration )})"%></span>
     <% end %>
       <%= "(#{worked_nice(task.worked_minutes)})" if( task.duration.to_i == 0 && task.worked_minutes > 0) -%>
     <% end -%>
     <% unless task.milestone_id.to_i == 0 %>
       <span class="task_milestone">[<%= task.milestone.name %>]</span>
     <% end %>
   <% name = _("No one")
      name = task.users.collect{|u| u.name}.join(', ') unless task.users.empty?
   %>

   <div class="task_info description">
   <% if controller.controller_name != 'search' %>
     <% if task.project %>
       <%= task.project.full_name %> /
       <% task.tags.each do |t| %>
         <a href="/tasks?tag=<%= t.name %>" class="description">
           <%= t.name.capitalize.gsub(/\"/,'&quot;'.html_safe) %>
         </a> /
       <% end %>
     <% end %>
   <% else %>
   <%= highlight_all(task.full_name_without_links, @keys) %>
   <% end %>
   <span class="otheruser">[<%= name %>]</span>
   <%= due_in_words(task) unless task.due_date && task.done?%>
   <%= "[#{overdue_time(task.completed_at)}]" if task.done?%>
   </div>

   </div>

   </div>
</div>

<div style="clear:both;"></div>

<% end %>
