<%
custom_attributes = current_user.company.custom_attributes.where(:attributable_type => "WorkLog")

attribute = nil
custom_attributes.each do |ca|
  if ca.preset?
    attribute = ca
    break
  end
end

default_choice = nil
if attribute
  default_choice = attribute.custom_attribute_choices.first

  # set latest used value as default
  last = @task.work_logs.worktimes.where(:user_id => current_user.id).last
  if last
    last_value = last.custom_attribute_values(:include => :choice).where(:custom_attribute_id => attribute.id).first
    default_choice = last_value.choice if last_value
  end
end

-%>

<div id="timer-bar" class="ui-widget-header ui-corner-top ui-helper-clearfix">
  <%= link_to(edit_task_path(@task.task_num)) do %>
    <span id='task-title'><%= @task.issue_num %></span>
  <% end %>  

  <% if show_timer %>

  <div id='timer-ui'>
    <div id="timer-buttons">
      <a href='#'>
        <%= image_tag 'pause-18x18.png', id: 'pause-btn' %>
      </a>
      <a href='#'>
        <%= image_tag 'pause_pressed-18x18.png', id: 'play-btn' %>
      </a>
    </div>

    <div id="duration-display">
      <span id='timer-bar-elapsed' class='elapsed'>
        <span id='hours' class='timer-bar'>
          <span class="timer-val"></span>
          <span class="unit">hour</span>
        </span>
        <span id='minutes' class='timer-bar'>
          <span class="timer-val"></span>
          <span class="unit">minute</span>
        </span>
      </span>
  
      <% if attribute %>
        <div id="worklog-property" style="position:relative;" class="dropdown">
          <input name="work_log[set_custom_attribute_values][][choice_id]" type="hidden" id="choice-id" value="<%= default_choice.id %>"></input>
          <input name="work_log[set_custom_attribute_values][][custom_attribute_id]" type="hidden" value="<%= attribute.id %>"></input>
          <span style="vertical-align:top;" class="dropdown-toggle" data-toggle="dropdown" id="selected-worklog-property"><%= default_choice.value %><b class="caret"></b></span>
          <ul class="dropdown-menu">
            <% attribute.custom_attribute_choices.each do |cac| %>
              <li data_id="<%= cac.id %>">
                <a href="#"><%= cac.value %></a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
    <%= pin_link(@task) %>
  </div>

  <%end %>
</div>
