<div id="worktime_container">
        <%= fields_for "work_log" do |f| -%>
                <label>Time worked</label>
                <%= f.text_field :duration, :size => nil %>
                <br/>
                <div id="worklog_extra">
                    <% started_at_preference= current_user.preference('started_at') || 'open' %>
                    <div id="started_at">
                        <a class="collapsable-sidepanel-button panel-<%= started_at_preference %>">&nbsp;</a>
                          <div class="field_header tooltip" title="<%= _'Will be set to the current time, if empty.'%>">
                            <%= _("Work started at") %>
                          </div>
                          <span class="panel_content">
                            <%= f.text_field :started_at,  :size => nil, :value =>"" %>
                          </span>
                          <br/>
                        </div>
                    <%= render(:partial => "/common/custom_attributes", :locals => { :object => current_user.company.work_logs.build }) %>
                </div>
        <% end -%>
</div>
