<%
  last = @task.work_logs.worktimes.where(:user_id => current_user.id).last
  # set default log settings
  if last
    @log = last.dup
    @log.custom_attribute_values = last.custom_attribute_values
  else
    @log  = current_user.company.work_logs.build()
    @log.task = @task
    @log.started_at = Time.now.utc - @log.duration
  end
%>

<div id='worktime-dialog' class='modal hide' data-backdrop="false">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%=_ "New Log Entry" %>- <%= @log.task %></h3>
  </div>

  <div class="form-horizontal modal-body">
    <fieldset>
      <%= hidden_field_tag :task_id, @log.task.task_num %>

      <div class="control-group">
        <%= label :started_at, _("Start") %>
        <div class="controls">
          <%= text_field :work_log, :started_at, :value => tz.utc_to_local(Time.now.utc).strftime("#{current_user.date_format} #{current_user.time_format}"), :size => 20 %>
        </div>
      </div>

      <%= render(:partial => "/common/custom_attributes", :locals => { :object => @log }) %>

      <div class="control-group">
        <%= label :work_log, :customer_name, _("Client") %>
        <div class="controls">
          <%= select :work_log, :customer_id, work_log_customer_options(@log) %>
        </div>
      </div>

      <div class="control-group">
        <label for="work_log_duration"><%=_ 'Time worked' %></label>
        <div class="controls">
          <%= text_field(:work_log, :duration, :value => worked_nice(@log.duration/60),
             :size => 10, :rel => 'tooltip', :title => _('1w 2d 3h 4m'), "data-placement" => "right") %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary save">Save</button>
    <button class="btn" data-dismiss="modal">Cancel</button>
  </div>

</div>
