<% @page_title = t("tasks.calendar_title", title: Setting.productName) %>

<%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>


<ul class="nav nav-tabs">
  <li><a href="/tasks"><i class="icon-list"></i> <%= t("tasks.icon_list") %> </a></li>
  <li class="active"><a href="/tasks/calendar"><i class="icon-calendar"></i> <%= t("tasks.icon_calendar") %> </a></li>
  <li><a href="/tasks/gantt"><i class="icon-align-left"></i> <%= t("tasks.icon_gantt") %> </a></li>
</ul>

<div id="groupby" style="display:none">
  <%= select_tag("chngroup", options_for_changegroup, :onChange => "change_group()") %>
</div>

<div style="padding-top:0.3em;padding-right:1em;" id="calendar"></div>
<script type="text/javascript">
  jQuery(function() {
    init_calendar();
  })
</script>

<div id="task">
</div>
