<fieldset class="basic">
<legend><%=_ 'Edit Log Entry' %> - <%= @log.task.name %></legend>

<% form_for(@log, :url => { :action => "save_log", :id => @log }) do |f| -%>
  <%= render(:partial => "form_edit_log", :locals => { :f => f }) %>
  <% if @log.log_type == EventLog::TASK_WORK_ADDED  %>
  <label for="task_status"><%=_ 'Status' %></label>
    <%= select 'task', 'status', work_log_status_options, 
	{ :selected => @task.status }, work_log_status_html_options %>
  <% else %>
    <label for="notify"></label>
  <% end %>
  
  <br/>
  <label>&nbsp;</label>
  <div class="buttons">
    <%= submit_tag _("Save"), :class => 'nolabel' %>
  </div>
<% end %>

<br />
<% if @log.user_id.to_i == current_user.id || current_user.admin? %>
  <%= link_to _("Delete Log Entry"), {:controller => 'tasks', :action => 'destroy_log', :id => @log}, :confirm => _("Really delete this log entry?")  %>
<% end %>
</fieldset>
