{"tasks": {
"rows": [
<%
  total_time = 0
  @tasks.each_with_index do |task, idx|
    customer = (task.customers.first || task.project.customer)
    readFlag = ""
    total_time += task.minutes_left.to_i
    if (task.unread?(current_user))
      readFlag = "f" # this task is unread
    elsif (task.users + task.watchers).include?(current_user) # only users assigned to or watching a task can mark unread
      readFlag = "t" # this task is read and can be switched to unread
    else
      readFlag = "x" # this task doesn't have the current user assigned/cc
    end
%>
  {
    "read":<%= readFlag.to_json.html_safe %>,
    "id":<%= task.task_num.to_json.html_safe %>,

    <% task.company.properties.each do |prop| -%>
      <% prop_query = TaskPropertyValue.find_by_task_id_and_property_id(task.id, prop.id).property_value rescue "" -%>
      <% prop_value = prop_query == "" ? "<span id='position_#{prop.name.downcase}_9999'></span>": "<span id='position_#{prop.name.downcase}_#{prop_query.position_to_s}'>#{prop_query.to_html}</span>" rescue "" -%>
      <%= h(prop.name.downcase).to_json.html_safe %>:<%= prop_value.to_json.html_safe %>,
    <% end -%>

    "summary":<%= h(task.name).to_json.html_safe %>,
    "client":<%= h(customer.name).to_json.html_safe %>,
    <% str = [ task.project.name ] -%>
    <% str << task.milestone.name.strip if task.milestone_id.to_i > 0 -%>
    "milestone":<%= h(str.join("/")).to_json.html_safe %>,
    "due":<%= due_in_words(task).to_json.html_safe %>,
    "time":<%= task.minutes_left.to_i.to_json.html_safe rescue "\"\"".html_safe %>,
    "assigned":<%= h(task.owners.map{ |u| u.name }.join(", ")).to_json.html_safe %>,
    "resolution":<%= task.status_type.to_json.html_safe %>,
    "updated_at":<%= last_comment_date(task).to_json.html_safe %>
  }
  <%= "," unless @tasks.size - 1 == idx  %>
  <% end -%>
],
"records":"<%= @tasks.size %>",
"userdata":{"time":<%= total_time.to_json.html_safe %>}
}
}
