<% if @task %>
  <% @page_title = t("tasks.title", num: @task.task_num, title: "#{@task.name} - #{Setting.productName}") %>
<% else %>
  <% @page_title = t("tasks.index_title", title: Setting.productName) %>
<% end %>

<%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>

<ul class="nav nav-tabs">
  <li class="active"><a href="/tasks"><i class="icon-list"></i> <%= t("tasks.icon_list") %> </a></li>
  <li><a href="/tasks/calendar"><i class="icon-calendar"></i> <%= t("tasks.icon_calendar") %> </a></li>
  <li><a href="/tasks/gantt"><i class="icon-align-left"></i> <%= t("tasks.icon_gantt") %> </a></li>
</ul>

<div id="task_grid"></div>
<div id="groupBy" class="clearfix"><%= select_tag("chngroup", options_for_changegroup) %></div>

<div id="task">
</div>

<script type="text/javascript">
  jQuery(function() {
    window.grid = new jobsworth.Grid({el: jQuery("#task_grid")[0]});
    window.filter = new jobsworth.Filter();
    <% if @task %>
    new jobsworth.Task(<%= @task.task_num %>)
    <% end %>
  })
</script>
