<tasks>
    <rows>
<%	current_task_filter.tasks.each do |task|
	cache([ task, current_user.id ]) do
	customer = (task.customers.first || task.project.customer) -%>
<task>
	<read sort="<%= default_sort_hint_for_task(task) -%>">*</read>
	<id><%= task.task_num %></id>
<% current_user.company.properties.each do |prop| -%>
    <% pv = task.property_value(prop) -%><<%= prop.name.downcase %> sort="<%= prop.property_values.index(pv) %>"><%= pv.to_html if pv %></<%= prop.name.downcase %>>
<% end -%>
	<summary><%=h task.name %></summary>
	<client tooltip="<%= task_customer_tip(customer) %>"><%=h customer.name %></client>
	<milestone tooltip="<%= task_milestone_tip(task) %>"><% str = [ task.project.name ] -%><% str << task.milestone.name if task.milestone_id.to_i > 0 %><%=h "#{ str.join("/") }" %></milestone>
	<due tooltip="<%= task_tooltip([ [ "Due Date", formatted_date_for_current_user(task.due_date) ] ]) %>"><%= task.due_date %></due>
	<hours><%= (task.minutes_left / 60.0).round(1) if task.minutes_left.to_i > 0 %></hours>
	<assigned tooltip="<%= task_users_tip(task) %>"><%= task.users.map{ |u| u.name }.join(", ") %></assigned>
</task>

<% if (false) %>
<%= task_row_tr_tag(task) %>
  <td class="unread_icon">
    <%- # only users assigned to or watching a task can mark unread %>
    <% if (task.users + task.watchers).include?(current_user) -%>
      <a href="#" onclick="toggleTaskUnread(event);"><span>*</span></a>
    <% end -%>
  </td>
<% end -%>

<% end -%>
<% end -%>
    </rows>
</tasks>