<div id="content">
  <div class="page_header">
    <div class="right"><%= link_to( _('Export'), {:controller => 'tasks', :action => 'get_csv'}) %></div>
    <div><%= _ 'Tasks' %> <%= " / #{session[:view].name}" unless session[:view].nil? %></div>
  </div>
  <%= render(:partial => "search_filter", :locals => { :redirect_action => "list_old", :redirect_params => { :tag => params[:tag] }}) %>
  
  <div id="task_list_old">
    <div id="print_title"><%= print_title %></div>
    <%= render(:partial => "tag_row", :locals => {:groups => @groups, :parent => ""}) %>
  </div>
</div>

<%= render :partial => "/tags/panel" %>
