<p><%= t("tasks.score") %>: <%= @task.weight %> </p>
<p><%= t("tasks.score_adjustment") %>: <%= @task.weight_adjustment %></p>

<div class="score-rules-container">
  <table id="score-rules">
    <tr>
      <th><%= t("tasks.score_name") %></th>
      <th><%= t("tasks.score") %></th>
      <th><%= t("tasks.score_exponent") %></th>
      <th><%= t("tasks.score_type") %></th>
      <th><%= t("tasks.score_final_value") %></th>
    </tr>
    <% @task.score_rules.each do |score_rule| %>
      <tr>
        <td><%= score_rule.name %></td>
        <td><%= score_rule.score %></td>
        <td><%= score_rule.exponent %></td>
        <td><%= ScoreRuleTypes::get_name_of(score_rule.score_type) %></td>
        <td><%= score_rule.final_value %></td>
      </tr>
    <% end %>
  </table>
</div>
