<div id="content">
  <div id="menu">
    <%= render :partial => "layouts/short_info" %>
  </div>
  <fieldset id="shortlist">
    <legend id="shortlist-legend"><%= render :partial => 'short_legend' %></legend>
    <% @clients = Customer.find(:all, :conditions => ["company_id = ?", current_user.company_id], :order => "name").collect{ |c| [c.name, c.id.to_s]} %>
    <div id="shortlist-filter">
    <% form_tag( :controller => 'tasks', :action => 'filter_shortlist' ) do %>
    <select name="filter" id="filter" onchange="javascript:document.forms[0].submit();">
      <option value="0" class="select_default"><%= _("[All Tasks]") %></option>

      <% @clients.each do |c| %>
        <% @client_projects = current_user.projects.find(:all, :conditions => ["customer_id = #{c[1]} AND completed_at IS NULL"], :order => "name") %>
        <% if @client_projects.size > 0 %>
          <option value="c<%=c[1]%>" class="select_heading"<%= " selected" if c[1].to_i == session[:filter_customer_short].to_i %>><%= c[0] %></option>
          <% @client_projects.each do |p| %>
            <option value="p<%= p.id %>" class="select_item"<%= " selected" if( p.id == session[:filter_project_short].to_i && -1 != session[:filter_milestone_short].to_i) %>>&nbsp;&nbsp;<%= p.name %></option>
            <% @project_milestones = Milestone.find(:all, :conditions => ["project_id = #{p.id} AND completed_at IS NULL"], :order => "due_at, name") %>
            <% if @project_milestones.size > 0 -%>
              <% @project_milestones.each do |m| -%>
                <option value="m<%=m.id%>" class="select_subitem"<%= " selected" if m.id == session[:filter_milestone_short].to_i%>>&nbsp;&nbsp;&nbsp;&nbsp;<%= m.name %></option>
              <% end -%>
              <option value="u<%=p.id%>" class="select_default select_subitem"<%= " selected" if session[:filter_milestone_short].to_i == -1 && session[:filter_project_short].to_i == p.id %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= _("[Unassigned]") -%></option>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end %>
    </select>
    </div>
    <% end %>

    <div <%= "style=\"display:none;\"" if @current_sheet.nil? %> id="work-log">
        <div class="log_header tooltip" title="<%= _'Text entered will be saved automatically to your current work notes.'%>"><%= _'Work Log' %></div>
        <form method="post" onsubmit="return false;" id="worklog_form">
	  <textarea name="worklog[body]" id="worklog_body" style="padding:0;margin-top:0.5em;margin-bottom:0.3em;width:100%;" rows="4"><%= @current_sheet.body if @current_sheet%></textarea>
	</form>
	<div id="worklog-saved" class="optional" style="text-align:right;padding-bottom:0.3em;padding-right:1em;"></div>
    </div>
    <div id="shortlist-tasks">
    <% @tasks.each do |task| -%>
      <%= render :partial => 'task_row', :locals => {:task => task, :override_filter => false} -%>
    <% end -%>
    </div>
    <% if session[:filter_project_short].to_i > 0 || session[:filter_milestone_short].to_i > 0 %>
<% form_remote_tag :url => { :action => 'create_shortlist_ajax' },
       :loading => "Element.show('loading');",
       :complete => "Element.hide('loading');",
       :success => "$('task_name').clear();" do %>
    <input type="text" name="task[name]" id="task_name" value="<%= _ 'New Task' %>"/>
<% end %>

<% if current_user.create_projects? %>
<div style="float:right;"><a href="#" onclick="Element.toggle('shortlist-new-project-container');">[<%= _('New Project')%>]</a></div>
<div id="shortlist-new-project-container" style="display:none;">
<% form_remote_tag :url => { :action => 'create_shortlist_ajax', :controller => 'projects' },
       :loading => "Element.show('loading');",
       :complete => "Element.hide('loading');",
       :success => "$('project_name').clear();" do %>
    <input type="text" name="project[name]" id="project_name" value="<%= _ 'New Project' %>"/>
<% end %>
</div>
<% end %>

    <% end %>
  </fieldset>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
fixShortLinks();
if($('task_name')) {
Element.observe('task_name', 'focus', function(e) {
  var el = Event.element(e);
  if(el.value == '<%= _'New Task' %>') {
    Event.element(e).clear();
    el.removeClassName('initial');
  }
});
}


if($('project_name')) {
Element.observe('project_name', 'focus', function(e) {
  var el = Event.element(e);
  if(el.value == '<%= _'New Project' %>') {
    Event.element(e).clear();
    el.removeClassName('initial');
  }
});
}

Event.observe(window, "load", function(e) {
  var el = $('task_name');
  if( el && el.value == '<%= _'New Task' %>') {
    el.addClassName('initial');
  }
  el = $('project_name');
  if( el && el.value == '<%= _'New Project' %>') {
    el.addClassName('initial');
  }

  new Form.Element.Observer('worklog_body', 2, function(element, value) {new Ajax.Updater('worklog-saved', '/tasks/updatelog', {asynchronous:true, evalScripts:true, parameters: Form.serialize($('worklog_form'))  })});


});

// ]]>
</script>
