<table width="100%" cellpadding="0" cellspacing="0" id="content">
  <tr>
    <td style="padding-left: 1em;" valign="top">
      <table cellpadding="0" width="99%" cellspacing="0" class="content">
        <tr>
          <td align="left" class="page_header">
            <div style="float:left;"><%= _ 'Tags' %></div>
          </td>
        </tr>
	<tr>
	  <td>
	    <% @tags.each do |tag| %>
	      <div id="<%=tag.dom_id%>" class="hoverrow" style="padding-left:1em;"><% if tag.count > 0 %><span class="tag_active"><% end %><a href="/tasks/list?tag=<%=URI.encode(tag.name)%>"><%= tag.name %></a><% if tag.count > 0 %></span><% end %> (<%= _("%d open / %d tasks", tag.count, tag.total_count) %>) 
              <small><%= link_to_remote _("Delete"), {
                :url => { :controller => 'tasks', :action => 'delete_tag', :id => tag },
                :loading => "Element.show('loading');",
                :complete => "Element.hide('loading');",
                :confirm => _("Really delete tag?") },
                { :class => 'delete' }
                %></small>
              </div>
            <% end %>
	  </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

