<%= form_for @score_rule, :url => url, :html => {:class => "form-horizontal score_rule_form"} do |form| %>
  <%= render 'shared/validation_errors', :object => form.object %>

  <div class="control-group">
    <%= form.label      :name %>
    <div class="controls">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label      :score %>
    <div class="controls">
      <%= form.text_field :score %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label      :exponent %>
    <div class="controls">
      <%= form.text_field :exponent %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label      :score_type %>
    <div class="controls">
      <%= select('score_rule', 'score_type', ScoreRuleTypes::to_select_list) %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Save', :class => 'btn' %>
  </div>
<% end %>
