<p>
<label for="topic_title"><%=_ 'Title' %></label><br />
<%= form.text_field :title, :onchange => "/*TopicForm.editNewTitle(this);*/", :class => "primary", :tabindex => 10 %>

<% if admin? or current_user.moderator_of?(@topic.forum) %>
<label style="margin-left:1em;">
<%= form.check_box :sticky %> <%=_ 'Sticky' %>
</label>

<label style="margin-left:1em;">
<%= form.check_box :locked %> <%=_ 'Locked' %>
</label>

<% end %>

</p>
<% if @topic.new_record? %>
<p>
<label for="topic_body"><%=_ 'Body' %></label><br />
<%= form.text_area :body, :rows => 12, :tabindex => 20 %></p>
<% end %>

<% if admin? and not @topic.new_record? %>
<p id="topic_forum_id">
  <label for="topic_forum_id"><%=_ 'Forum' %></label><br />
  <%= form.select :forum_id, Forum.find(:all, :conditions => ["company_id = ? AND (project_id IN (#{current_project_ids}) OR project_id IS NULL)", current_user.company_id], :order => "position").map {|x| [x.name, x.id] } %></p>
</p>
<% end %>
