<%= form_for @scm_project do |f| %>
  <fieldset>
  <legend><%= _ 'New SCM project' %> </legend>
  <%= error_messages_for :scm_project %>
  <%= f.label :scm_type, 'SCM type' %>
  <%= f.text_field :scm_type %>
  <br/>
  <%= f.label :location, 'Project location' %>
  <%= f.text_field :location %>
  <br/>
  <p>
  <% if @scm_project.new_record? %>
    <%= submit_tag _("Create"), :class => 'btn' %>
  <% else %>
    <%= submit_tag _("Save"), :class => 'btn' %>
  <% end %>
  </p>
</fieldset>
<% end %>
