<%= form_for(@scm_project, :html => {:class => "form-horizontal"}) do |f| %>
  <fieldset>
    <legend><%= t("scm_projects.new") %> </legend>

    <div class="control-group">
      <%= f.label :scm_type, t("scm_project.scm_type") %>
      <div class="controls">
        <%= f.text_field :scm_type %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location, t("scm_project.location") %>
      <div class="controls">
        <%= f.text_field :location %>
      </div>
    </div>

    <div class="form-actions">
      <% if @scm_project.new_record? %>
        <%= submit_tag t("button.create"), :class => 'btn btn-primary' %>
      <% else %>
        <%= submit_tag t("button.save"), :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </fieldset>
<% end %>
