<div id="<%= @scm_project.dom_id %>">
<p><%= t("scm_projects.scm_type") %>: <%= @scm_project.scm_type %></p>
<p><%= t("scm_projects.location") %>: <%= @scm_project.location %></p>
<p><%= t("scm_projects.secret_key") %>: <%= @scm_project.secret_key%></p>
</div>
