<legend>
  <% if @log.new_record? -%>
    <%=_ "New Log Entry" %>
  <% else -%>
    <%=_ 'Edit Log Entry' %>
  <% end -%>
  - <%= @log.task %>
</legend>

<%= hidden_field_tag :task_id, @log.task.task_num %>

<% if current_user.option_tracktime.to_i == 1 %> 
  <div class="control-group">
    <%= label :started_at, _("Start") %>
    <div class="controls">
      <% if @log.new_record? %>
        <%= text_field(:work_log, :started_at, :value => Time.now.strftime("#{current_user.date_format} #{current_user.time_format}")) %>
      <% else %>
        <%= text_field(:work_log, :started_at, :value => @log.started_at.strftime("#{current_user.date_format} #{current_user.time_format}")) %>
      <% end %>
    </div>
  </div>

  <%= render(:partial => "/common/custom_attributes", :locals => { :object => @log }) %>

  <% if @log.worktime? %>
    <div class="control-group">
      <%= label :work_log, :customer_name, _("Client") %>
      <div class="controls">
        <%= select :work_log, :customer_id, work_log_customer_options(@log) %>
      </div>
    </div>

    <div class="control-group">
      <label for="work_log_duration"><%=_ 'Time worked' %></label>
      <div class="controls">
        <%= text_field(:work_log, :duration, :value => worked_nice(@log.duration/60),
            :size => 10, :rel => 'tooltip', :title => _('1w 2d 3h 4m'), "data-placement" => "right") %>
      </div>
    </div>
  <% end %>
<% end %>

<% unless @log.new_record? %>
  <div class="control-group">
    <label for="work_log_body"><%=_ 'Notes' %></label>
    <div class="controls">
      <%= text_area(:work_log, :body, :rows => 10, :value => @log.body, :class => "input-xxlarge") %>
    </div>
  </div>
<% end %>
