<fieldset class="basic">
<legend>
  <% if @log.new_record? -%>
    <%=_ "New Log Entry" %>
  <% else -%>
    <%=_ 'Edit Log Entry' %>
  <% end -%>
  - <%= @log.task %>
</legend>

<% form_for(@log) do |f| -%>
  <%= hidden_field_tag :task_id, @log.task.task_num %>
  <%= f.hidden_field :log_type %>

  <%= error_messages_for "log" %>

  <%= f.label :started_at, _("Start") %>
  <%= f.text_field :started_at, :value => formatted_datetime_for_current_user(@log.started_at) %>
  <br/>

  <%= render(:partial => "/common/custom_attributes", :locals => { :object => @log }) %>

  <% if @log.log_type != EventLog::TASK_COMMENT %>
    <%= f.label :customer_name, _("Client") %>
    <%= f.select :customer_id, work_log_customer_options(@log) %>

    <label for="work_log_duration"><%=_ 'Duration Worked' %></label>
    <%= f.text_field(:duration, :value => worked_nice(@log.duration/60), 
    :size => 10, :class => 'tooltip', :title => _('1w 2d 3h 4m')) %>
    <br/>
  <% end %>

  <label for="work_log_body"><%=_ 'Notes' %></label>
  <%= f.text_area(:body, :rows => 10) %>
  <br/>

  <% if @log.log_type == EventLog::TASK_WORK_ADDED  %>
    <label for="task_status"><%=_ 'Resolution' %></label>
    <%= select 'task', 'status', work_log_status_options, 
	{ :selected => @task.status }, work_log_status_html_options %>
  <% else %>
    <label for="notify"></label>
  <% end %>
  
  <br/>
  <label>&nbsp;</label>
  <div class="buttons">
    <%= cit_submit_tag(@log) %>
  </div>
<% end %>

<br />
<% if can_delete_log?(@log) -%>
  <%= link_to _("Delete Log Entry"), {:controller => 'tasks', :action => 'destroy_log', :id => @log}, :confirm => _("Really delete this log entry?")  %>
<% end %>

</fieldset>
