<%= hidden_field_tag :task_id, @log.task.task_num %>

<% if current_user.option_tracktime.to_i == 1 %>
  <div class="control-group">
    <%= label :started_at, @log.human_name(:started_at) %>
    <div class="controls">
      <% if @log.new_record? %>
        <%= text_field(:work_log, :started_at, :value => Time.now.strftime("#{current_user.date_format} #{current_user.time_format}")) %>
      <% else %>
        <%= text_field(:work_log, :started_at, :value => @log.started_at.strftime("#{current_user.date_format} #{current_user.time_format}")) %>
      <% end %>
    </div>
  </div>

  <%= render(:partial => "/common/custom_attributes", :locals => { :object => @log }) %>

  <% if @log.worktime? %>
    <div class="control-group">
      <%= label :work_log, :customer_name, t("work_logs.client") %>
      <div class="controls">
        <%= select :work_log, :customer_id, work_log_customer_options(@log) %>
      </div>
    </div>

    <div class="control-group">
      <label for="work_log_duration"><%= t("work_logs.time_worked") %></label>
      <div class="controls">
        <%= text_field(:work_log, :duration, :value => TimeParser.format_duration(@log.duration),
            :size => 10, :rel => 'tooltip', :title => t("work_logs.time_worked_tooltip"), "data-placement" => "right") %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="control-group">
  <label for="work_log_body"><%= @log.human_name :body %></label>
  <div class="controls">
    <%= text_area(:work_log, :body, :rows => 10, :value => @log.body, :class => "input-xxlarge") %>
  </div>
</div>
