<% @page_title = "Sign In - #{$CONFIG[:productName]}" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-horizontal span6 center"}) do |f| %>
  <legend>Sign in</legend>
  <% if flash[:alert] %>
     <div class="alert alert-error" id="notice">
        <%= "Invalid user or password" %>
        <% flash[:alert]=nil%>
     </div>
  <% end %>

  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :username %>
    <div class="controls">
      <%= f.text_field :username%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox inline">
          <%= f.check_box :remember_me %>
          remember me
        </label>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Login", :class => "btn" %>
    <%=link_to "Forget your password?", new_user_password_path  %>
  </div>
<% end %>


