<tr class="hoverrow" id="user-<%= project.dom_id %>">
  <td>
    <%= h(name || project.name) %>
  </td>
<%
   user_granted = project.users.include? @user
   perm = @user.project_permissions.find(:first, :conditions => ["project_id=?", project.id])
   perms = ['comment', 'work', 'close', 'create', 'edit', 'reassign', 'prioritize', 'milestone', 'report', 'grant', 'all']
%>

<% if @user == project.owner %>
  <td align="center">
    <%= image_tag("user_suit.png", :border => 0, :title => "Can't remove <b>project creator</b>!", :class => "tooltip centered") %>
  </td>
  <% for p in perms %>
    <td align="center">
      <%= image_tag("user_suit.png", :border => 0, :title => "Can't remove the <b>project creator</b>!", :class => "tooltip centered") if perm.can? p %>
      <%= image_tag("delete.png", :border => 0, :title => _("Can't remove the <b>project creator</b>!"), :class => "tooltip centered") unless perm.can? p %>
    </td>
  <% end %>

<% elsif user_granted %>
  <td align="center">
    <%= link_to_remote image_tag("tick.png", :border => 0, :title => _("Remove all access for <b>%s</b>?", @user.name), :class => "tooltip centered"),
    :update => 'permission_list',
    :url => { :controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :user_edit => user_edit },
    :loading => "showProgress();",
    :complete => "hideProgress();"
    %>
  </td>
  
  <% for p in perms %>
    <td align="center">
      <%= link_to_remote image_tag("tick.png", :border => 0, :title => _("Remove %s access for <b>%s</b>?", p, @user.name), :class => "tooltip centered"),
      :update => 'permission_list',
      :url => { :controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit },
      :loading => "showProgress();",
      :complete => "hideProgress();" if perm.can? p %>
      <%= link_to_remote image_tag("delete.png", :border => 0, :title => _("Grant %s access for <b>%s</b>?", p, @user.name), :class => "tooltip centered"),
      :update => 'permission_list',
      :url => { :controller => 'projects', :action => 'ajax_add_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit },
      :loading => "showProgress();",
      :complete => "hideProgress();" unless perm.can? p %>
    </td>
  <% end %>

<% else %>
  <td align="center">
    <%= link_to_remote image_tag("delete.png", :border => 0, :title => _("Grant access to <b>%s</b>?", @user.name), :class => "tooltip centered"),
    :update => 'permission_list',
    :url => { :controller => 'projects', :action => 'ajax_add_permission', :user_id => @user.id, :id => project.id, :user_edit => user_edit },
    :loading => "showProgress();",
    :complete => "hideProgress();updateDnD();"
    %>
  </td>
  <td colspan="11"></td>
<% end %>
</tr>
