<tr class="hoverrow" id="user-<%= project.dom_id %>">
  <td>
    <%= h((if defined?(name) then name end) || project.name) %>
  </td>
<%
   user_granted = project.users.include? @user
   perm = @user.project_permissions.find(:first, :conditions => ["project_id=?", project.id])
   perms = ProjectPermission.permissions


#-----------------
# user owns this project
#-----------------

 if @user == project.owner %>
  <td>
    <%= image_tag("user_suit.png", :title => "Can't remove <b>project creator</b>!".html_safe, :class => "tooltip") %>
  </td>
  <% for p in perms %>
    <td>
      <%= image_tag("user_suit.png", :title => "Can't remove the <b>project creator</b>!".html_safe, :class => "tooltip") if perm.can? p %>
      <%= image_tag("delete.png", :title => _("Can't remove the <b>project creator</b>!").html_safe, :class => "tooltip") unless perm.can? p %>
    </td>
  <% end 
  

#-----------------
# user has access
#-----------------
elsif user_granted %>
  <td>
    <%= link_to_remote image_tag("tick.png", :title => _("Remove all access for <b>%s</b>?", escape_twice(@user.name)).html_safe, :class => "tooltip"),
    :update => 'permission_list',
    :url => { :controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :user_edit => user_edit },
    :loading => "showProgress();",
    :complete => "hideProgress();",
    :remote => true 
    %>
  </td>

  <% for p in perms %>
    <td>
      <%= link_to_remote image_tag("tick.png", :title => _("Remove %s access for <b>%s</b>?", p, escape_twice(@user.name)).html_safe, :class => "tooltip"),
      :update => 'permission_list',
      :url => { :controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit },
      :loading => "showProgress();",
      :complete => "hideProgress();" if perm.can? p %>
      <%= link_to_remote image_tag("delete.png", :title => _("Grant %s access for <b>%s</b>?", p, escape_twice(@user.name)).html_safe, :class => "tooltip"),
      :update => 'permission_list',
      :url => { :controller => 'projects', :action => 'ajax_add_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit },
      :loading => "showProgress();",
      :complete => "hideProgress();",
			:remote => true unless perm.can? p %>
    </td>
  <% end 
  
#-----------------
# user has no access
#-----------------
else %>
  <td>
    <%= link_to_remote image_tag("delete.png", :title => _("Grant access to <b>%s</b>?", escape_twice(@user.name)).html_safe, :class => "tooltip"),
    :update => 'permission_list',
    :url => { :controller => 'projects', :action => 'ajax_add_permission', :user_id => @user.id, :id => project.id, :user_edit => user_edit },
    :loading => "showProgress();",
    :complete => "hideProgress();updateTooltips();",
    :remote => true
    %>
  </td>
  <td colspan="12"></td>
<% end %>

</tr>
