<tr class="hoverrow" id="user-<%= project.dom_id %>">
  <td>
    <% if user_edit %>
      <%= link_to project.name, "/projects/edit/#{project.id}" %>
    <% else %>
      <%= link_to @user.name, "/users/edit/#{@user.id}" %>
    <% end %>
  </td>
<%
   perm = @user.project_permissions.where("project_id=?", project.id).first
   perms = ProjectPermission.permissions
 if current_user.admin? and perm %>

  <td>
    <%= link_to_function image_tag("tick.png", :title => _("Remove all access for <b>%s</b>?", escape_twice(@user.name)).html_safe, :rel => "tooltip"),
              "jQuery.ajax({url: '#{url_for(:controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :user_edit => user_edit)}', beforeSend:  function(){ showProgress(); }, complete: function(){ hideProgress(); },
               success: function(response){ jQuery('#permission_list').html(response); }
               })" -%>
  </td>

  <% for p in perms %>
    <td>
      <%= link_to_function image_tag("tick.png", :title => _("Remove %s access for <b>%s</b>?", p, escape_twice(@user.name)).html_safe, :rel => "tooltip"),
              "jQuery.ajax({url: '#{url_for(:controller => 'projects', :action => 'ajax_remove_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit )}', beforeSend:  function(){ showProgress(); }, complete: function(){ hideProgress(); },
               success: function(response){ jQuery('#permission_list').html(response); }
               })" if perm.can?(p) -%>
      <%= link_to_function image_tag("delete.png", :title => _("Grant %s access for <b>%s</b>?", p, escape_twice(@user.name)).html_safe, :rel => "tooltip"),
              "jQuery.ajax({url: '#{url_for(:controller => 'projects', :action => 'ajax_add_permission', :user_id => @user.id, :id => project.id, :perm => p, :user_edit => user_edit )}', beforeSend:  function(){ showProgress(); }, complete: function(){ hideProgress(); },
               success: function(response){ jQuery('#permission_list').html(response); }
               })" unless perm.can?(p) -%>
    </td>
  <% end %>

<% end %>

</tr>
