<table id="permission permission_list" class="table table-striped table-bordered table-condensed">
  <tr>
    <th style="text-align: left;"><%= t("users.project") %></th>
    <th><%= t("permissions.read") %></th>
    <th><%= t("permissions.comment") %></th>
    <th><%= t("permissions.work") %></th>
    <th><%= t("permissions.close") %></th>
    <th><%= t("permissions.see_unwatched") %> </th>
    <th><%= t("permissions.create") %></th>
    <th><%= t("permissions.edit") %></th>
    <th><%= t("permissions.assign") %></th>
    <th><%= t("permissions.milestones") %></th>
    <th><%= t("permissions.reports") %></th>
    <th><%= t("permissions.grant") %></th>
    <th><%= t("permissions.all") %></th>
  </tr>

  <%= render :partial => "users/project", :collection => @user.projects, :locals => { :user_edit => true } %>
  <% if @user.active %>
    <tr id="add_user">
      <td>
        <%= t("users.add_project_to_user") %>
      </td>
      <td colspan="12">
        <%= text_field :project, :name, {:id => "user_project_name_autocomplete", :value => "" }%>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript" language="javascript" charset="utf-8">
  jQuery(function() {
    new jobsworth.UserPermissions(<%= @user.id %>)
  })
</script>

