<table class="content" width="100%" 
       id="permission" style="margin-left:0;margin-right:0;">
  <tr>
    <th><%=_ 'Project' %></th>
    <th><%=_ 'Read' %></th>
    <th><%=_ 'Comment' %></th>
    <th><%=_ 'Work' %></th>
    <th><%=_ 'Close' %></th>
    <th><%=_ 'Create' %></th>
    <th><%=_ 'Edit' %></th>
    <th><%=_ 'Assign' %></th>
    <th><%=_ 'Prioritize' %></th>
    <th><%=_ 'Milestones' %></th>
    <th><%=_ 'Reports' %></th>
    <th><%=_ 'Grant' %></th>
    <th><%=_ 'All' %></th>
    <th></th>
  </tr>
  
  <%= render :partial => "project", :collection => current_user.projects %>
  <tr id="add_user">
    <td>
      <%= _("Add user to project") %>
    </td>
    <td colspan="11">
      <%= text_field_with_auto_complete(:project, :name, {},
	  :after_update_element => "addProjectToUser",
	  :select => "complete_value") %>
    </td>
  </tr>
</table>

<script type="text/javascript" language="javascript" charset="utf-8">
  updateTooltips();
</script>

