<fieldset class="basic">
<legend><%=_ 'User Information' %></legend>
<label for="user_name"><%=_ 'Name' %></label><%= text_field 'user', 'name'  %><br/>
<label for="user_username"><%=_ 'Username' %></label><%= text_field 'user', 'username'  %><br/>
<label for="user_password"><%=_ 'Password' %></label><%= password_field 'user', 'password'  %><br/>
<label for="user_email"><%=_ 'Email' %></label><%= text_field 'user', 'email'  %><br/>

<label for="user_customer_id"><%=_ "Client" %></label>
<%= hidden_field_tag("user[customer_id]", @user.customer_id, :id => "user_customer_id", :class => "auto_complete_id") %>
<%= text_field_with_auto_complete(:customer, :name, { :value => @user.customer },
:after_update_element => "updateAutoCompleteField") %>
<br/>

<% if @user.autologin && !@user.autologin.empty? %>
<label><%=_ 'Widget Key' %></label><div style="float:left;margin-top:3px;"><%= @user.autologin %></div><br/>
<% end %>

<%= render(:partial => "/common/custom_attributes", :locals => { :object => @user }) %>
</fieldset>
