<div id="<%=@user.dom_id%>" class="user-block">
        <div class="user-heading">
                <% if !(defined? show_avatar) or show_avatar -%>
                        <div class="left user-avatar">
                                <%= "<img src=\"#{@user.avatar_url(25)}\" class=\"photo\" />".html_safe %>
                        </div>
                <% end -%>
                <div class="right user-action">
                        <%= link_to image_tag("user_edit.png", :border => 0, :title => _("Edit <b>%s</b>", @user.name), :class => "tooltip"), :controller => 'users', :action => 'edit', :id => @user %>
<%  if (@user.id != current_user.id) %>
  <%= link_to(image_tag("user_delete.png", :border => 0, :title => _("Delete <b>%s</b>", @user.name), :class => "tooltip"), { :controller => 'users', :action => 'destroy', :id => @user}, :confirm => _("Are you sure?")) %><% end %>
<% if current_user.admin > 1 %><%= link_to 'Switch', :controller => 'users', :action => 'impersonate', :id => @user %><% end %>
                </div>
                <h4><%= h(@user.name) %></h4>
        </div>
        <dl>
                <dt><%= _('Email') %></dt>
                <dd><%= h @user.email %></dd>

                <dt><%= _('Last Login') %></dt>
                <dd><% if @user.last_sign_in_at %><%= _('%s ago', distance_of_time_in_words(@user.last_sign_in_at, Time.now.utc)) %><% else %>Never <% end %></dd>

                <%= render(:partial => "/common/custom_attributes_dl", :locals => { :object => @user }) %>

                <% if @user.projects.size > 0 %>
                        <dt><%= _('Projects') %></dt>
                        <dd class="left">
                                <%= link_to_function _("%d project", @user.projects.size), "jQuery('#projects-#{@user.dom_id}').toggle();" %>
                                <div id="projects-<%=@user.dom_id%>" style="display:none;">
                                        <%= @user.projects.collect{|project| link_to_tasks_filtered_by(project.full_name, project)}.join("<br/> ").html_safe %>
                                </div>
                        </dd>
                <% end %>
        </dl>
</div>
