<div class="control-group">
  <%= label_tag "send_welcome_email" %>
  <div class="controls">
    <%= check_box_tag :send_welcome_email, "1", params[:send_welcome_email] %>
  </div>
</div>

<div class="control-group">
  <label for="welcome_message"><%=_('Signup Message')%></label>
  <div class="controls">
    <%= text_area_tag 'welcome_message', "", :rows => 10, :class => "input-xxlarge", :placeholder => "input welcome message here" %>
  </div>
</div>

<span class="optional">
  <%=_('The message will be included in the signup email.')%>
</span>
