<br />

<%= label_tag "send_welcome_email" %>
<%= check_box_tag :send_welcome_email, "1", params[:send_welcome_email] %>
<br />

<label for="welcome_message"><%=_('Signup Message')%></label>
<%= text_area_tag 'welcome_message', {}, { :rows => 10, :style => "width:80%;"} %>
<br/>

<label></label>
<span class="optional">
  <%=_('The message will be included in the signup email.')%>
</span>
<br />
