<% @page_title = "User : #{@user.name} - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => "users/navigation", :locals => {:selected => "tasks", :user => @user} %>
<% end %>

<legend>
  <%= @user.name %>
  <%= link_to_tasks_filtered_by(t("users.new_user"), @user, :class => "btn btn-success pull-right") %>
</legend>

<div class="next_tasks_panel section" id="next-tasks-pane">
  <div class="row-fluid">
    <div class="span6">
      <h3><%= t("users.recent_work") %></h3>
      <ul>
         <% @user_recent_work_logs.each do |wl| %>
           <li>
             <%= render :partial => "tasks/task_line", :locals => { :task => wl.task, :user => @user, :pill_date => wl.started_at } %>
           </li>
         <% end %>
      </ul>
    </div>
    <div class="span6">
      <h3><%= t("users.next_tasks") %></h3>
      <ul>
        <% @user.schedule_tasks(:limit => 20, :save => false) do |task| %>
          <li>
            <%= render :partial => "tasks/task_line", :locals => { :task => task, :user => @user } %>
          </li>
        <% end %>
      </ul>
      <% if @user.tasks.open_only.not_snoozed.count > 20 %>
        <div><a class="more_tasks" href ='#'><%= t("tasks.more_tasks") %></a></div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  jQuery(function() {
    new jobsworth.tasks.NextTaskPanel({el:jQuery(".next_tasks_panel")[0], popover_placement:"right"});
  })
</script>

