<% @page_title = "User : #{@user.name} - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => 'users/navigation', :locals => {:selected => 'workplan', :user => @user} %>
<% end %>

<legend>
  <%= @user.name %>
  <%= link_to_tasks_filtered_by(t('users.new_user'), @user, :class => 'btn btn-success pull-right') %>
</legend>

<%= render :partial => 'tasks' %>

<%= form_tag(workplan_user_path(@user), :method => :put, :class => 'form-horizontal') do %>
  <h3><%= t('users.work_plan') %></h3>
  <%= render :partial => 'users/work_plan' %>
  <br/>
  <%= submit_tag t('button.update'), :class => 'btn btn-primary' %>
<% end %>
