<% @page_title = "#{t('devise.passwords.forgot')} - #{Setting.productName}" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "well span6 center" }) do |f| %>
  <legend>Forgot your password?</legend>
  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

  <label><%= t('devise.passwords.input_your_email') %></label>
  <%= f.text_field :email, :placeholder => "email address", :class => "input-xxlarge" %>

  <%= f.submit t('devise.passwords.send_me_reset_email'), :class => "btn" %>
<% end %>
