<%= form_for(@property) do |f| %>
  <%= f.error_messages %>

  <fieldset class="basic">
    <label for="property_name"><%=_ "Name" %></label>
    <%= f.text_field :name %>
    <br />

    <label for="property_mandatory"><%=_ "Tasks require a value for this property to save " %></label>
    <%= f.check_box :mandatory %>
    <br />

    <label for="property_default_sort"><%=_ "Sort tasks by this property by default" %></label>
    <%= f.check_box :default_sort %>
    <br />

    <label for="property_default_color"><%=_ "Color tasks by this property by default" %></label>
    <%= f.check_box :default_color %>
    <br />

    <fieldset>
      <legend><%=_ "Possible values" %></legend>
      <ul id="property_values">
	      <% @property.property_values.each do |pv| -%>
  	      <%= render :partial => "property_value", :locals => { :pv => pv } %>
	      <% end -%>
      </ul>

      <br />
      <%= add_value_link %>
    </fieldset>

    <br />
    <%= cit_submit_tag(@property) %>
  </fieldset>
<% end %>
