<%= form_for(@property, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <div class="control-group">
      <label for="property_name"><%=_ "Name" %></label>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <label for="property_mandatory"><%=_ "Tasks require a value for this property to save " %></label>
      <div class="controls">
        <%= f.check_box :mandatory %>
      </div>
    </div>

    <div class="control-group">
      <label for="property_default_sort"><%=_ "Sort tasks by this property by default" %></label>
      <div class="controls">
        <%= f.check_box :default_sort %>
      </div>
    </div>

    <div class="control-group">
      <label for="property_default_color"><%=_ "Color tasks by this property by default" %></label>
      <div class="controls">
        <%= f.check_box :default_color %>
      </div>
    </div>

    <div class="clear">
      <legend><%=_ "Possible values" %></legend>
      <div id="property_values">
        <% @property.property_values.each do |pv| -%>
          <%= render :partial => "property_value", :locals => { :pv => pv } %>
        <% end -%>
      </div>
    </legend>

    <div class="form-actions">
      <%= cit_submit_tag(@property) %>
      <%= add_value_link %>
    </div>
  </fieldset>
<% end %>
