<div class="property_value clearfix" id="property_value_<%= pv.id %>">
  <%
     prefix = "property_values"
     prefix = "new_#{ prefix }" if pv.new_record?
   -%>

  <div class="row-fluid">
    <div class="span6">
      <%= fields_for(prefix, pv) do |f| %>

        <div class="control-group">
          <label><%=_ "Value" %></label>
          <div class="controls">
            <%= f.text_field :value, :index => pv.id %>
            <%= sortable_handle_tag(pv) %>
            <%= link_to_function(_("Remove value"), "jQuery(this).parents('.property_value').remove()") %>
          </div>
        </div>


        <div class="control-group">
          <label><%=_ "Default" %></label>
          <div class="controls">
            <%= nested_boolean_choice_field(f, :default, pv, :class => 'default', :onChange => "jQuery('.default').attr('checked', false);jQuery(this).attr('checked', true);") %>
          </div>
        </div>

        <div class="control-group">
          <label><%=_ "Color" %></label>
          <div class="controls">
            <%= f.text_field :color, :index => pv.id %>
          </div>
        </div>

        <div class="control-group">
          <label><%=_ "Icon URL" %></label>
          <div class="controls">
            <%= f.select :icon_url, task_icon_options(pv), {}, { :index => pv.id } %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="span6">
      <%= render 'shared/score_rules_container',
          :container_name => 'property_values',
          :container_id   => pv.id %>

    </div>
  </div>

</div>
