<%= render :partial => "companies/header", :locals => {:selected => "task-properties"} %>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Default sort") %></th>
    <th><%= _("Default color") %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => @properties %>
</table>

