<legend>
  <%=_ 'Properties' %>
  <%= link_to _("New Property"), new_property_path, :class => "btn pull-right" %>
</legend>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Default sort") %></th>
    <th><%= _("Default color") %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => @properties %>
</table>

