<div class="page_header" colspan="5">
  <%=_ 'Properties' %>
  <%= link_to(_("Custom Attributes"), :controller => "custom_attributes", :action => "index")  if current_user.admin? %>
  <%= link_to(_("New Property"), new_property_path) %>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Default sort") %></th>
    <th><%= _("Default color") %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => @properties %>
</table>

