<li>
  <%= hidden_field_tag "task_filter[keywords_attributes][][word]", keyword.word %>
  <%= hidden_field_tag "task_filter[keywords_attributes][][reversed]", keyword.reversed, :class => "reversed" %>
  <%= link_to_function(image_tag("invert.png"), "reverseSearchFilter(this)") %>
  <%=_ (keyword.reversed? ? "Have not keyword:" : "Keyword:") %>
  <%= keyword.word %>
  <%= link_to_function('<i class="icon-remove"></i>'.html_safe, "removeSearchFilter(this)", :class => "pull-right") %>
  &nbsp;
</li>
