<div id="task_filters" class="task_filters section">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header">
    <div>
      <%=_ "Filters" %>
      <a href="#" id="recent_filters_button"><i class="icon-cog pull-right" title="Manage"></i></a>
    </div>
  </div>
  <div id="recent_filters" style="position:absolute">
  </div>
  <ul class="panel_content">
    <li><%= link_to_open_tasks %></li>
    <li><%= link_to_open_tasks(current_user) %></li>
    <li><%= link_to_unread_tasks(current_user) %></li>
    <% current_user.visible_task_filters.each do |tf| -%>
    <li>
      <%= select_task_filter_link(tf) -%>
    </li>
    <% end -%>
  </ul>
</div>
