<div id="task_filters" class="task_filters section">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header">
    <%= t("task_filters.filters") %>
  </div>
  <div class="dropdown pull-right" id="filters-menu">
    <a data-toggle="dropdown" href="#filters-menu"><i class="icon-cog pull-right" title="Manage"></i></a>
    <ul class="dropdown-menu">
      <li><a href="#" id="savefilter_link"><strong><%= t("task_filters.save_current") %></strong></a></li>
      <li><a href="<%= filters_user_path(current_user) %>"><strong><%= t("task_filters.manage") %></strong></a></li>
      <li class="divider"></li>
      <% TaskFilter.recent_for(current_user).each do |filter| -%>
        <li class="load_filter">
          <%= select_task_filter_link(filter) %>
        </li>
      <% end -%>
    </ul>
  </div>
  <ul class="panel_content">
    <li><%= link_to_open_tasks %></li>
    <li><%= link_to_open_tasks(current_user) %></li>
    <li><%= link_to_unread_tasks(current_user) %></li>
    <% current_user.visible_task_filters.each do |tf| -%>
    <li>
      <%= select_task_filter_link(tf) -%>
    </li>
    <% end -%>
  </ul>
</div>
