<li>
  <%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_id]", qualifier.qualifiable_id, :class => "id" %>
  <%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_type]", qualifier.qualifiable_type, :class => "type" %>
  <%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_column]", qualifier.qualifiable_column, :class => "column" %>
  <%= hidden_field_tag "task_filter[qualifiers_attributes][][reversed]", qualifier.reversed, :class => "reversed" %>
  <%= link_to_function(image_tag("invert.png"), "reverseSearchFilter(this)") %>
  <%= qualifier_name(qualifier) %> <%= qualifier_value(qualifier) %>
  <%= link_to_function('<i class="icon-remove"></i>'.html_safe, "removeSearchFilter(this)", :class => "pull-right") %>
  &nbsp;
</li>
