<%= form_for(@filter, :remote => true, :class => "form-horizontal") do |f| %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :shared %>
    <div class="controls">
      <%= f.check_box :shared %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= submit_tag _("Save"), :class => 'btn btn-primary' %>
  </div>

<% end -%>
