<div id="content" class="basic">

  <%= form_for(@filter, :remote => true) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />  <br />

  <%= f.label :shared %>
  <%= f.check_box :shared %>
  <br />  <br />
  
  <div class="buttons">
    <%= submit_tag _("Save"), :class => 'btn' %>
  </div>
  <br />

  <% end -%>
</div>
