<div id="content" class="basic">

  <% form_for(@filter, :remote => true, :success => "jQuery('#savefilter').dialog('destroy');") do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />  <br />

  <%= f.label :shared %>
  <%= f.check_box :shared %>
  <br />  <br />
  
  <div class="buttons">
    <%= submit_tag _("Save"), :class => 'nolabel' %>
  </div>
  <br />

  <% end -%>
</div>
