<ul>
	<% (@to_list || []).each do |name, values| -%>
	  <% if values and values.any? -%>
	    <li class="heading"><%= name %></li>
	    <% values.each do |v| -%>
	      <li><%= v %>
		<%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_id]", v.id, :class => "id" %>
		<%= hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_type]", v.class.name, :class => "type" %>
	      </li>
	    <% end -%>
	  <% end -%>
	<% end -%>
	
	<% if @statuses and @statuses.any? -%>
	  <li class="heading"><%=_ "Status" %></li>
	  <% @statuses.each do |s| -%>
	  <li>
	    <%= hidden_field_tag "filter_status[]", Task.status_types.index(s), :class => "id" %>
	    <%= _(s) %>
	  </li>
	  <% end -%>
	<% end -%>
	
	<% if !@filter.blank? -%>
	  <li class="heading"><%=_ "Keyword" %></li>
	  <li>
	    <%= hidden_field_tag "task_filter[keywords_attributes][]", @filter, :class => "id" %>
	    <%= @filter %>
	  </li>
	<% end -%>
</ul>
