<ul>
        <% (@to_list || []).each do |name, values| -%>
          <% if values and values.any? -%>
            <li class="heading"><%= name %></li>
            <% values.each do |v| -%>
              <li data-id="task_filter[qualifiers_attributes][][qualifiable_id]" data-idval="<%= v.id %>" data-type="task_filter[qualifiers_attributes][][qualifiable_type]" data-typeval="<%= v.class.name %>"><%= v %>
                <% hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_id]", v.id, :class => "id" %>
                <% hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_type]", v.class.name, :class => "type" %>
              </li>
            <% end -%>
          <% end -%>
        <% end -%>

        <% if @statuses and @statuses.any? -%>
          <li class="heading"><%=_ "Status" %></li>
          <% @statuses.each do |s| -%>
          <li data-id="filter_status[]" data-idval="<%= Task.status_types.index(s) %>">
            <%= hidden_field_tag "filter_status[]", Task.status_types.index(s), :class => "id" %>
            <%= _(s) %>
          </li>
          <% end -%>
        <% end -%>

        <% (@date_columns || []).each do |column, matches| -%>
          <% next if matches.empty? -%>

          <li class="heading">
            <%=_ column.to_s.gsub("_at", "").humanize %>
          </li>
          <% matches.each do |m| -%>
            <li data-id="task_filter[qualifiers_attributes][][qualifiable_id]" data-idval="<%= m.id %>" data-type="task_filter[qualifiers_attributes][][qualifiable_type]" data-typeval="<%= m.class.name %>" data-col="task_filter[qualifiers_attributes][][qualifiable_column]" data-colval="<%= column.to_s %>">
              <%=_ m.name %>
              <% hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_id]", m.id, :class => "id" %>
              <% hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_type]", m.class.name, :class => "type" %>
              <% hidden_field_tag "task_filter[qualifiers_attributes][][qualifiable_column]", column.to_s, :class => "column" %>
            </li>
          <% end -%>
        <% end -%>

        <% if !@filter.blank? -%>
          <li class="heading"><%=_ "Keyword" %></li>
          <li>
                <li data-id="task_filter[keywords_attributes][]" data-idval="<%= @filter %>">
            <% hidden_field_tag "task_filter[keywords_attributes][]", @filter, :class => "id" %>
            <%= @filter %>
          </li>
        <% end -%>

        <% if @unread_only -%>
          <li class="heading"><%=_ "Read status" %></li>
          <li>
                  <li data-id="task_filter[unread_only]" data-idval="true">
            <%hidden_field_tag "task_filter[unread_only]", true, :class => "id" %>
            <%=_ "My unread tasks only" %>
          </li>
        <% end -%>
</ul>
