<tr style="background-color:#eee;">
    <td style="height:20px;vertical-align:top;" nowrap><div style="width:200px;overflow:hidden;font-weight:bold;"><img src="/images/bullet_black.png" /><%= link_to_milestone(@t.milestone) %> [<%= @t.project.name %>]</div></td>
    <td width="1%" style="text-align:right;padding-right:0.5em;font-weight:bold;white-space:nowrap;" nowrap><%= worked_nice(@t.milestone.worked_minutes)%></td>
    <td id="duration-<%=@t.milestone.dom_id%>" width="1%" style="text-align:right;font-weight:bold;white-space:nowrap;" nowrap><%= worked_nice(@t.milestone.duration)%></td>
    <td style="padding-left:0.5em;text-align:right;">
	<% if current_user.can?(@t.project,'milestone')%>
	    <input class="<%= "scheduled" if @t.milestone.scheduled?%>" tabindex="<%=tab+1%>" id="due-<%=@t.milestone.dom_id%>" name="due" size="8" type="text" style="font-size:11px;" value="<%= tz.utc_to_local(@t.milestone.scheduled_date).strftime(current_user.date_format) if @t.milestone.scheduled_date %>" />
	      <img alt="Calendar" class="date" id="due-<%=@t.milestone.dom_id%>-calendar" src="/images/calendar.png" title="Show Calendar"/>
<script type="text/javascript">
Calendar.setup({ inputField:"due-<%=@t.milestone.dom_id%>",step:1,firstDay:1,button:"due-<%=@t.milestone.dom_id%>-calendar",ifFormat:"<%=current_user.date_format%>",range:[2006, 2010],showOthers:true, onUpdate:function(){new Ajax.Request('/schedule/reschedule_milestone/<%=@t.milestone.id%>', {asynchronous: true, evalScripts: true, parameters:'due='+$('due-<%=@t.milestone.dom_id%>').value });} })
</script>
        <%else%>
	<%= tz.utc_to_local(@t.milestone.due_at).strftime(current_user.date_format) if @t.milestone.due_at %>
        <% end %>
    </td>
</tr>
