<tr style="background-color:#eee;">
    <td style="height:20px;vertical-align:top;" nowrap><div style="width:200px;overflow:hidden;font-weight:bold;"><img src="/images/bullet_black.png" /><%= link_to_milestone(@t.milestone) %> [<%= @t.project.name %>]</div></td>
    <td width="1%" style="text-align:right;padding-right:0.5em;font-weight:bold;white-space:nowrap;" nowrap><%= worked_nice(@t.milestone.worked_minutes)%></td>
    <td id="duration-<%=@t.milestone.dom_id%>" width="1%" style="text-align:right;font-weight:bold;white-space:nowrap;" nowrap><%= worked_nice(@t.milestone.duration)%></td>
    <td style="padding-left:0.5em;text-align:right;">
    <%= text_field 'milestone', 'due', {
    	:id => 'due-' + @t.milestone.dom_id,
    	:class => ("scheduled" if @t.milestone.scheduled?),
    	:size => 12,
    	:disabled => current_user.can?(@t.project,'milestone') ? false : true,
    	:value => (tz.utc_to_local(@t.milestone.scheduled_date).strftime(current_user.date_format) if @t.milestone.scheduled_date)
    } %>
    </td>
</tr>
