[
  <%
  gantt_end_date = Time.now + 3.months
  project_ids, milestone_ids = [], []
  @tasks.each_with_index do |task, idx|
    fetch_project = false
    unless project_ids.include?(task.project_id)
      fetch_project = true
      project = task.project
  -%>
  {
    "name": <%= project.name.to_json.html_safe %>,
    "id": <%= project.id.to_json.html_safe %>,
    "series": [
  <%
    end
    m = task.milestone
    if m && !milestone_ids.include?(m.id)
      milestone_start, milestone_end = "", ""
      unless m.due_date.blank?
        start_date = m.due_date - (m.duration/(60*8)).to_i.days - 1
        if start_date <= gantt_end_date
          due_date = m.due_date
          due_date = gantt_end_date if due_date > gantt_end_date
          milestone_start = start_date.at_beginning_of_day.strftime("%a, %d %b %Y %T")
          milestone_end = due_date.at_beginning_of_day.strftime("%a, %d %b %Y %T")
        end
      end
      milestone_ids << task.milestone_id
  -%>
      { "gantt_type": "milestone", "gantt_id": <%= m.id %> , "name": <%= "<span style = 'text-transform: uppercase;'>#{link_to_milestone(m)}</span>".to_json.html_safe %>, "start": "<%= milestone_start %>", "end": "<%= milestone_end %>", "color": "black"},
  <%
    end
    unless task.start_date.blank? || task.due_date.blank? || task.start_date > gantt_end_date
      start_date = current_user.tz.utc_to_local(task.start_date)
      due_date = current_user.tz.utc_to_local(task.due_date)
      due_date = gantt_end_date if due_date > gantt_end_date
      task_start = start_date.at_beginning_of_day.strftime("%a, %d %b %Y %T")
      task_end = due_date.at_beginning_of_day.strftime("%a, %d %b %Y %T")
    else
      task_start, task_end = "", ""
    end
  -%>
      { "gantt_type": "task", "gantt_id": <%= task.task_num %> , "name": <%= link_to_gantt_task(task).to_json.html_safe %>, "start": "<%= task_start %>", "end": "<%= task_end %>" }<%= "," if idx != @tasks.size - 1 && task.project_id == @tasks[idx+1].project_id %>
  <%
    if idx == @tasks.size - 1 || task.project_id != @tasks[idx+1].project_id
  -%>
    ]
  }<%="," unless @last_project_id == task.project_id %>
  <%
    end
    project_ids << task.project_id if fetch_project
  end
  -%>
]
