[
  <% @groups.each_with_index do |g, g_idx| -%>
  <% @selected_tasks = @tasks.select {|t| t.project_id == g[:pid]} -%>
    <% @m = [] %>
	{
    id: <%= g_idx + 1%>, name: <%= g[:name].to_json.html_safe %>, series: [
        <% @selected_tasks.each_with_index do |st, idx| -%>
        <% if st.milestone && !@m.include?(st.milestone_id) %>
        <%
          m = Milestone.find(st.milestone_id)
          start_date = m.due_date - (m.duration/(60*8)).to_i.days - 1
        %>
        <%
           ny, nm, nd = start_date.year, start_date.month - 1, start_date.day
           ey, em, ed = m.due_date.year, m.due_date.month - 1, m.due_date.day
          -%>
	    { gantt_type: "milestone", gantt_id: <%= m.id %> , name: <%= "<span style = 'text-transform: uppercase;'>#{link_to_milestone(m)}</span>".to_json.html_safe %>, start: new Date(<%= ny %>,<%= nm %>,<%= nd %>), end: new Date(<%= ey %>,<%= em %>,<%= ed %>), color: "black"},
        <% @m << m.id -%>
        <% end %>
        <% unless st.start_date.blank? || st.due_date.blank? || st.start_date.to_date < Date.today  -%>
        <%
           start_date = current_user.tz.utc_to_local(st.start_date)
           due_date = current_user.tz.utc_to_local(st.due_date)
           ny, nm, nd = start_date.year, start_date.month - 1, start_date.day
           ey, em, ed = due_date.year, due_date.month - 1, due_date.day
        -%>
	    { gantt_type: "task", gantt_id: <%= st.task_num %> , name: <%= link_to_task(st).to_json.html_safe %>, start: new Date(<%= ny %>,<%= nm %>,<%= nd %>), end: new Date(<%= ey %>,<%= em %>,<%= ed %>) }
        <% else -%>
        { gantt_type: "task", gantt_id: <%= st.task_num %> , name: <%= link_to_task(st).to_json.html_safe %>, start: Date.parse("-10months"), end: Date.parse("-10months")}
        <% end -%>
        <%="," unless idx == @selected_tasks.size - 1%>
        <% end -%>
	    ]
      }<%="," unless g_idx == @groups.size - 1%>
    <% @tasks -= @selected_tasks %>
  <% end -%>
];
