<script type="text/javascript" language="javascript" charset="utf-8" src="/javascripts/gantt.js"></script>
<table id="content" width="100%" cellpadding="0" cellspacing="0" style="padding-right:1em;">
  <tr>
    <td class="page_header" colspan="2">
      <div style="float:left;"><%=_ 'Plan / GANTT' %></div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top:0.3em;">
            <%
            @clients = Customer.find(:all, :conditions => ["company_id = ?", current_user.company_id], :order => "name").collect{ |c| [c.name, c.id.to_s]}

            if session[:filter_customer].to_i > 0
              @all_projects = current_user.projects.find(:all, :conditions => ["customer_id = #{session[:filter_customer]} AND completed_at IS NULL"])
            else
              @all_projects = current_user.projects
            end

            if session[:filter_project].to_i > 0
              project = Project.find(:first, :order => "name", :conditions => ["company_id = ? AND id = ?", current_user.company_id, session[:filter_project]]) rescue nil
              if project.blank?
                @users = []
              else   
                @users = project.users.collect {|c| [ c.name, c.id.to_s ] }
              end
            else
              @user_ids = []
              @all_projects.each do |p|
                @user_ids << p.users.collect{ |pu| pu.id }
              end

              @user_ids = [0] if @user_ids.size == 0
              @users = User.find(:all, :conditions => ["id IN (#{@user_ids.uniq.join(',')})"], :order => "name").collect{|u| [u.name, u.id.to_s]}
            end

            %>
	  <div>
            <div style="clear:both;">
            <fieldset style="margin-top:0; margin-bottom:0.4em;"><legend><%= _'Filter'%></legend>
	    <form action="/schedule/filter" method="post" style="margin:0;padding:0;">
              <select name="filter" id="filter" onchange="javascript:document.forms[1].submit();">
              <option value="0" class="select_default"><%= _("[All Tasks]") %></option>

                <% @clients.each do |c| %>
                  <% @client_projects = current_user.projects.find(:all, :conditions => ["customer_id = #{c[1]}"] ) %>
                  <% if @client_projects.size > 0 %>
                  <option value="c<%=c[1]%>" class="select_heading"<%= " selected" if c[1].to_i == session[:filter_customer].to_i %>><%= c[0] %></option>
                    <% @client_projects.each do |p| %>
                      <option value="p<%= p.id %>" class="select_item"<%= " selected" if( p.id == session[:filter_project].to_i && -1 != session[:filter_milestone].to_i) %>>&nbsp;&nbsp;<%= p.name %></option>
                      <% @project_milestones = Milestone.find(:all, :conditions => ["project_id = #{p.id} AND completed_at IS NULL"], :order => "due_at, name") %>
                      <% if @project_milestones.size > 0 -%>
                       <% @project_milestones.each do |m| -%>
                         <option value="m<%=m.id%>" class="select_subitem"<%= " selected" if m.id == session[:filter_milestone].to_i%>>&nbsp;&nbsp;&nbsp;&nbsp;<%= m.name %></option>
                       <% end -%>
                       <option value="u<%=p.id%>" class="select_default select_subitem"<%= " selected" if session[:filter_milestone].to_i == -1 && session[:filter_project].to_i == p.id %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= _("[Unassigned]") -%></option>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                <% end %>
            </select>
            <select name="filter_user" id="filter_user" onchange="javascript:document.forms[1].submit();">
              <option value="0" class="select_default"><%= _("[Any User]") %></option>
              <%= options_for_select @users, session[:filter_user] %>
              <option value="-1" class="select_default"<%= " selected" if session[:filter_user].to_i == -1 %>><%= _("[Unassigned]") %></option>
            </select>
		<input type="checkbox" name="ignore_hidden" id="ignore_hidden" title="<%= _('Ignore hidden tasks when scheduling') %>" class="tooltip" value="1" <%= session[:ignore_hidden].to_i > 0 ? "checked" : "" %> onChange="javascript:document.forms[1].submit();"><div style="float:left;padding-top:2px;" title="<%= _('Ignore hidden tasks when scheduling') %>" class="tooltip"> <%=_ 'Ignore hidden tasks when scheduling'%></div>
	  </fieldset>
	  </div>
	  <div id="gantt-save-revert" <%= " style=\"display:none;\"" unless @schedule_in_progress%>>
	      <form method="post">
                <div style="float:left;"><%= submit_to_remote 'revert-gantt', _('Revert'), :url => {:action => 'gantt_reset'}, :html => {:title => _('Revert schedule to saved state. Includes filtered tasks.'), :class => 'nolabel tooltip'} %>
                <%= submit_to_remote 'save-gantt', _('Save'), :url => {:action => 'gantt_save'}, :html => {:title => _('Save and activate schedule. Includes filtered tasks.'), :class => 'nolabel tooltip'} %><%= check_box_tag 'notify', '1', (current_user.send_notifications > 0), {:class => 'tooltip checkbox', :title => _('Send notification emails to people affected by these changes')} %><%=_ 'Send notification emails' %></div>
	     </form>
           </div>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-right:0.3em;padding-top:0.5em;">
      <table cellpadding="0" cellspacing="0">
	<tr>
	  <th style="height:20px;" colspan="4">
	  </th>
	</tr>
	<tr>
	  <th style="height:20px;" width="200px"><%= _'Task'%></th>
	  <th><%=_ 'Worked'%></th>
	  <th><%=_ 'Estimate'%></th>
	  <th><%=_ 'Due Date'%></th>
	</tr>
	<% i = 1
	  date_tooltip = _("Enter task due date, or click calendar button.")
          last_milestone = nil
          @displayed_tasks.each do |@t| 
          if @t.milestone_id.to_i > 0 && @t.milestone_id != last_milestone
	    last_milestone = @t.milestone_id
	    %>
        <%= render :partial => "gantt_milestone_row", :locals => {:tab => i} %>            
	  <% i+=2
             end %>
	<%= render :partial => "gantt_task_row", :locals => {:tab => i} %>

	<% i += 2
	end %>
      </table>
    </td>
    <td width="70%" valign="top" style="padding-left:0.3em;padding-top:0.5em;">
      <div id="gantt-container" style="width:98%;height:100%;overflow-x:auto;overflow-y:hidden;border-left:1px solid #999;border-right:1px solid #999;position:relative;border-top:1px solid #999;">
	<%= render :partial => 'gantt_chart' %>
      </div>
    </td>
  </tr>
</table>
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
<% last_milestone = nil
   @displayed_tasks.each do |t| 
     if t.milestone_id.to_i > 0 && last_milestone != t.milestone_id      
       last_milestone = t.milestone_id
  %>
  <% if current_user.can?(t.project,'milestone')%>
Event.observe($('due-<%=t.milestone.dom_id%>'), "change", function(ev) { 
  new Ajax.Request('/schedule/reschedule_milestone/<%=t.milestone_id%>', {asynchronous: true, evalScripts: true, parameters:'due='+$('due-<%=t.milestone.dom_id%>').value });
          });
  <% end %>
  <% end %>

<% if current_user.can?(t.project,'prioritize')%>
Event.observe($('duration-<%=t.dom_id%>'), "change", function(ev) { 
  new Ajax.Request('/schedule/reschedule/<%=t.id%>', {asynchronous: true, evalScripts: true, parameters:'duration='+$('duration-<%=t.dom_id%>').value });
          });
Event.observe($('due-<%=t.dom_id%>'), "change", function(ev) { 
  new Ajax.Request('/schedule/reschedule/<%=t.id%>', {asynchronous: true, evalScripts: true, parameters:'due='+$('due-<%=t.dom_id%>').value });
          });
<% end %>
<% end %>

// ]]>

</script>
