<%= error_messages_for 'customer' %>

<% if !@customer.internal_customer? %>
<p><label for="customer_name"><%=_ 'Name' %></label><%= text_field 'customer', 'name'  %></p>
<% end %>
<p><label for="customer_contact_email"><%=_ 'Contact email' %></label><%= text_field 'customer', 'contact_email'  %></p>

<p><label for="customer_contact_name"><%=_ 'Contact name' %></label> <%= text_field 'customer', 'contact_name'  %></p>
 
<p><label for="customer_active"><%= ("Active") %></label> 
<%= check_box(:customer, :active) %></p>
<br />
<%= render(:partial => "/common/custom_attributes", :locals => { :object => @customer }) %>
