<% @page_title = "Billing - #{$CONFIG[:productName]}" %>

<legend>Billing Reports</legend>

<%= render(:partial => "reports_params") %>

<% if @generated_report && @generated_report.id > 0 %>
  <%= link_to ("CSV" + image_tag('report_go.png', :border => 0)).html_safe, {:action => "get_csv", :id => @generated_report.id}, :class => "pull-right", :rel => 'tooltip', :title => _('Download CSV file of this report'), :style => "margin-bottom: 5px;" %>
<% end %>

<table id="reports" cellspacing=0 cellpadding=3 class="table table-striped table-bordered table-condensed">
  <% if @column_headers && @column_headers.size > 1 %>
    <tr>
      <th class="row_header"><%= @column_headers['__'] %></th>
      <% @column_headers.sort.each do |key,value| %>
        <% next if key == '__' %>
        <th class="column_header"><%= value %></th>
      <% end %>

      <th class="row_header" style="padding-left:1em;"><%=_ 'Total' %></th>
    </tr>

    <% if @rows %>
      <% last_key = '' %>
      <% subtotal = 0 %>

      <% @rows.sort.each do |key, value| %>
        <% if last_key != '' && last_key != value['__'] && subtotal > 0 && params[:report] && ["3","2"].include?(params[:report][:type]) %>
          <tr class="<%=cycle('even', 'odd')%>">
            <td class="row_subtotal_heading"><%=_ 'Total' %></td>
            <% @column_headers.sort.each do |k,v| %>
              <% next if k == '__' %>
              <td class="row_value">&nbsp;</td>
            <% end %>
            <td class="row_subtotal"><%= worked_nice(subtotal/60) %></td>
          </tr>
          <% subtotal = 0 %>
        <% end %>

        <tr class="<%=cycle('even', 'odd')%>">
          <td class="row_heading"><%= value['__'] if last_key != value['__'] %></td>
          <% last_key = value['__'] %>
          <% @column_headers.sort.each do |k,v| %>
            <% next if k == '__' %>
            <td class="row_value<%=" audit" if params[:report][:type] == "2"%><%=" task" if params[:report][:type] == "3"%>"><%=(value[k] && value[k].is_a?(Fixnum)) ?  worked_nice(value[k]/60) : value[k].try(:html_safe) %></td>
          <% end %>
          <% subtotal += @row_totals[key] %>
          <td class="row_total"><%= worked_nice(@row_totals[key]/60) %></td>
        </tr>
      <% end %>

      <% if subtotal > 0 && params[:report] && ["3","2"].include?(params[:report][:type]) %>
        <tr class="<%=cycle('even', 'odd')%>">
          <td class="row_subtotal_heading"><%=_ 'Total' %></td>
          <% @column_headers.sort.each do |k,v| %>
            <% next if k == '__' %>
            <td class="row_value">&nbsp;</td>
          <% end %>
          <td class="row_subtotal"><%= worked_nice(subtotal/60) %></td>
        </tr>
        <% subtotal = 0 %>
      <% end %>
    <% end %>
  <% end %>
</table>

<script type="text/javascript" language="javascript" charset="utf-8">
  jQuery(function() {
    jQuery("#start_date").datepicker({dateFormat: '<%= current_user.dateFormat %>'});
    jQuery("#stop_date").datepicker({dateFormat: '<%= current_user.dateFormat %>'});
  });

  jQuery('#report_range').change(function() {
    if( jQuery('#report_range').val() == "7" ) {
      jQuery('#date_range').show();
    } else {
      jQuery('#date_range').hide();
    }
    return false;
  });

  jQuery('#report_type').change(function() {
    var reportType = jQuery('#report_type').val();
    if( reportType == "1" || reportType == "4" ) {
      jQuery('#pivot_config').show();
    } else {
      jQuery('#pivot_config').hide();
    }
    return false;
  });

  jQuery('#report_range').blur(function() {
    var reportType = jQuery('#report_type').val();
    if( reportType == "1" ) {
      jQuery('#pivot_config').show();
    } else {
      jQuery('#pivot_config').hide();
    }
    return false;
  });
</script>

