<% @page_title = "Wiki - #{$CONFIG[:productName]}" %>

<div id="wiki">
<%
    headings = []
    src = @page.to_html(params[:rev].to_i)
    src.gsub!(/<h(\d)>([^<]+)<\/h\d>/m) { |m|
      headings << [m]
      m.gsub(/<h(\d)>([^<]+)<\/h\d>/m, "<h\\1 id=\"toc_#{headings.size-1}\">\\2</h\\1>")
    }
    if headings.size > 0
%>
  <div id="wiki-toc">
   <a href="#toc_0"><h1><%= @page.name %></h1></a>
<% headings.each_with_index do |head,idx| %>
   <a href="#toc_<%=idx%>"><%=head%></a>
<% end %>
  </div>
<% end %>

<h1 id="toc_0"><%= @page.name %></h1>
  <%= src.html_safe %>
</div>

<div id="wiki-info">
<% if !@page.locked? || @page.locked_by.id == current_user.id %>
  <% if params[:rev].to_i > 0 %>
  <%= link_to _("Edit"), :controller => "wiki", :action => "edit", :id => @page.name, :rev => params[:rev] %>
  <% else %>
  <%= link_to _("Edit"), :controller => "wiki", :action => "edit", :id => @page.name %>
  <% end %>
<% end %>
<div class="description">
<% if @page.pages_linking_here.size > 0 %>
<div class="description"><%=_ 'Linked from' %>: <%= @page.pages_linking_here.collect {|p| p.to_url }.join(', ') %></div>
<% end %>
<% unless @page.new_record? %>
<%= link_to _('Revision') + " #{(params[:rev].to_i > 0) ? params[:rev].to_i : @page.revisions.size}", :controller => 'wiki', :action => 'versions', :id => @page.name %>, <%= tz.utc_to_local(@page.revision(params[:rev].to_i).created_at).strftime("#{current_user.time_format} #{current_user.date_format}") + " #{_('by')} #{@page.revision(params[:rev].to_i).user ? @page.revision(params[:rev].to_i).user.name : "Unknown"}" %></div>
<% end %>
<% if @page.locked? %>
  <strong><%=_ 'Under revision by' %> <%= @page.locked_by.name %> [<%= tz.utc_to_local(@page.locked_at).strftime(current_user.time_format) %>]</strong><br/>
<% end %>

</div>
