<div id="add-widget" class="well hide">
<%= form_tag({:controller => 'widgets', :action => 'create' }, :id => "add_widget", :remote => true, :class => "form-inline") do  %>

  <label for="widget_name"><%= t("widgets.widget_title") %></label>
  <%= text_field 'widget', 'name', {:size => 15} %>
  <%
    gadgets = [
                [t("widgets.tasks"),0],
                [t("widgets.due_tasks"),7],
                [t("widgets.comments"),6],
                [t("widgets.time_chart"),3],
                [t("widgets.burndown"),4],
                [t("widgets.burnup"),5],
                [t("widgets.resolution"),9],
                [t("widgets.active_tasks"),10] ]

   if current_user.widgets.where("widget_type = 8").count == 0
     gadgets << [t("widgets.google_gadget"),8]
   end
  %>
  <label for="widget_widget_type"><%= t("widgets.type") %></label>
  <%= select( 'widget', 'widget_type', gadgets) %>

  <%= submit_tag t("button.create"), :class => "btn" %>
  <%= link_to_function(t("button.cancel"), "jQuery('#add-widget').addClass('hide');") %>
<% end %>
</div>

