<div id="config-<%= @widget.dom_id %>" style="display:none;" class="widget-config">
<% form_remote_tag :url => {:controller => 'widgets', :action => 'update', :id => @widget },
                                   :loading => "Element.show('loading');",
                                   :complete => "Element.hide('loading');" do  %>
<label for="widget_name"><%= _("Title") %></label><%= text_field 'widget', 'name', {:size => 10} %> 
<%= select( 'widget', 'order_by', [[_('Task Priorities'),'pri'],[_('Work Done'),'work']]) %>
<%= submit_tag _("Save"), :class => "nolabel" %> <%= _'or'%> <%= link_to_function(_('Cancel'), "Element.remove($('config-#{@widget.dom_id}'));") %>
<% end %>
</div>
