<div style="padding-left: 1em;">
  <table width="100%">
    <tr>
      <td>&nbsp;</td>
      <td align="right"><span class="widget_sub_header"><%= t('shared.today') %></span></td>
      <td align="right"><span class="widget_sub_header"><%= t('shared.yesterday') %></span></td>
      <td align="right"><span class="widget_sub_header"><%= t('shared.last_x_days', x: 7) %></span></td>
      <td align="right"><span class="widget_sub_header"><%= t('shared.last_x_days', x: 30) %></span></td>
    </tr>

    <tr>
      <td class="widget_sub_heading"><%= t('widgets.number_9.new') %></td>
      <% 0.upto(3) do |i| %>
        <td align="right"><%= @counts[:created][i] %></td>
      <% end %>
    </tr>

    <tr>
      <td class="widget_sub_heading"><%= t('widgets.number_9.completed') %></td>
      <% 0.upto(3) do |i| %>
        <td align="right"><%= @counts[:completed][i] %></td>
      <% end %>
    </tr>

    <tr>
      <td class="widget_sub_heading"><%= t('widgets.number_9.work_logged') %></td>
      <% 0.upto(3) do |i| %>
        <td align="right"><%= TimeParser.format_duration(@counts[:work][i]) %></td>
      <% end %>
    </tr>
  </table>
</div>

<div class="log_header" style="margin-left:8px;margin-top:0.5em;">
  <%= t('widgets.number_9.last_completed_tasks', count: @widget.number) %>
</div>

<% @last_completed.each do |t| %>
  <%= render :partial => 'tasks/task_row', :locals => {:task => t} %>
<% end %>

