<div id="config-<%= @widget.dom_id %>" style="display:none;" class="widget-config">
<%= form_tag({:controller => 'widgets', :action => 'update', :id => @widget },
             :id => "update_widget_#{@widget.id}", :remote => true) do  %>
<label for="widget_name"><%= _("Title") %></label><%= text_field 'widget', 'name', {:size => 10} %> 
<label for="widget_number"><%= _("Comments") %></label><%= select( 'widget', 'number', [1,2,3,4,5,6,7,8,9,10,15,20,25,30,50].collect{|i| [i.to_s, i]}) %>
<%= select( 'widget', 'mine', [[_('Mine'),true],[_('Everyone'),false]]) %>

<select name="widget[filter_by]" id="widget_filter_by">
  <option value="0" class="select_default"><%= _("[All Tasks]") %></option>
  <% @clients = current_user.company.customers %>
  <% @clients.each do |c| %>
    <% @client_projects = current_user.projects.where("completed_at IS NULL AND customer_id = ?", c.id).except(:order).order('name') %>
    <% if @client_projects.size > 0 %>
      <option value="c<%=c.id%>" class="select_heading"<%= " selected" if "c#{c.id}" == @widget.filter_by %>><%= c.name %></option>
      <% @client_projects.each do |p| %>
        <option value="p<%= p.id %>" class="select_item"<%= " selected" if "p#{p.id}" == @widget.filter_by %>>&nbsp;&nbsp;<%= p.name %></option>
        <% @project_milestones = Milestone.where("project_id = ? AND completed_at IS NULL", p.id).order("due_at, name") %>
        <% if @project_milestones.size > 0 -%>
          <% @project_milestones.each do |m| -%>
            <option value="m<%=m.id%>" class="select_subitem"<%= " selected" if "m#{m.id}" == @widget.filter_by %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= m.name %></option>
          <% end -%>
          <option value="u<%=p.id%>" class="select_default select_subitem"<%= " selected" if "u#{p.id}" == @widget.filter_by %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= _("[Unassigned]") -%></option>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
</select>

<%= submit_tag _("Save"), :class => "btn" %> <%= _'or'%> <%= link_to_function('Cancel', "jQuery('#config-#{@widget.dom_id}').remove();") %>
<% end %>
</div>
