<ul class="dropdown-menu">
  <li><b style="padding-left:5px;">Users</b></li>
  <li class="divider"></li>
  <% if users.size == 0 %>
    <li><span style="padding-left:5px;">No result matched.</span></li>
  <% elsif users.size <= 10 %>
    <% users.each do |u| %>
      <li><%= link_to u.name, "/users/#{u.id}/edit" %></li>
    <% end %>
  <% else %>
    <% 10.times do |index| %>
      <li><%= link_to users[index].name, "/users/#{users[index].id}/edit" %></li>
    <% end %>
    <li><small style="padding-left:5px;"><%= users.size - 10%> more matches</small></li>
  <% end %>

  <li class="divider"></li>
  <li><b style="padding-left:5px;">Customers</b></li>
  <li class="divider"></li>
  <% if customers.size == 0 %>
    <li><span style="padding-left:5px;">No result matched.</span></li>
  <% elsif customers.size <= 10 %>
    <% customers.each do |c| %>
      <li><%= link_to c.name, "/customers/#{c.id}/edit" %></li>
    <% end %>
  <% else %>
    <% 10.times do |index| %>
      <li><%= link_to customers[index].name, "/users/#{customers[index].id}/edit" %></li>
    <% end %>
    <li><small style="padding-left:5px;"><%= customers.size - 10%> more matches</small></li>
  <% end %>
</ul>
