<div class="page_header"><%=_ 'Clients' %>
	<div class="right"><%= link_to _('New Client'), :action => 'new' %></div>
</div>

<%= render :partial => "filter" %>
 
<ul class="clients">
<% @customers.each do |customer| %>
	<li>
		<% if !customer %>
			<%=_ "No Client" %>
		<% else %>
			<%= link_to(h(customer.name), :action => "edit", :id => customer) %>
		<% end %>
		<ul>
		<%
		(@users || []).each  do |u|
			if u.customer == customer
		%>
				<li>
					<img width="16" height="16" src="/images/user_large.png"/>
					<%= link_to(h(u.name), :controller => "users", :action => "edit", :id => u) %>
					<small><%= u.email %></small>
				</li>
			<% end %>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>
<%= will_paginate(@customers)%>
