<% content_for(:side_panel) do %>
<div class="task_filters section">
  <div class="page_header tooltip" title="<%= _'Custom saved filters showing a subset of your tasks'%>">
    <div><%=_ "Filters" %></div>
  </div>

  <ul>
    <% {"Open Tasks" => "1", "My Open Tasks" => "2", "My Unread Tasks" => "3"}.each do |t, n| %>
      <% link_path = link_to t, false, :onClick => "jQuery('#filter_task').val('#{n}');time_line_filters.submit(); return false;" %>
      <li>
        <%= "<u>".html_safe if params[:filter_task] == n %>
          <%= link_path %>
        <%= "</u>".html_safe if params[:filter_task] == n %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>