<% @page_title = "Timeline - #{$CONFIG[:productName]}" %>

<legend>Timeline</legend>

<%
  @users = objects_to_names_and_ids(User.order('name').where(:company_id => current_user.company_id))
  filter_count = 0
%>

<%= form_tag('/timeline/index') do %>

  <% if current_user.projects.any? %>
    <select name="filter_project" id="filter_project">
      <option value="0" class="select_default"><%= _("[Any Project]") %></option>
      <% projects = current_user.projects.includes(:customer).except(:order).order("customers.name, projects.name") %>
      <% client_projects = grouped_client_projects_options(projects)%>
      <% client_projects.each do |c| %>
        <optgroup class="select_heading" label="<%= c.first %>">
          <% c.last.each do |p| %>
            <option value="<%=p.last%>" class="select_item"<%= " selected" if p.last.to_s == params[:filter_project] %>><%= p.first %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
  <% end %>

  <select name="filter_status" id="filter_status">
    <%
      @status = [[_("[Any Type]"), "-1"],
                [_("Closed"), EventLog::TASK_COMPLETED.to_s],
                [_("Work Log"), EventLog::TASK_WORK_ADDED.to_s],
                [_("Resolution Change"), EventLog::TASK_REVERTED.to_s],
                [_("Created"), EventLog::TASK_CREATED.to_s],
                [_("Comment"), EventLog::TASK_COMMENT.to_s],
                [_("Modified"), EventLog::TASK_MODIFIED.to_s]]

      @status << [_("Wiki Additions"), EventLog::WIKI_CREATED.to_s] if current_user.company.show_wiki?
      @status << [_("Wiki Changes"), EventLog::WIKI_MODIFIED.to_s] if current_user.company.show_wiki?
      @status <<  [_("Resource password request"), EventLog::RESOURCE_PASSWORD_REQUESTED.to_s] if current_user.use_resources?

    %>
    <%= options_for_select @status, params[:filter_status] %>
  </select>

  <select name="filter_date" id="filter_date">
    <% @dates =  [[_("[All Time]"), "0"],
                  [_("Today"), "1"],
                  [_("This Week"),"2"],
                  [_("Last Week"),"3"],
                  [_("This Month"),"4"],
                  [_("Last Month"),"5"],
                  [_("This Year"),"6"],
                  [_("Last Year"),"7"],
                  [_("Custom"),"8"]] %>
    <%= options_for_select @dates, params[:filter_date] || 1 %>
  </select>

  <span id="date_range">
    <%= text_field '', '',
        {
          :id => 'start_date',
          :name => 'start_date',
          :size => 12,
          :placeholder => "From",
          :value => (params[:start_date]) ? params[:start_date] : ""
        }
      %>
      <%= text_field '', '',
        {
          :id => 'stop_date',
          :name => 'stop_date',
          :size => 12,
          :placeholder => "To",
          :value => (params[:stop_date]) ? params[:stop_date] : ""}
      %>
  </span>

  <input type="submit" class="btn" style="vertical-align:top;" />
<% end %>

<table id="timeline-table" cellpadding="0" width="100%" cellspacing="0">
  <% day = 0; @logs.each do |log| %>
    <% if day != tz.utc_to_local(log.started_at).day %>
      <% day = tz.utc_to_local(log.started_at).day %>
      <tr>
        <td class="log_header" colspan="3">
          <strong>
            <%= tz.utc_to_local(log.started_at).strftime_localized("%A, %d %B %Y") %>
          </strong>
        </td>
      </tr>
    <% end %>
    <% if  log.target_type == 'WorkLog' %>
      <%= render :partial => 'activities/log_row', :locals => { :log => log.target } %>
    <% else %>
      <%= render :partial => 'activities/other_row', :locals => {:log => log } %>
    <% end %>
  <% end %>
</table>

<% if @logs.count > 0 %>
  <button class="btn" id="load-more" style="width:100%;">Load more...</button>
<% else %>
  <p>No item found.</p>
<% end %>

<script type="text/javascript">
  jQuery(function() {
    var timeLine = new jobsworth.TimeLine({
      dateFormat: "<%= current_user.dateFormat %>",
      lastDate: "<%= (tz.utc_to_local(@logs.last.started_at).strftime_localized("%A, %d %B %Y") rescue "") %>",
      offset: <%= @logs.count %>,
      limit: 30,
      filter_project: <%= params[:filter_project] %>,
      filter_status: <%= params[:filter_status] %>,
      filter_date: <%= params[:filter_date] %>
    });
  });
</script>

