<% content_for :head do %>
  <%= javascript_include_tag "mce_init", "tiny_mce/jquery.tinymce" %>
<% end %>

<%= form_for(@page) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field "page", "notable_id" %>
  <%= hidden_field "page", "notable_type" %>

  <label for="page_notable_id"><%= "Target (Client/User/Project)" %></label>
  <%= text_field_tag "target", @page.notable, :autocomplete => "off" %>

  <label for="page_name"><%=_ 'Name' %></label>
  <%= text_field 'page', 'name'  %>
  
  <label for="page_snippet"><%= _('Snippet (visible to all users)') %></label>
  <%= f.check_box :snippet%>
  
  <br/><br/>

  <textarea class="tinymce" name="page[body]" id="page_body" rows="20" style="width:100%;"><%= @page.body %></textarea><br/>

  <%= submit_tag _("Save"), :class => 'btn' %><br/>
<% end -%>
