<%= error_messages_for 'project' %>

<div class="control-group">
  <label for="project_name"><%=_ 'Name' %></label>
  <div class="controls">
    <%= text_field 'project', 'name', {:autocomplete=>"off"}  %>
  </div>
</div>

<div class="control-group">
  <label for="project_customer_name"><%=_ 'Client' %></label>
  <div class="controls">
    <%= text_field :customer, :name, {
          :id=>"project_customer_name",
          :value => @project.customer.nil? ? "" :@project.customer.name,
          :autocomplete => "off",
          :class => "jtooltip",
          :title => "Please enter the client name by the autocomplete."
        }
    %>
  </div>
</div>

<div class="control-group">
  <label for="project_default_estimate"><%= _ 'Default Estimate' %></label>
  <div class="controls">
    <%= text_field 'project', 'default_estimate' %>
  </div>
</div>

<input type = "hidden" id = "project_customer_id" name = "project[customer_id]" value="<%=@project.customer.nil? ? 0 :@project.customer.id -%>">

<div class="control-group">
  <label for="project_name"><%=_ 'Description' %></label>
  <div class="controls">
    <%= text_area 'project', 'description', :rows => 5, :class => "span8"  %>
  </div>
</div>

