<table id="user_table" width="100%" class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%=_ 'User' %></th>
    <th><%=_ "Read" %></th>
    <th><%=_ 'Comment' %></th>
    <th><%=_ 'Work' %></th>
    <th><%=_ 'Close' %></th>
    <th><%=_ 'See unwatched' %></th>
    <th><%=_ 'Create' %></th>
    <th><%=_ 'Edit' %></th>
    <th><%=_ 'Assign' %></th>
    <th><%=_ 'Milestones' %></th>
    <th><%=_ 'Reports' %></th>
    <th><%=_ 'Grant' %></th>
    <th><%=_ 'All' %></th>
  </tr>

  <% @project.users.each do |user| %>
    <% @user = user %>
    <%= render(:partial => "users/project", :locals => { :project => @project, :user_edit => false }) %>
  <% end %>

  <tr id="add_user">
    <td>
      <%= _("Add user to project") %>
    </td>
    <td colspan="12">
      <%= text_field :user, :name, {:id => "project_user_name_autocomplete", :value => "" } %>
    </td>
  </tr>
</table>

<script type="text/javascript" language="javascript" charset="utf-8">
  jQuery(function() {
    autocomplete('#project_user_name_autocomplete', '/users/auto_complete_for_user_name', addUserToProject);
  })
</script>

