<div class="project">

<div class="clearfix title">
  <%= link_to_tasks_filtered_by project, :class => "pull-left name" %>
  <div class="prog-border pull-left" style="height: 15px; margin-left: 10px;">
    <div class="prog-bar-medium jtooltip" style="width:<%= number_to_percentage(project.progress, :precision => 0) %>;"> </div>
  </div>
  <% if current_user.can?(project, 'grant') || current_user.can?(project, 'milestone') %>
    <%= link_to '<i class="icon-pencil"></i>'.html_safe, { :controller => 'projects', :action => 'edit', :id => project },
        :class => "pull-left hide action jtooltip", :title => _("Edit project <b>%s</b>", escape_twice(project.name)) -%>
  <% end %>
</div>

<% for milestone in project.milestones.select{|m| m.completed_at.nil?}%>
  <%= render :partial => "milestones/milestone_row", :locals => {:milestone => milestone} %>
<% end %>

<% if project.completed_milestones_count > 0 %>
  <%= link_to _('%d completed milestone', project.completed_milestones_count), {:controller => 'milestones', :action => 'list_completed', :id => project}, :class => "pull-right" %>
<% end%>

</div>
