<div class="project">

<div class="clearfix title">
  <%= link_to_tasks_filtered_by project, :class => "pull-left name" %>
  <div class="prog-border pull-left" style="height: 15px; margin-left: 10px;">
    <div class="prog-bar-medium tooltip" style="width:<%= number_to_percentage(project.progress, :precision => 0) %>;"> </div>
  </div>
  <% if current_user.can?(project, 'grant') || current_user.can?(project, 'milestone') %>
    <%= link_to image_tag("edit.png", :border => 0, :title => _("Edit project <b>%s</b>", escape_twice(project.name)), :class => "tooltip"),
        { :controller => 'projects', :action => 'edit', :id => project }, :class => "pull-left hide action" -%>
  <% end %>
</div>

<% for milestone in project.milestones.select{|m| m.completed_at.nil?} %>
  <div class="milestone clearfix">
    <%= link_to_milestone milestone %>

    <% if current_user.can?(milestone.project, 'milestone') %>
       <%= link_to image_tag("edit.png", :border => 0, :title => _("Edit milestone <b>%s</b>", escape_twice(milestone.name)), :class => "tooltip"),
           { :controller => 'milestones', :action => 'edit', :id => milestone }, :class => "pull-left hide action" -%>
       <%= link_to image_tag("delete.png", :border => 0, :title => _("Delete <b>%s</b>", escape_twice(milestone.name)), :class => "tooltip"),
           {:controller => 'milestones', :action => 'destroy', :id => milestone},
             :method => 'delete',
             :confirm => "Are you sure to delete #{milestone.name}?", :class => "pull-left hide action" -%>
    <% end %>

    <div class="prog-border" style="float: right; height: 10px;margin-top:2px;position:relative;">
      <div class="prog-bar-medium" style="width: <%= number_to_percentage(milestone.percent_complete, :precision => 0)  %>;"> </div>
    </div>
  </div>
<% end %>

<% if project.completed_milestones_count > 0 %>
  <%= link_to _('%d completed milestone', project.completed_milestones_count), {:controller => 'milestones', :action => 'list_completed', :id => project}, :class => "pull-right" %>
<% end%>

</div>
