<% @page_title = "Project : #{@project.name} - #{Setting.productName}" %>

<%= form_for(@project, :html => {:class => "form-horizontal"}) do %>
  <fieldset id="project_form">
    <legend><%=_ 'Edit Project' %>
      <%= link_to_tasks_filtered_by(_("View Tasks"), @project, :class => "btn btn-success pull-right") %>
    </legend>
    <%= render :partial => "form" %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <% if current_user.admin?%>
        <%= link_to _("Delete"), project_path(@project), :method => "delete", :confirm => "Really delete #{@project.name}?", :class => "btn btn-mini btn-danger pull-right" %>
      <% end %>
      <% if current_user.can?( @project, 'grant' ) || current_user.admin > 0 %>
        <% if @project.complete? %>
          <%= link_to( _("Re-Open"), revert_project_path(@project), :confirm => "Really revert #{@project.name}?", :method => :post, :class => "btn") %>
        <% else %>
          <%= link_to( _("Complete"), complete_project_path(@project), :confirm => "Really complete #{@project.name}?", :method => :post, :class => "btn") %>
        <% end %>
      <% end %>
  </fieldset>
<% end %>

<div>
  <div class="header">
    <% if current_user.can?( @project, 'milestone' ) || current_user.admin > 0 %>
      <%= link_to _('New milestone'), new_milestone_path(:project_id => @project), :class => "btn pull-right"  %>
    <% end %>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#milestones-pane" data-toggle="tab">Milestones</a>
      </li>
      <li>
        <a href="#completed-milestones-pane" data-toggle="tab">Completed Milestones</a>
      </li>
      <% if current_user.company.use_score_rules? %>
      <li>
        <a href="#score-rules-pane" data-toggle="tab">Score Rules</a>
      </li>
    <% end %>
      <% if current_user.can?( @project, 'grant' ) %>
        <li>
          <a href="#permissions-pane" data-toggle="tab">Access Control</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="milestones-pane">
      <% for milestone in @project.milestones.active.scheduled.order("due_at, milestones.name").includes(:user) %>
        <%= render :partial => "milestones/milestone_row", :locals => { :milestone => milestone } %>
      <% end %>
      <% for milestone in @project.milestones.active.unscheduled.order("due_at, milestones.name").includes(:user) %>
        <%= render :partial => "milestones/milestone_row", :locals => { :milestone => milestone } %>
      <% end %>
    </div>
    <div class="tab-pane" id="completed-milestones-pane">
      <%= render :partial => "milestones/completed_milestones", :locals => {:project => @project}  %>
    </div>
    <% if current_user.company.use_score_rules? %>
      <div class="tab-pane" id="score-rules-pane">
        <%= render 'shared/score_rules_container',
          :container_name => 'projects',
          :container_id   => @project.id %>
        </div>
      <% end %>
    <% if current_user.can?( @project, 'grant' ) %>
      <div class="tab-pane" id="permissions-pane">
        <div id="permission_list"><%= render :partial => "permission_list" %></div>
      </div>
    <% end %>
  </div>
</div>
