<% @page_title = "Completed Projects - #{$CONFIG[:productName]}" %>

<div class="page_header"><%=_ 'Completed Projects' %>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th align="left"><%=_ 'Name' %></th>
    <th align="left"><%=_ 'Completed' %></th>
    <th align="left"><%=_ 'Tasks' %></th>
    <th align="left">&nbsp;</th>
  </tr>
  <% @completed_projects.each do |p| %>
  <tr>
    <td><%= "#{p.customer.name} / #{p.name}" %></td>
    <td><%= tz.utc_to_local(p.completed_at).strftime(current_user.date_format) %></td>
    <td><%= p.tasks.size %></td>
    <td><%= link_to( _('Revert'), {:action => 'revert', :id => p}, :confirm => _("Really revert %s?", p.name) ) %></td>
  </tr>
  <% end %>
</table>
