<% @page_title = "Project : #{@project.name} - #{Setting.productName}" %>

<legend><%= @project.name %>
  <%= link_to_tasks_filtered_by(_("View Tasks"), @project, :class => "btn btn-success pull-right") %>
</legend>

<p>
  <span>Name:</span>
  <strong><%= @project.name %></strong>
  <br/>

  <span>Customer:</span>
  <strong><%= @project.customer %></strong>
  <a href="<%= @project.customer.nil? ? "#" : "/customers/edit/#{@project.customer.id}" %>" id="project_customer_link"><i class="icon-share" title="Go to this company"></i></a>
  <br/>

  <span>Estimate:</span>
  <strong><%= @project.default_estimate %></strong>
  <br/>

  <span>Suppress Billing:</span>
  <strong><%= @project.suppressBilling %></strong>
  <br/>

  <span>Description:</span>
  <strong><%= @project.description %></strong>
  <br/>
</p>

<% if current_user.admin?%>
  <div class="well">
    <%= link_to _("Delete"), project_path(@project), :method => "delete", :confirm => "Really delete #{@project.name}?", :class => "btn btn-mini btn-danger pull-right" %>
    <% if @project.complete? %>
      <%= link_to( _("Re-Open"), revert_project_path(@project), :confirm => "Really revert #{@project.name}?", :method => :post, :class => "btn") %>
    <% else %>
      <%= link_to( _("Complete"), complete_project_path(@project), :confirm => "Really complete #{@project.name}?", :method => :post, :class => "btn") %>
    <% end %>
    <%= link_to( _("Edit"), {:controller => 'projects', :action => 'edit', :id => @project}, :class => "btn") %>
  </div>
<% end %>

<div>
  <div class="header">
    <% if current_user.can?( @project, 'milestone' ) || current_user.admin > 0 %>
      <%= link_to _('New milestone'), new_milestone_path(:project_id => @project), :class => "btn pull-right"  %>
    <% end %>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#milestones-pane" data-toggle="tab">Milestones</a>
      </li>
      <li>
        <a href="#completed-milestones-pane" data-toggle="tab">Completed Milestones</a>
      </li>
      <% if current_user.company.use_score_rules? %>
        <li>
        <a href="#score-rules-pane" data-toggle="tab">Score Rules</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="milestones-pane">
      <% for milestone in @project.milestones.active.scheduled.order("due_at, milestones.name").includes(:user) %>
        <%= render :partial => "milestones/milestone_row", :locals => { :milestone => milestone } %>
      <% end %>
      <% for milestone in @project.milestones.active.unscheduled.order("due_at, milestones.name").includes(:user) %>
        <%= render :partial => "milestones/milestone_row", :locals => { :milestone => milestone } %>
      <% end %>
    </div>
    <div class="tab-pane" id="completed-milestones-pane">
      <%= render :partial => "milestones/completed_milestones", :locals => {:project => @project}  %>
    </div>
    <% if current_user.company.use_score_rules? %>
      <div class="tab-pane" id="score-rules-pane">
        <%= render 'shared/score_rules_container',
          :container_name => 'projects',
          :container_id   => @project.id %>
      </div>
    <% end %>
    </div>
  </div>


