<li class="attribute" id="<%= dom_id(attribute) %>">
  <% 
     preset = attribute.custom_attribute_choices.any?
   -%>

  <% fields_for(prefix(attribute), attribute) do |f| %>
    <%= f.hidden_field :position, :index => attribute.id, :class => "position" %>

    <label><%=_ "Name" %></label>
    <%= f.text_field :display_name, :index => attribute.id %>
    <%= sortable_handle_tag(attribute) %>
    <%= link_to_remove_parent %>

    <label><%=_ "LDAP Name" %></label>
    <%= f.text_field :ldap_attribute_type, :index => attribute.id %>

    <label><%=_ "Use only preset choices" %></label>
    <%= check_box_tag(:preset, 1, preset, :onChange => "updateAttributeFields(this)") %>

    <label><%=_ "Mandatory" %></label>
    <%= nested_boolean_choice_field(f, :mandatory, attribute) %>

    <span class="multiple" style="display: <%= preset ? "none" : "" %>">
      <label><%=_ "Allows multiple" %></label>
      <%= nested_boolean_choice_field(f, :multiple, attribute) %>
    </span>

    <span class="max_length" style="display: <%= preset ? "none" : "" %>">
      <label><%=_ "Maximum field length " %></label>
      <%= f.text_field :max_length, :index => attribute.id %>
    </span>

    <ul class="choices" style="display: <%= preset ? "" : "none" %>">
      <%= render(:partial => "choice", :collection => attribute.custom_attribute_choices,
      :locals => { :attribute => attribute }) %>
    </ul>
    <label></label>
    <%= add_choice_link(attribute) %>

  <% end %>

  <%= sortable_for_choices(attribute) %>
  <br />
</li>
