<div class="attribute clearfix" id="<%= dom_id(attribute) %>">
  <%
     preset = attribute.custom_attribute_choices.any?
   -%>

  <%= fields_for(prefix(attribute), attribute) do |f| %>
    <%= f.hidden_field :position, :index => attribute.id, :class => "position" %>

    <div class="control-group">
      <%= f.label :display_name %>
      <div class="controls">
        <%= f.text_field :display_name, :index => attribute.id %>
        <%= sortable_handle_tag(attribute) %>
        <%= link_to_function(t("custom_attributes.remove_attribute"), "jQuery(this).parents('.attribute').remove()", :class => "remove_attribute") %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ldap_attribute_type %>
      <div class="controls">
        <%= f.text_field :ldap_attribute_type, :index => attribute.id %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mandatory %>
      <div class="controls">
        <%= f.check_box :mandatory, :index => attribute.id, :class => "nested-checkbox" %>
      </div>
    </div>

    <span class="multiple" style="display: <%= preset ? "none" : "" %>">
    <div class="control-group">
      <%= f.label :multiple %>
      <div class="controls">
        <%= f.check_box :multiple, :index => attribute.id, :class => "nested-checkbox" %>
      </div>
    </div>
    </span>

    <span class="max_length" style="display: <%= preset ? "none" : "" %>">
    <div class="control-group">
      <%= f.label :max_length %>
      <div class="controls">
        <%= f.text_field :max_length, :index => attribute.id %>
      </div>
    </div>
    </span>

    <div class="control-group">
      <%= f.label :preset %>
      <div class="controls">
        <%= check_box_tag :preset, 1, preset, :class => "preset-checkbox" %>
      </div>
    </div>

    <ul class="choices" style="display: <%= preset ? "" : "none" %>; clear:both;">
      <%= render(:partial => "choice", :collection => attribute.custom_attribute_choices,
      :locals => { :attribute => attribute }) %>
    </ul>
    <%= add_choice_link(attribute) %>

  <% end %>

</div>
