<li class="attribute">
  <% 
     prefix = "custom_attributes"
     prefix = "new_#{ prefix }" if attribute.new_record? 
   -%>

  <% fields_for(prefix, attribute) do |f| %>
    <%= f.hidden_field :position, :index => attribute.id, :class => "position" %>

    <label><%=_ "Name" %></label>
    <%= f.text_field :display_name, :index => attribute.id %>
    <%= sortable_handle_tag(attribute) %>
    <%= link_to_remove_parent %>

    <label><%=_ "Mandatory" %></label>
    <%= nested_boolean_choice_field(f, :mandatory, attribute) %>

    <label><%=_ "Allows multiple" %></label>
    <%= nested_boolean_choice_field(f, :multiple, attribute) %>

    <label><%=_ "Maximum field length " %></label>
    <%= f.text_field :max_length, :index => attribute.id %>
  <% end %>
  <br />
</li>
