<li class="choice row">
  <%= fields_for(choice_prefix(choice, attribute), choice) do |cf| -%>
    <div class="control-group">
      <label><%=_ "Choice" %></label>
      <div class="controls">
        <%= cf.text_field(:value) %>
        <%= sortable_handle_tag(choice) %>
        <%= link_to_function(_("Remove Choice"), "jQuery(this).parents('.choice').remove()", :class => "remove_attribute") %>
      </div>
    </div>

    <div class="control-group">
      <label><%=_ "Color" %></label>
      <div class="controls">
        <%= cf.text_field(:color) %>
      </div>
    </div>

    <%= cf.hidden_field :position, :class => "position" %>
  <% end -%>
</li>
