<% @page_title = "Custom Attributes - #{$CONFIG[:productName]}" %>

<legend><%= _"Custom Properties" %></legend>

<ul>
  <li><%= edit_custom_attribute_link_for('user') %></li>
  <li><%= edit_custom_attribute_link_for('customer') %></li>
  <li><%= edit_custom_attribute_link_for('organizational_unit') %></li>
  <li><%= edit_custom_attribute_link_for('work_log') %></li>
  <li><%= link_to(_("Tasks"), properties_path) %></li>
  <li><%= link_to(_("Resource Types"), resource_types_path) %></li>
</ul>
