<div class="presence-popup">
<div style="background-color: #eee; border-bottom:1px solid #ccc; font-size:14px; padding: 3px;"><%= _'Users Online'%> (<%= online_users %>)</div>
<div class="presence-chat-area">
<% all_users.each do |u| %>
    <div class="presence-user-row">
      <div style="float:left;padding-right:2px;">
      <%= "<img src=\"#{u.avatar_url(24)}\" class=\"photo\" />" %>
      </div>
      <div>
    <% if u.id != current_user.id %>
      <a href="#" <%= "class=\"presence-user-row-idle\"" if u.idle?%> <%= "class=\"presence-user-row-offline\"" if u.offline?%>  onclick="new Ajax.Request('/shout/chat_add/<%=u.id%>', {asynchronous:true, evalScripts:true}); return false;" ><%= h u.name %><%= " (#{_'idle'})" if u.idle? %><%= " (#{_'offline'})" if u.offline? %></a>
      <% if u.idle? || u.online? %>
      <br/><span class="optional"><%= _('Active %s ago', (u.idle? ? time_ago_in_words(u.last_seen_at) : time_ago_in_words(u.last_ping_at) ) ) %></span>
      <% end %>
    <% else %>
      <%= h u.name %>
    <% end %>
      </div>
    </div>  
    <div style="clear:both;"></div>
<% end %>
</div>
</div>
