<%
  channel_classes = ["channel-message"]
  channel_classes << "channel-message-mine" if @shout.user_id == current_user.id
  channel_classes << "channel-message-others" if(@shout.user_id != current_user.id && @shout.message_type == 0)
  channel_classes << "channel-message-system" if @shout.message_type > 0
  channel_classes << "channel-message-entered" if @shout.message_type == 1
  channel_classes << "channel-message-left" if @shout.message_type == 2
  channel_classes << "channel-message-time" if @shout.message_type == 3
  channel_classes << "channel-message-nick-change" if( last && last.user_id != @shout.user_id )
%>

<tr id="shout_<%=@shout.id%>" class="<%= channel_classes.join(' ') %>">
<td class="channel-user" nowrap><%= @shout.nick if( last.nil? || (last && last.user_id != @shout.user_id) || (@shout.message_type != 0 || last.message_type != 0))%></td>
<td class="channel-body"><%= format_message(@shout.body) %><%= " UTC" if @shout.message_type == 3 %></td>
<% if defined?(passive) && passive %>
<td class="channel-passive"><%= link_to "[#{@shout.shout_channel.name}]", :controller => 'shout', :action => 'room', :id => @shout.shout_channel_id %></td>
<% end %>
</tr>
