  <table class="content" width="100%" style="padding-left: 1em; padding-right: 1em;" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2" class="page_header">
      <div style="float:left;"><%= @room.name %> <%= _('Transcript') %></div>
      <div style="float:right;padding-top:0.1em;"><%= link_to _('Transcripts'),  :action => 'transcripts' %></div>
      </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
     <td style="height:100%;">
       <table id="shout-list" width="100%" cellspacing="0">
         <tr>
           <td colspan="2" class="transcript-navigation">
             <div style="float:left;padding-left:1em;"><%= link_to("&lt;&lt; " + @prev.created_at.strftime_localized("%A, %d %B %Y"), :action => 'transcript', :id => @prev.shout_channel_id, :day => @prev.created_at.strftime("%y-%m-%d")) if @prev %></div>
             <div style="float:right;padding-right:1em;"><%= link_to(@next.created_at.strftime_localized("%A, %d %B %Y") + " &gt;&gt; " , :action => 'transcript', :id => @next.shout_channel_id, :day => @next.created_at.strftime("%y-%m-%d")) if @next %></div>
           </td>
         </tr>
<% last = nil %>
<% for @shout in @shouts %>
  <%= render :partial => 'shout', :locals => {:last => last} %>
  <% last = @shout %>
<% end %>
<% if @shouts.size > 20 %>
         <tr>
           <td colspan="2" class="transcript-navigation">
             <div style="float:left;padding-left:1em;"><%= link_to("&lt;&lt; " + @prev.created_at.strftime_localized("%A, %d %B %Y"), :action => 'transcript', :id => @prev.shout_channel_id, :day => @prev.created_at.strftime("%y-%m-%d")) if @prev %></div>
             <div style="float:right;padding-right:1em;"><%= link_to(@next.created_at.strftime_localized("%A, %d %B %Y") + " &gt;&gt;", :action => 'transcript', :id => @next.shout_channel_id, :day => @next.created_at.strftime("%y-%m-%d")) if @next %></div>
           </td>
         </tr>
<% end %>
     </table>
     </td>
     <td width="20%" valign="top">
       <div id="channel-right-bar" class="channel-right-bar">
         <div class="channel-description"><%= @room.description if @room.description %></div>
         <h2><%= _('Participants') %></h2>
         <div id="channel-users">
           <% @shouts.collect{|s| s.user if s.user }.compact.uniq.each do |u| %>
             <div id="channel-user-<%= u.id %>"><%= u.name %></div>
           <% end %>
         </div>
       </div>
     </td>
  </tr>

</table>
