<div class="well" style="padding: 8px 0;">
  <% scripts = all_custom_scripts -%>
  <ul class="nav nav-list">
    <li class="nav-header">
      Admin Panel
    </li>
    <li class="<%= active_class(selected, "general") %>">
      <a href="<%= edit_company_path(current_user.company) %>">General</a>
    </li>
    <% if current_user.company.use_score_rules? %>
    <li class="<%= active_class(selected, "score-rules") %>">
      <a href="/companies/score_rules">Score Rules</a>
    </li>
  <% end %>
    <% if scripts.size > 0 %>
      <li class="<%= active_class(selected, "custom-scripts") %>">
        <a href="/companies/custom_scripts">Custom Scripts</a>
      </li>
    <% end %>
    <li class="<%= active_class(selected, "templates") %>">
      <%= link_to _("Templates"), :controller => 'task_templates', :action=>'index' %>
    </li>
    <li class="<%= active_class(selected, "triggers") %>">
      <%= link_to _("Triggers"), :controller => 'triggers' %>
    </li>
    <li class="<%= active_class(selected, "services") %>">
      <%= link_to _("Services"), services_path %>
    </li>
    <li class="<%= active_class(selected, "news-items") %>">
      <%= link_to _("News Items"), news_items_path %>
    </li>
    <li class="<%= active_class(selected, "snippets") %>">
      <%= link_to _("Snippets"), snippets_path %>
    </li>
    <li class="<%= active_class(selected, "orphaned-emails") %>">
      <%= link_to _("Orphaned Emails"), email_addresses_path %>
    </li>
    <li class="divider"></li>
    <li class="nav-header">
      Properties
    </li>
    <li class="<%= active_class(selected, "users-properties") %>">
      <a href="/custom_attributes/edit?type=User">Person</a>
    </li>
    <li class="<%= active_class(selected, "customers-properties") %>">
      <a href="/custom_attributes/edit?type=Customer">Company</a>
    </li>
    <li class="<%= active_class(selected, "organizational-units-properties") %>">
      <a href="/custom_attributes/edit?type=OrganizationalUnit">Company Location</a>
    </li>
    <li class="<%= active_class(selected, "work-logs-properties") %>">
      <a href="/custom_attributes/edit?type=WorkLog">Work Log</a>
    </li>
    <li class="<%= active_class(selected, "task-properties") %>">
      <a href="<%= properties_path %>">Task</a>
    </li>
    <% if current_user.use_resources? %>
    <li class="<%= active_class(selected, "resource-type") %>">
      <a href="<%= resource_types_path  %>">Resource Types</a>
    </li>
  <% end %>
  </ul>
</div>

