<%= error_messages_for 'company' %>
<label for="company_name"><%=_ 'Company Name' %></label><%= text_field 'company', 'name' %><br/>
<label for="company_show_wiki"><%=_ 'Use Wiki' %></label><%= check_box 'company', 'show_wiki' %><br/>
<label for="company_show_forum"><%=_ 'Use Forum' %></label><%= check_box 'company', 'show_forum' %><br/>
<label for="company_show_chat"><%=_ 'Use Chat' %></label><%= check_box 'company', 'show_chat' %><br/>
<label for="company_show_messaging"><%=_ 'Use Messaging' %></label><%= check_box 'company', 'show_messaging' %><br/>
<label for="company_restricted_userlist" class="tooltip" title="<%=_ 'Limit instant messaging to users sharing the same projects' %>"><%=_ 'Restricted Messaging' %></label><%= check_box 'company', 'restricted_userlist' %><br/>
