<div class="control-group">
  <label for="company_name"><%=_ 'Company Name' %></label>
  <div class="controls">
    <%= text_field 'company', 'name' %>
  </div>
</div>

<div class="control-group">
  <label for="company_show_wiki"><%=_ 'Use Wiki' %></label>
  <div class="controls">
    <%= check_box 'company', 'show_wiki' %>
  </div>
</div>

<div class="control-group">
  <label for="company_use_resources"><%=_ 'Use Resources' %></label>
  <div class="controls">
    <%= check_box 'company', 'use_resources' %>
  </div>
</div>

<div class="control-group">
  <label for="company_use_billing"><%=_ 'Enable Billing for Projects' %></label>
  <div class="controls">
    <%= check_box 'company', 'use_billing' %>
  </div>
</div>

<div class="control-group">
  <label for="company_suppressed_email_addresses"><%= _('Suppressed email addresses') %></label>
  <div class="controls">
    <%= text_area 'company', 'suppressed_email_addresses', :rows => 5, :class => "input-xxlarge" %>
    <div class="optional"><%=_ "(seperate emails by comma or new line)" %></div>
  </div>
</div>

<div class="control-group">
  <label for="incoming_email_project" rel="tooltip" title="<%=_ 'Emails received by Jobsworth that don\'t belong to a task will be added to this project' %>" data-placement="right">
    <%=_ "Incoming Email Project" %>
  </label>
  <div class="controls">
    <%= incoming_email_select_tag %>
  </div>
</div>

<% if current_user.company.logo? -%>
  <div class="control-group">
    <label><%=_ 'Current logo' %></label>
    <div class="controls">
      <%= tag("img", {:src => "/companies/show_logo/#{current_user.company.id}", :border => 0 } ) %>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <label><%=_ 'New Logo' %></label>
  <div class="controls">
    <%= file_field :company, :logo %>
    <div class="optional"><%=_ "(250x50px should look good. The logo will be shown up top instead of the Jobsworth one, and on your login page.)" %></div>
  </div>
</div>


