<div class="control-group">
  <%= f.label(:company_name) %>
  <div class="controls">
    <%= f.text_field 'name' %>
  </div>
</div>

<div class="control-group">
  <%= f.label(:show_wiki) %>
  <div class="controls">
    <%= f.check_box 'show_wiki' %>
  </div>
</div>

<div class="control-group">
  <%= f.label(:use_resource) %>
  <div class="controls">
    <%= f.check_box 'use_resources' %>
  </div>
</div>

<div class="control-group">
  <%= f.label(:use_billing) %>
  <div class="controls">
    <%= f.check_box 'use_billing' %>
  </div>
</div>

<div class="control-group">
  <%= f.label(:use_score_rules) %>
  <div class="controls">
    <%= f.check_box 'use_score_rules' %>
  </div>
</div>

<div class="control-group">
  <%= f.label(:suppressed_email_addresses) %>
  <div class="controls">
    <%= f.text_area 'suppressed_email_addresses', :rows => 5, :class => "input-xxlarge" %>
    <div class="optional"><%= t("companies.suppressed_email_hint") %></div>
  </div>
</div>

<div class="control-group">
  <label for="incoming_email_project" rel="tooltip" title="<%= t 'hint.company.receiving_emails' %>" data-placement="right">
    <%= t("companies.incoming_email_project") %>
  </label>
  <div class="controls">
    <%= incoming_email_select_tag %>
  </div>
</div>

<% if current_user.company.logo? -%>
  <div class="control-group">
    <%= f.label(:logo) %>
    <div class="controls">
      <%= tag("img", {:src => "/companies/show_logo/#{current_user.company.id}", :border => 0 } ) %>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <%= f.label(:logo, t("companies.new_logo")) %>
  <div class="controls">
    <%= f.file_field :logo %>
    <div class="optional"><%= t("companies.logo_hint") %></div>
  </div>
</div>


