<%= error_messages_for 'company' %>
<p><label for="company_name"><%=_ 'Company Name' %></label><%= text_field 'company', 'name' %></p>
<p><label for="company_show_wiki"><%=_ 'Use Wiki' %></label><%= check_box 'company', 'show_wiki' %></p>
<p><label for="company_show_forum"><%=_ 'Use Forum' %></label><%= check_box 'company', 'show_forum' %></p>
<p><label for="company_show_chat"><%=_ 'Use Chat' %></label><%= check_box 'company', 'show_chat' %></p>
<p><label for="company_show_messaging"><%=_ 'Use Messaging' %></label><%= check_box 'company', 'show_messaging' %></p>
<p><label for="company_restricted_userlist" class="tooltip" title="<%=_ 'Limit userlist to users in same project' %>"><%=_ 'Restricted Userlist' %></label><%= check_box 'company', 'restricted_userlist' %></p>
<br>
