<% @page_title = "#{t('custom_scripts.custom_scripts')} - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "custom-scripts"} %>
<% end %>

<%= content_tag :legend, t("custom_scripts.custom_scripts") %>

<%= content_tag :p, t("custom_scripts.explanation"), :class => "alert alert-info" %>

<% scripts = all_custom_scripts -%>

<% if scripts and scripts.any? -%>
  <ul>
    <% scripts.each do |script| -%>
    <li>
	<%= link_to script, :controller => "scripts", :script => script %>
    </li>
    <% end -%>
  </ul>
<% else -%>
  <p>
  <%= t('custom_scripts.no_scripts_found', :rails_root => Rails.root) %>
  </p>
<% end -%>
