<% @page_title = "#{t("companies.company_settings")} - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "general"} %>
<% end %>

<%= content_tag :legend, t("companies.company_settings") %>

<%= form_for(@company, :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
  <%= render "settings", :f => f %>
  <div class="form-actions">
    <%= submit_tag t("button.save"), :class => 'btn btn-primary' %>
  </div>
<% end %>

