<% @page_title = "Company Setting - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "general"} %>
<% end %>

<legend><%=_ 'Company Settings' %></legend>

<%= form_for(@company, :html => {:class => "form-horizontal", :multipart => true}) do %>
  <%= render :partial => "settings" %>
  <div class="form-actions">
    <%= submit_tag _("Save"), :class => 'btn btn-primary' %>
  </div>
<% end %>

