<fieldset>
<legend><%=_ 'Company Settings' %></legend>
<% form_tag :action => 'update' do %>
  <%= render :partial => "settings" %>
  <label>&nbsp;</label>
  <%= submit_tag _("Save"), :class => 'nolabel' %>
<% end %>
</fieldset>

<% @customer = current_user.company.internal_customer %>
<fieldset>
<legend><%=_ 'Custom Logo' %></legend>
<% if @customer.logo? -%>
  <label for="current_logo"><%=_ 'Current logo' %></label><%= tag("img", {:src => "/customers/show_logo/#{@customer.id}", :border => 0 } ) %><%= link_to _("[Delete]"), :controller => 'customers', :action => "delete_logo", :id => "#{@customer.id}" %><br/>
<% end -%>

<% form_tag({ :controller => 'customers', :action => 'upload_logo'}, { :multipart => "true" }) do %>
  <label for="customer_tmp_file"><%=_ 'New logo' %></label><%= file_field 'customer', 'tmp_file' %><br/>
  <label for="options_text">&nbsp;</label><div class="optional" style="float:left;"><%=_ "(250x50px should look good. The logo will be shown up top instead of the ClockingIT one, and on your login page.)" %></div><br/>
  <%= hidden_field_tag "customer[id]", "#{@customer.id}" %>
  <label>&nbsp;</label>
  <%= submit_tag _("Upload"), :class => 'nolabel' %>
<% end %>
</fieldset>

<% if false %>
<fieldset>
    <legend><%= _('Database Backup') %></legend>
    <form action="http://repo.clockingit.com/dump/" method="post">
        <input type="hidden" name="uuid" value="<%= current_user.uuid %>" />
        <input type="submit" name="submit" value="<%= _('Download Database Dump') %>" />
    </form>
</fieldset>
<% end %>