<% content_for(:side_panel) do %>
  <% tags_preference = current_user.preference('tags') || 'open' %>
  <% cache "tags/#{current_user.company_id}/#{current_user.id}/#{tags_preference}" do %>
        <div id="tags" class="section">
                <span class="collapsable-sidepanel-button panel-<%= tags_preference %>">&nbsp;</span>
                <div class="page_header">
                        <%=_ 'Tags' %>
                        <% if current_user.admin? -%>
                          <%= link_to _("Edit"), tags_path %>
                        <% end -%>
                </div>

                <div class="cloud panel_content">
                        <%= tag_links %>
                </div>
        </div>
  <% end -%>
  <%= javascript_tag("jQuery('div#tags div.panel_content').hide();") if tags_preference == "collapsed" %>
<% end %>