<%= form_for(@tag) do |f| -%>
  <fieldset>
    <legend><%= _("Edit tag - %s", @tag.name) %></legend>

    <div class="control-group">
      <%= f.label :name %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-actions">
      <%= cit_submit_tag(@tag) %>
    </div>

  </fieldset>
<% end -%>
