<%= form_for(@tag) do |f| -%>
  <fieldset>
    <legend><%= t("tags.edit_tags", :tag => @tag.name) %></legend>

    <div class="control-group">
      <%= f.label t("tags.name") %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-actions">
      <%= cit_submit_tag(@tag) %>
      <% unless @tag.new_record? %>
        <%= link_to(t("button.delete"), tag_path(@tag), :class => "btn btn-danger", :method => :delete, :confirm => t("shared.are_you_sure")) %>
      <% end %>
    </div>

  </fieldset>
<% end -%>
