<legend><%= t("tags.tags") %></legend>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th><%= t("tags.name") %></th>
    <th><%= t("tags.task_info") %></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to_filter_on_tag(tag) %></td>
    <td><%= t("tags.tag_count", open: tag.count, all: tag.total_count) %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_tag_path(tag) %></td>
  </tr>
<% end %>
</table>

