<% @page_title = "#{t('devise.sign_in')} - #{Setting.productName}" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'well form-horizontal span6 center'}) do |f| %>
  <%= content_tag :legend, t('devise.sign_in') %>
  <% if flash[:alert] %>
     <div class="alert alert-error" id="notice">
        <%= t('devise.sessions.invalid') %>
        <% flash[:alert]=nil%>
     </div>
  <% end %>

  <%= devise_error_messages! %>

  <%= f.hidden_field :subdomain, :value => request.subdomains[0] || Company.sole_company.try(:subdomain) %>

  <div class="control-group">
    <%= f.label :username %>
    <div class="controls">
      <%= f.text_field :username%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :class => 'checkbox inline' %>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit t('devise.sessions.login'), :class => 'btn' %>
    <%= link_to t('devise.sessions.forget'), new_user_password_path  %>
  </div>
<% end %>
