<% form_for(@resource) do |f| %>
<%= error_messages_for(:resource) %>

<fieldset class="basic">
  <label for="resource_name"><%= _("Name") %></label>
  <%= f.text_field :name %>
  <br />

  <label for="resource_customer"><%= _("Client") %></label>
  <%= f.hidden_field(:customer_id, :class => "auto_complete_id")  %>
  <%= text_field_with_auto_complete(:customer, :name, { :value => @resource.customer },
  :after_update_element => "updateAutoCompleteField") %>
  <br />

  <label for="resource_parent"><%= _("Parent resource") %></label>
  <%= text_field_with_auto_complete(:resource, :parent_id, { :size => 15 },
      { :select => "complete_value" }) %>
  <br />

  <label for="resource_type"><%= _("Type") %></label>
  <%= f.select(:resource_type_id, resource_types_options_array, { :include_blank => true }, :onChange => "updateResourceAttributes(this)") %>
  <br clear="both" />

  <fieldset>
    <legend><%= _("Attributes") %></legend>
    <div id="attributes">
      <% @resource.all_attributes.each do |ra| %>
        <%= render(:partial => "attribute", :locals => { :attribute => ra }) %> 
      <% end %>
    </div>

    <label for="resource_notes"><%= _("Notes") %></label>
    <%= f.text_area :notes %>
  </fieldset>

  <%= cit_submit_tag(@resource) %>
  <% if !@resource.new_record? %>
    <br />or
    <%= link_to(_("Delete"), resource_path(@resource), :method => :delete, :confirm => "Are you sure?") %>
  <% end %>
</fieldset>
<% end %>
