<h1>Resources</h1>

  <a href="#" onclick="jQuery('#filter').toggle('slow')" class="disclosure">
    <%= _'Filter'%>
  </a>

  <fieldset id="filter" style="padding-bottom:0.5em;margin-bottom:1em;padding-left:1em;">
    <form id="filter_form">
      <%= hidden_field_tag "filter[filtering]", "true" %>
      <div class="builtin filters">
	<%= customer_filter %>
      </div>
      <div class="extra filters">
	<%= resource_type_filter %>
      </div>
    </form>
  </fieldset>

<div class="resources">
  <ul>
    <% resources_without_parents(@resources).each do |r| %>
    <%= render(:partial => "resource", :locals => { :resource => r, :depth => 0 }) %>
    <% end %> 
  </ul>
</div>
