<html>
<head>
<title><%= $CONFIG[:productName] %></title>
<%= stylesheet_link_merged :portal %>
<%
if !@company.nil?
	@internal = @company.internal_customer
	if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0 %>
<style type="text/css"><%= @internal.css%></style>
<%
	end
end
%>
</head>

<body>
<% unless @company.nil? %>
	<div id="login">
		<%= tag("img", {:src => "/clients/show_logo/#{@internal.id}" } ) %>
		<% form_tag( {:action => 'validate'}, {:id => "loginform"}) do %>
			<div id="name"><%= @company.name %> project management</div>
			<button type="submit" name="Submit" value="Login" tabindex="4"></button>
			<p>
				<label for="username">Username</label>
				<input name="user[username]" id="username" type="text" class="inputbox" alt="username" size="12" tabindex="1" />
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" id="password" name="user[password]" class="inputbox" size="12" alt="password" tabindex="2"/>
				<small><a href="/login/forgotten_password" tabindex="3">Forgot password</a></small>
			</p>
			<p>
				<input type="checkbox" id="remember" name="remember" value="1" tabindex="5"/>
				<label for="remember">Remember me</label>
			</p>
			<% if flash[:notice] %>
				<div id="notice"><%= flash[:notice] %><% flash.clear %></div>
			<% end %>
		<% end %>
	</div>
	<script type="text/javascript">document.forms[0].username.focus();</script>

<% else %>
	<h1>Please set up Clocking IT by running the setup.rb script.</h1>
<% end %>
</body>
</html>