<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= $CONFIG[:productName] %></title>
<%= stylesheet_link_merged :portal %>
<% if !@company.nil?
   @internal = @company.internal_customer
   if @internal and !@internal.css.blank? %>
     <style type="text/css"><%= @internal.css%></style>
   <% end -%>
<% end -%>
</head>

<body>
<% if @company %>
<!--[if IE 6]>
	<div id="ie6_upgrade_message">
		<h4>We've noticed you're using Internet Explorer 6...</h4>
		<p>IE6 is a bit old, and may not properly show you the best parts of this website. We recommend that you upgrade to one of the following browsers:</p>
		<ul>
			<li><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet Explorer 8</a></li>
			<li><a href="http://www.getfirefox.com/">Firefox</a></li>
		</ul>
	</div>
<![endif]-->
	<div id="login">
	  <% if @internal -%>
	    <%= tag("img", {:src => "/clients/show_logo/#{@internal.id}", :alt => "logo" } ) %>
	  <% end -%>
		<% form_tag( {:action => 'validate'}, {:id => 'loginform', :name => 'loginform'}) do %>
			<div id="name"><%= $CONFIG[:productName] %></div>
			<button type="submit" name="Submit" id="submit" value="Login" tabindex="4"></button>
			<p>
				<label for="username">Username</label>
				<input name="user[username]" id="username" type="text" class="inputbox username" alt="username" size="12" tabindex="1" />
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" name="user[password]" id="password" class="inputbox" size="12" alt="password" tabindex="2"/>
				<input type="hidden" name="forgot" value=""/>
				<small><a onclick="document.loginform.forgot='true';document.loginform.submit()" href="#" tabindex="3">Forgot password</a></small>
			</p>
			<p>
				<input type="checkbox" name="remember" value="1" tabindex="5"/>
				<label id="remember" for="remember">Remember me</label>
			</p>
			<% if flash[:notice] %>
				<div id="notice"><%= flash[:notice] %><% flash.clear %></div>
			<% end %>
		<% end %>
	</div>
<% else %>
	<h1>Please set up Clocking IT by running the setup.rb script.</h1>
<% end %>
</body>
</html>
