<li id="new_todo_<%= todo.position %>" class="<%= todo.css_classes%>">
  <%= new_todo_open_close_check_box(todo) %>
  <%= hidden_field_tag "todos[][creator_id]", todo.creator_id, :class => "creator_id" %>
  <%= hidden_field_tag "todos[][completed_by_user_id]", todo.completed_by_user_id, :class => "completed_by_user_id" %>
  <%= hidden_field_tag "todos[][completed_at]", todo.completed_at, :class => "completed_at" %>
  <span class="display">
    <%=h todo.name %>
  </span>
  <span class="edit" style="display: none;">
    <%= text_field_tag("todos[][name]", todo.name) %>
    <%= link_to("Cancel", "#", :class => "toggle-todo-edit") %>
  </span>

  <% if todo.done? -%>
    <%=h "[#{ formatted_datetime_for_current_user(tz.utc_to_local(todo.completed_at)) }]" %>
    <%=h "[#{ todo.completed_by_user.name }]" if todo.completed_by_user %>
  <% else -%>
    &nbsp;
    <%= link_to('<i class="icon-pencil"></i>'.html_safe, "#", :class => "toggle-todo-edit") %>
  <% end -%>

  &nbsp;
  <%= link_to '<i class="icon-remove"></i>'.html_safe, "#", :rel => "tooltip", :title => _("Delete <b>%s</b>.", h(todo.name)).html_safe,
              :onClick => "jQuery(this).parent().remove(); return false;"%>
</li>
