<div id="file_cell_<%= project_files.id%>" class="cell_draggable file_cell project-<%= project_files.project_id %>">
  <div style="text-align:center;" class="handle"><center>
  <% if project_files.image? %>
  <div class="file_cell_img">
  <a href="#"><%= tag("img", {:src => "/project_files/thumbnail/#{project_files.id}", :border => 0 } ) %></a><br />
  <% else %>
  <div class="file_cell_icon">
  <a href="#"><%= image_tag(file_type_image(project_files), :border => 0) %></a><br />
  <% end %>
  </div></center>
  </div>

  <% filename = (project_files.name.nil? || project_files.name.empty?) ? project_files.filename : project_files.name %>

  <div class="file_cell-info">
  <strong><%= link_to( h(truncate(filename, :length => 32)), {:action => 'download', :id => project_files.id}) %></strong><br/>
  <%= h project_files.project.name %><br />

  <small><%=h tz.utc_to_local(project_files.created_at).strftime("#{current_user.time_format} #{current_user.date_format}") %> - <%= number_to_human_size(project_files.file_size) %> </small><br />
  <%= link_to _('Show'), :action => 'show', :id => project_files %>
  | <%= link_to _('Edit'), "/project_files/edit_file/#{project_files.id}" %>
  | <%= link_to_function _('Delete'), "remove_file('file', #{project_files.id}, '#{_("Are you sure?")}')" %>
  </div>
</div>
