<div id="folder_cell_<%= folder.id %>" class="cell_droppable<%= " cell_draggable" unless folder.new_record? %> file_cell project-<%= folder.project_id %>" >
  <center>
    <div class="file_cell_icon<%= " handle" unless folder.new_record?%>"<%= " onclick=\"location.href='#{url_for(:action => 'list', :id => folder)}'\"" if folder.new_record? %> >
      <a href="#"><%= image_tag "folder_big.png" %></a><br />
    </div>
  </center>
  <div class="folder_cell-info">
    <strong><%=link_to( h(folder.name), {:action => 'list', :id => folder }) %></strong><br/>
    <%= h folder.project.name %><br />

    <div style="padding-left:0.5em;padding-right:0.5em;" id="folder_info_<%= folder.id %>">
      <%= render :partial => "folder_info.html.erb", :locals => {:folder => folder} %>
    </div>
  </div>
</div>
<%= javascript_tag "init_drag_drop();" if local_assigns.has_key?(:just_dropped) %>
