<div id="folder_cell_<%= folder.id %>" class="file_cell project-<%= folder.project_id %>" >
  <center>
    <div class="file_cell_icon<%= " handle" unless folder.new_record?%>"<%= " onclick=\"location.href='#{url_for(:action => 'list', :id => folder)}'\"" if folder.new_record? %> >
      <a href="#"><img src="/images/folder_big.png" border="0" ></a><br />
    </div>
  </center>
  <div class="folder_cell-info">
    <strong><%=link_to( h(folder.name), {:action => 'list', :id => folder }) %></strong><br/>
    <%= h folder.project.name %><br />

    <div style="padding-left:0.5em;padding-right:0.5em;" id="folder_info_<%= folder.id %>">
<%= render :partial => "folder_info", :locals => {:folder => folder} %>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
Droppables.add("folder_cell_<%=folder.id%>", {accept:'project-<%=folder.project_id%>', hoverclass:'folder-active', onDrop:function(element, dropElement){Element.hide(element); new Ajax.Request('/project_files/move', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('loading');}, onLoading:function(request){Element.show('loading');}, parameters:'id=' + encodeURIComponent(element.id + " " + dropElement.id)})}})
//]]>
</script>

<% unless folder.new_record?  %>
  <%= draggable_element "folder_cell_#{ folder.id }", { :revert => true, :ghosting => false, :handle => "'handle'", :onclick => "function(element){location.href='#{url_for(:action => 'list', :id => folder)}';}" } %>
<% end %>
