<% @page_title = "File : #{@file.name} - #{$CONFIG[:productName]}" %>

<%= form_tag({:action => 'update', :id => @file }, :id => "edit_file_form",  :class => "form-horizontal") do  %>
  <fieldset>
    <legend>Editing Project File</legend>

    <% if @file.project_id.nil? %>
      <div class="control-group">
        <label for="file_project_id"><%=_ 'Project' %></label>
        <div class="controls">
          <%= select 'file', 'project_id', current_user.projects.where("completed_at IS NULL").except(:order).order('name').collect {|c| [ c.name, c.id ] } %>
        </div>
      </div>
    <% else %>
      <%= hidden_field 'file', 'project_id' %>
    <% end %>
    
    <div class="control-group">
      <label for="file_name"><%=_ 'Name' %></label>
      <div class="controls">
        <%= text_field 'file', 'file_file_name'  %>
      </div>
    </div>
    <%= hidden_field 'file', 'project_folder_id' %>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="reset" class="btn" onclick="jQuery('#inline_form').hide();">Cancel</button>
    </div>
  </fieldset>
<% end %>
