<table class="content" width="100%" style="padding-left:1em;padding-right: 1em;" cellpadding="0" cellspacing="0">
    <tr>
      <td align=left class="page_header">
         <div style="float:left;"><%=_ 'Files' %> - <%= @current_folder.full_path %></div>
         <div style="float:right;padding-top:0.1em">
           <%= link_to_remote _('New File'), :url => {:action => 'new_file', :id => @current_folder},
                                   :loading => "Element.show('loading');",
                                   :complete => "Element.hide('loading');"
           %>
           /
           <%= link_to_remote _('New Folder'), :url => {:action => 'new_folder', :id => @current_folder},
                                   :loading => "Element.show('loading');",
                                   :complete => "Element.hide('loading');"
           %>
           </div>
       </td>
     </tr>
<tr><td ><div id="inline_form" style="display:none;"></div>
</td></tr>
  <tr>
    <td id="files">
<% for folder in @project_folders %>
  <%= render :partial => 'folder_cell', :locals => {:folder => folder } %>
<% end %>
<div id="dir_sep" style="display:none; float:left;">&nbsp;</div>
<% if @project_files
  for project_files in @project_files
%>
    <%= render :partial => 'file_cell', :locals => {:project_files => project_files}%>
<% end %>
<% end %>
    </td>
  </tr>
  <tr><td colspan=6>&nbsp;</td></tr>
  <tr><td colspan=6></td></tr>
  </table>


