<h1><%= t("service_level_agreements.list_sla") %></h1>

<table>
  <tr>
    <th><%= t("service_level_agreements.service") %></th>
    <th><%= t("service_level_agreements.customer") %></th>
    <th><%= t("service_level_agreements.billable") %></th>
    <th><%= t("service_level_agreements.company") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_level_agreements.each do |service_level_agreement| %>
  <tr>
    <td><%= service_level_agreement.service_id %></td>
    <td><%= service_level_agreement.customer_id %></td>
    <td><%= service_level_agreement.billable %></td>
    <td><%= service_level_agreement.company_id %></td>
    <td><%= link_to t("button.show"), service_level_agreement %></td>
    <td><%= link_to t("button.edit"), edit_service_level_agreement_path(service_level_agreement) %></td>
    <td><%= link_to t("button.destroy"), service_level_agreement, confirm: t("shared.are_you_sure"), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("service_level_agreements.new_sla"), new_service_level_agreement_path %>
