<p id="notice"><%= notice %></p>

<p>
  <b><%= t("service_level_agreements.service") %>:</b>
  <%= @service_level_agreement.service_id %>
</p>

<p>
  <b><%= t("service_level_agreements.customer") %>:</b>
  <%= @service_level_agreement.customer_id %>
</p>

<p>
  <b><%= t("service_level_agreements.billable") %>:</b>
  <%= @service_level_agreement.billable %>
</p>

<p>
  <b><%= t("service_level_agreements.company") %>:</b>
  <%= @service_level_agreement.company_id %>
</p>


<%= link_to t("button.edit"), edit_service_level_agreement_path(@service_level_agreement) %> |
<%= link_to t("button.back"), service_level_agreements_path %>
