<p><%= t('devise.reset_password_instructions.hello', :email => @resource.email) %>!</p>

<p><%= t('devise.reset_password_instructions.link_to_change') %>:</p>

<p><%= link_to t('devise.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.reset_password_instructions.if_you_didnt_request_this') %></p>
<p><%= t('devise.reset_password_instructions.your_password_wont_change_until') %></p>
