<% date_format = current_user.time_format %>

<tr class="hoverrow">
  <td align="right" valign="top" style="width:80px;" nowrap><%= "#{tz.utc_to_local(log.created_at).strftime(date_format)}"%></td>
  <td align="center" width="36px" valign="top">
    <%= image_tag('page_add.png', :alt => "Wiki page added") if log.event_type == EventLog::WIKI_CREATED %>
    <%= image_tag('page_edit.png', :alt => "Wiki page modified") if log.event_type == EventLog::WIKI_MODIFIED %>
    <%= image_tag('package_add.png', :alt => "File added") if log.event_type == EventLog::FILE_UPLOADED %>
    <%= image_tag('page_add.png', :alt => "Page added") if log.event_type == EventLog::PAGE_CREATED %>
    <%= image_tag('page_delete.png', :alt => "Page deleted") if log.event_type == EventLog::PAGE_DELETED %>
    <%= image_tag('page_edit.png', :alt => "Page modified") if log.event_type == EventLog::PAGE_MODIFIED %>
  </td>
  <td  valign="top" width="90%">
    <div style="float:left;padding-left:0.2em;"><strong>
        <% if log.target.is_a? WikiPage %>
          <%= log.target.to_url %>
        <% elsif log.target.is_a? ProjectFile %>
          <%= "#{link_to_task(log.target.task)} [".html_safe if log.target.task %>
          <%= "<a href=\"/project_files/show/#{log.target_id}\" title=\"<img src=/project_files/thumbnail/#{log.target_id}>\" rel=\"tooltip\">#{log.target.full_name}</a>".html_safe %>
          <%= "]".html_safe if log.target.task %>
        <% else %>
          <%= log_title_for(log) %>
        <% end %>
        <%= "<br/>".html_safe if(log.user || (log.target.respond_to?(:task) && log.target.task) ) %>
        <%= "<span class=\"optional\">#{log.target.task.full_name}</span> ".html_safe if( log.target.respond_to?(:task) && log.target.task )%>
        <%= "<small><span class=\"otheruser\">[#{log.user.name}]</span></small>".html_safe if log.user %>
    </strong></div>

    <div style="float:right;"><%= avatar_for log.user, 25 if log.user %></div>
    <div style="clear:both;padding-left:4px;padding-right:4px;padding-top:0.2em;padding-bottom:1em;border-top:1px solid #e8e8e8;">
      <% if log.body && log.body.length > 0 %>
        <%= log.body.gsub(/\n/, "<br/>").html_safe  %>
      <% end %>
    </div>
  </td>
</tr>
