<% @page_title = "Dashboard - #{$CONFIG[:productName]}" %>

<div id="controls-container">
  <%= render :partial => "widgets/add"%>
</div>

<div id="widget-container" class="row-fluid">
    <div class="column pull-left span6">
      <% @columns[0] && @columns[0].each do |w| %>
        <% next if w.widget_type == 2 %>
        <% @widget = w %>
        <%= render :partial => "widgets/widget" %>
      <% end %>
    </div>

    <div class="column pull-left span6">
      <% @columns[1] && @columns[1].each do |w| %>
        <% next if w.widget_type == 2 %>
        <% @widget = w %>
        <%= render :partial => "widgets/widget" %>
      <% end %>
    </div>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  jQuery(function() {
    var portal = new jobsworth.Portal();
    <% current_user.widgets.each do |widget| %>
      <% unless widget.widget_type == 2  %>
        portal.show_widget(<%=widget.id%>, "<%=widget.dom_id%>", <%=widget.widget_type%>, <%=widget.configured%>, "<%=widget.gadget_url%>");
      <% end %>
    <% end %>
  })
// ]]>
</script>
