  <table width="100%" cellpadding=0 cellspacing=0 id="tutorial">
    <tr>
      <td valign="top" align="left">
        <table cellpadding="0" cellspacing="0" class="content" width="100%" style="padding-left: 1em;">
          <tr>
            <td align="left" colspan="2" class="page_header"><div style="float:left;"><%= _('Welcome')%></div></td>

          </tr>
          <tr>
            <td colspan=2>
            <div class="welcome"><%= _'Welcome to ClockingIT. To get started, follow the steps below.'%><br><%= link_to _("Don't show this splash page"), :controller => 'activities', :action => 'hide_welcome' %></div>

            <div class="tutorial<%= " complete" if @projects_count > 0%>">
              <%= _"The first step is to %s. Don't worry about entering real data, you can always delete the project you create and start over, once you get the hang of things.", link_to(_('create a project'), :controller => 'projects', :action => 'new') %> <br /><br />
                  <smaller><%= _ 'To create a project outside of this welcome page, click %s in the %s menu entry', _('New Project'), _('Projects') %></smaller>
            </div>

            <div class="tutorial<%= " complete" if @tasks_count > 0 %><%= " todo" if @projects_count == 0%>">
              <%= _ 'Next up is %s. You can also do it by clicking the %s button up in the top menu. For more information about tasks, have a look at %s on the ClockingIT Wiki.', link_to(_('creating a task'), :controller => 'tasks', :action => 'new'), _('New Task'), "<a href=\"http://wiki.clockingit.com/wiki:tutorial#tasks\" target=\"_new\">#{_'the documentation'}</a>"  %>
            </div>

            <div class="tutorial<%= " complete" if @work_count > 0 %><%= " todo" if @tasks_count == 0 %>">
              <%= _ "Once you have one or more tasks defined, it's time to start working on them. Click %s on the top menu, pick a task and click the %s next to it. The timer for that task starts running.", link_to(_('Browse'), :controller => 'views', :action => 'browse'), image_tag('time.png', :alt => 'Clock Icon') %> <br/><br/>

              <%= _'When done working on that task, either click another %s to continue working but on a different task, or use %s to save off this work. %s stops the timer without logging any work.', image_tag('time.png', :alt => 'Clock Icon'), image_tag('time_add.png', :alt => 'Clock Add Icon'), image_tag('time_delete.png', :alt => 'Clock Icon')  %>
            </div>

            <div class="tutorial<%= " complete" if @completed_count > 0 %><%= " todo" if @work_count == 0 %>">
             <%= _'After working on a task, it\'s time to complete it. Find your task by clicking %s on the top menu, or search for it from the search field in the same menu.', link_to(_('Browse'), :controller => 'views', :action => 'browse') %> <%= _'You can either click the checkbox to the left of the %s or you can edit the task and change the status to Closed, Won\'t Fix, Invalid or Duplicate.', image_tag('time.png', :alt => 'Clock Icon')  %>
            </div>

            <div class="tutorial<%= " complete" if @users_count > 1 %><%= " todo" if @completed_count == 0 %>">
              <%= _'The last thing to do, is %s unless you\'re working alone. Once you have created logins for them, grant them access to the projects they are to work on from the Edit Project page, accessible from the %s.', link_to(_('invite some co-workers'), :controller => 'users', :action => 'new'), link_to(_('Overview'), :controller => 'activities', :action => 'list') %>
            </div>

            <div class="tutorial"><%= _('If you require further help, check the %s, %s or email us at %s', "<a href=\"http://forum.clockingit.com\" target=\"_new\">#{_'Forum'}</a>", "<a href=\"http://wiki.clockingit.com\" target=\"_new\">#{_'Wiki'}</a>", '<a href="mailto:support@clockingit.com">support@clockingit.com</a>.')%>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <br />
