<div style="margin-left: 400px; margin-right: 400px">
  <h2 style="color: #660000; text-decoration: underline;">Recently opened</h2>
  <table>
    <% AbstractTask.opened.each do |task| %>
      <div><h3><%= task.try(:name) %></h3></div>
      <div><h5><%= task.try(:description) %></h5></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="5">
        <tbody>
        <tr>
          <td width="20%"><span style="color:#666666">Tasks </span><a href="<%=ENV['SITE_DOMAIN']%>/tasks/<%=task.id%>">#<%=task.id%></a></td>
          <td width="80%"><span style="color:#666666">Priority </span><%= AbstractTask::REPORT_PRIORITY[task.priority].capitalize %></td>
        </tr>
        <tr>
          <td><span style="color:#666666">Resolution </span><%= AbstractTask::REPORT_STATUSES[task.status].capitalize %></td>
          <% if task.owners.any? %>
            <td><span style="color:#666666">Opened </span><%= task.owners.first.try(:name) %> - <%= task.try(:created_at).strftime("%d %b %Y") %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
      <% if task.work_logs.any? %>
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
          <tbody>
          <tr>
            <td width="80%"><span style="color:#666666">Last comment </span><%= task.work_logs.last.user.try(:name) %>
              <%= task.work_logs.last.try(:started_at).strftime("%d %b %Y") %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= task.work_logs.last.try(:body) %></td>
          </tr>
          </tbody>
        </table>
      <% end %>
      <hr>
    <% end %>
  </table>
  <h2 style="color: #660000; text-decoration: underline;">Recently closed</h2>
  <table>
    <% AbstractTask.closed.each do |task| %>
      <div><h3><%= task.try(:name) %></h3></div>
      <div><h5><%= task.try(:description) %></h5></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="5">
        <tbody>
        <tr>
          <td width="20%"><span style="color:#666666">Tasks </span><a href="<%=ENV['SITE_DOMAIN']%>/tasks/<%=task.id%>">#<%=task.id%></a></td>
          <td width="80%"><span style="color:#666666">Priority </span><%= AbstractTask::REPORT_PRIORITY[task.priority].capitalize %></td>
        </tr>
        <tr>
          <td><span style="color:#666666">Resolution </span><%= AbstractTask::REPORT_STATUSES[task.status].capitalize %></td>
          <% if task.owners.any? %>
            <td><span style="color:#666666">Opened </span><%= task.owners.first.try(:name) %> - <%= task.try(:created_at).strftime("%d %b %Y") %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
      <% if task.work_logs.any? %>
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
          <tbody>
          <tr>
            <td width="80%"><span style="color:#666666">Last comment </span><%= task.work_logs.last.user.try(:name) %>
              <%= task.work_logs.last.try(:started_at).strftime("%d %b %Y") %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= task.work_logs.last.try(:body) %></td>
          </tr>
          </tbody>
        </table>
      <% end %>
      <hr>
    <% end %>
  </table>
  <h2 style="color: #660000; text-decoration: underline;">Other open tasks</h2>
  <table>
    <% AbstractTask.other.each do |task| %>
      <div><h3><%= task.try(:name) %></h3></div>
      <div><h5><%= task.try(:description) %></h5></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="5">
        <tbody>
        <tr>
          <td width="20%"><span style="color:#666666">Tasks </span><a href="<%=ENV['SITE_DOMAIN']%>/tasks/<%=task.id%>">#<%=task.id%></a></td>
          <td width="80%"><span style="color:#666666">Priority </span><%= AbstractTask::REPORT_PRIORITY[task.priority].capitalize %></td>
        </tr>
        <tr>
          <td><span style="color:#666666">Resolution </span><%= AbstractTask::REPORT_STATUSES[task.status].capitalize %></td>
          <% if task.owners.any? %>
            <td><span style="color:#666666">Opened </span><%= task.owners.first.try(:name) %> - <%= task.try(:created_at).strftime("%d %b %Y") %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
      <% if task.work_logs.any? %>
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
          <tbody>
          <tr>
            <td width="80%"><span style="color:#666666">Last comment </span><%= task.work_logs.last.user.try(:name) %>
              <%= task.work_logs.last.try(:started_at).strftime("%d %b %Y") %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= task.work_logs.last.try(:body) %></td>
          </tr>
          </tbody>
        </table>
      <% end %>
      <hr>
    <% end %>
  </table>
</div>
