<ul>
<% if @customers and @customers.any? -%>
  <li>[<%=_ "Client" %>]</li>
  <% @customers.each do |c| -%>
    <li>
      <%= hidden_field_tag "filter[]", "c#{ c.id }", :class => "id" %>
      <%= c %>
    </li>
  <% end -%>
<% end -%>

<% if @projects and @projects.any? -%>
  <li>[<%=_ "Project" %>]</li>
  <% @projects.each do |p| -%>
  <li>
    <%= hidden_field_tag "filter[]", "p#{ p.id }", :class => "id" %>
    <%= p.full_name %>
  </li>
  <% end -%>
<% end -%>

<% if @milestones and @milestones.any? -%>
  <li>[<%=_ "Milestone" %>]</li>
  <% @milestones.each do |m| -%>
  <li>
    <%= hidden_field_tag "filter[]", "m#{ m.id }", :class => "id" %>
    <%= m.name %>
  </li>
  <% end -%>
<% end -%>

<% if @users and @users.any? -%>
  <li>[<%=_ "User" %>]</li>
  <% @users.each do |u| -%>
  <li>
    <%= hidden_field_tag "filter_user[]", u.id, :class => "id" %>
    <%= u %>
  </li>
  <% end -%>
<% end -%>

<% if @statuses and @statuses.any? -%>
  <li>[<%=_ "Status" %>]</li>
  <% @statuses.each do |s| -%>
  <li>
    <%= hidden_field_tag "filter_status[]", Task.status_types.index(s), :class => "id" %>
    <%= _(s) %>
  </li>
  <% end -%>
<% end -%>

<% if @properties and @properties.any? -%>
  <% @properties.each do |property, values| -%>
    <li>[<%= property.name  %>]</li>
    <% values.each do |v| -%>
      <li>
	<%= hidden_field_tag "#{ property.filter_name }[]", v.id, :class => "id" %>
	<%=h v.value %>
      </li>
    <% end -%>
  <% end -%>
<% end -%>

</ul>
