<%= form_for(@trigger, :html => {:class => "form-horizontal"}) do |f| -%>
  <%= f.error_messages %>
  <fieldset>
    <legend><%= (@trigger.new_record? ? _("New trigger") : _("Edit trigger")) %></legend>

    <div class="control-group">
      <%= f.label :task_filter_id, _("Task filter") %>
      <div class="controls">
        <%= f.select :task_filter_id, objects_to_names_and_ids(current_user.visible_task_filters) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :event_id, _("Event") %>
      <div class="controls">
        <%= f.select :event_id, objects_to_names_and_ids(Trigger::Event.all) %>
      </div>
    </div>

    <legend>Actions</legend>
    <div class="control-group">
      <label for="add_action"> Add action </label>
      <div class="controls">
        <select id="add_action" name="add_action">
          <option value="0">None</option>
          <%= options_from_collection_for_select(Trigger::ActionFactory.all, :id, :name) %>
        </select>
      </div>
    </div>

    <div class="actions">
      <% @trigger.actions.each do |action| %>
        <%= fields_for('trigger[actions_attributes]', action,  :index=>'') do |fields| %>
        <div class="action">
          <fieldset>
          <%=  render_action_partial(fields)  %>
          <%= fields.hidden_field :id %>
          <%= fields.hidden_field :factory_id, :value=>nil %>
          <i class="icon-remove delete_action pull-right"></i>
          </fieldset>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= cit_submit_tag(f.object) %>
    </div>
  </fieldset>
<% end -%>

<div style="display:none" id="action_partials">
  <% Trigger::ActionFactory.all.each do |factory| %>
    <div id="action_factory_<%=factory.id%>">
      <%= fields_for('trigger[actions_attributes][]', factory.build)  do |fields| %>
      <div class="action">
        <fieldset>
          <%= render_action_partial(fields)  %>
          <%= fields.hidden_field :id %>
          <%= fields.hidden_field :factory_id, :value=>factory.id %>
          <i class="icon-remove delete_action pull-right"></i>
         </fieldset>
       </div>
     <% end %>
   </div>
 <% end %>
</div>
