<%= form_for(@trigger) do |f| -%>
  <%= f.error_messages %>

  <fieldset class="basic">
    <legend><%= (@trigger.new_record? ? _("New trigger") : _("Edit trigger")) %></legend>

    <p>
      <%= f.label :task_filter_id, _("Task filter") %>
      <%= f.select :task_filter_id, objects_to_names_and_ids(current_user.visible_task_filters) %>
    </p>

    <p >
      <%= f.label :fire_on, _("Event") %>
      <%= f.select :fire_on, Trigger::Event.all.map{|event| [event.name, event.id]} %>
    </p>

    <br class="clear" />

    <h4>Actions</h4>
    <ul class="actions">
      <li>
        <%= f.radio_button :trigger_type, "due_at" %>
        <%= label_tag _("Set due date = creation + ") %>
        <%= f.text_field :count, :size => 3 %>
        <%= f.select :period, options_for_select([ "minutes", "hours", "days", "weeks" ]) %>
      </li>
    </ul>

    <br class="clear" />
    <br class="clear" />
    <label></label>
    <%= cit_submit_tag(f.object) %>
  </fieldset>
<% end -%>
