<% @page_title = "Triggers - #{$CONFIG[:productName]}" %>

<legend>
  <%=_ 'Listing triggers' %>
  <%= link_to _('New trigger'), new_trigger_path, :class => "pull-right btn" %>
</legend>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Task filter</th>
    <th>Fire on</th>
    <th>Action</th>
    <th></th>
  </tr>

<% @triggers.each do |trigger| %>
  <tr>
    <td><%=h trigger.task_filter_name %></td>
    <td><%=h trigger.event_name %></td>
    <td><%=h trigger.actions.collect(&:name).join(', ') %></td>
    <td><%= link_to 'Destroy', trigger, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to 'Edit', edit_trigger_path(trigger) %></td>
  </tr>
<% end %>
</table>

