<h1>New trigger</h1>

<% form_for(@trigger) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task_filter_id %><br />
    <%= f.text_field :task_filter_id %>
  </p>
  <p>
    <%= f.label :when %><br />
    <%= f.text_field :when %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', triggers_path %>