<p>
  <b>Task filter:</b>
  <%=h @trigger.task_filter_id %>
</p>

<p>
  <b>When:</b>
  <%=h @trigger.when %>
</p>

<p>
  <b>Action:</b>
  <%=h @trigger.action %>
</p>


<%= link_to 'Edit', edit_trigger_path(@trigger) %> |
<%= link_to 'Back', triggers_path %>