<div class='email_address <%= email_address.default? ? 'default':'' %>' data-id='<%= email_address.id %>'>
  <span><%= email_address.email %></span>
  <span class='label label-success'><%= t('shared.default') %></span>
  <span class="actions pull-right">
    <a href="#" class="btn btn-mini set-default"><%= t('email_addresses.set_as_default') %></a>
    <a href="#" class="btn btn-danger btn-mini delete-link"><%= t('button.delete') %></a>
  </span>
</div>
