<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "orphaned-emails"} %>
<% end %>

<%= content_tag :legend, t('email_addresses.attach') %>

<h3><%= @email_address.email %></h3>

<%= form_for(@email_address, :html => {:class => "form-inline"}) do %>
  <input type = "hidden" id = "email_attach_user_id" name = "email_address[user_id]" value="<%=@email_address.user.nil? ? 0 :@email_address.user.id -%>">
  <%= text_field :user, :name, {
        :id=>"email_attach_user_name",
        :size => 24,
        :value => @email_address.user ? @email_address.user.name : '',
        :autocomplete => "off",
        :title => t('email_addresses.input_title'),
        :rel => "tooltip"
      }
  %>
  <%= submit_tag t("button.save"), :class => "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  jQuery(function() {
    autocomplete('#email_attach_user_name', '/users/auto_complete_for_user_name', function(event, ui) {
      var userId = ui.item.id;
      var userName = ui.item.name;
      jQuery('#email_attach_user_name').val(userName);
      jQuery('#email_attach_user_id').val(userId);
    })
  })
</script>
