<div id="email_address_attach">
  <h1 style="text-align:center;">Attach email address to user</h1>
  <h2 style="text-align:center;"><%= @email_address.email %></h2>

  <%= form_for(@email_address) do %>
    <input type = "hidden" id = "email_attach_user_id" name = "email_address[user_id]" value="<%=@email_address.user.nil? ? 0 :@email_address.user.id -%>">
    <label for="email_attach_user_name"><%=_ 'User' %></label>
    <%= text_field :user, :name, {
                        :id=>"email_attach_user_name",
                        :size => 24,
                        :value => @email_address.user ? @email_address.user.name : '',
                        :autocomplete => "off",
                        :title => "Please enter the user name by the autocomplete."
                }
    %>
    <%= submit_tag _("Save") %>
  <% end %>
</div>
