<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "orphaned-emails"} %>
<% end %>

<%= content_tag :legend, t('email_addresses.orphaned') %>

<p class="alert alert-info"><%= t('email_addresses.select') %></p>

<ul>
  <% @email_addresses.each do |ea| %>
    <li><%= link_to ea.email, edit_email_address_path(ea) %></li>
  <% end %>
</ul>

<%= will_paginate @email_addresses %>

