<div class="pull-right clear">
  <%= start_stop_work_link(task) %>
  <%= cancel_work_link(task) %>
  <%= pause_task_link(task) %>
  <%= link_to( task.issue_name + " - " + task.project.name, :controller => 'tasks', :action => 'edit', :id => task.task_num ) %>
  <br />
  <% percent = ((task.worked_minutes + @current_sheet.duration / 60) / task.duration.to_f  * 100).round unless (task.duration.nil? or task.duration == 0) -%>
  <%= worked_nice(@current_sheet.duration/60) %> in progress, <%= worked_nice(task.worked_minutes + @current_sheet.duration / 60) %> total, <%= percent.nil? ? 0 : percent %>% done
</div>
