<div id="tabmenu">
  <% active = controller.controller_name + "/" + controller.action_name %>
  <ul id="primary">
    <% if current_user.seen_welcome.to_i == 0 %>
    <li<% if active == "activities/welcome" %> class="active"<% end %>><%= link_to "#{_('Tutorial')}", :controller => 'activities', :action => 'welcome' %>
    </li>
    <% end %>
    <li<%= " class='active'" if active == "activities" %>>
      <%= link_to "#{_('Overview') }", :controller => 'activities', :action => 'index' %>
      <% if active == "activities" %>
      <ul>
        <li>
          <%= link_to_function _('Add New Widget'), 'add_widget()' %>
        </li>
      </ul>
      <% end %>
    </li>
    <li<%= " class='active'" if active.starts_with?('tasks/') %>>
      <%= link_to(_("Tasks"), :controller => "tasks", :action => "index" ) %>
      <ul>
        <li>
          <%= link_to _("New Task"), :controller => 'tasks', :action => 'new' %>
        </li>
        <% current_templates.each do |t| %>
        <li class="task_template">
          <%= link_to t, '#', :'data-tasknum' => t.task_num %>
        </li>
        <% end %>
      </ul>
    </li>
    <li<% if active == "timeline" %> class="active"<% end %>><%= link_to "#{_('Timeline')}", :controller => 'timeline', :action => 'index' %>
    </li>
    <% if current_user.can_any?(current_user.projects, 'report') %>
    <li<%= " class='active'" if active == "reports" %>>
      <%= link_to "#{_('Billing')}", :controller => 'billing', :action => 'index' %>
    </li>
    <% end %>
    <% if current_user.company.show_wiki? %>
    <li<%= " class='active'" if active == "wiki" %>>
      <%= link_to "#{_('Wiki')}", :controller => 'wiki', :action => 'show', :id => nil %>
    </li>
    <% end %>
    <li<%= " class='active'" if active.starts_with?('project_files/') %>>
      <%= link_to "#{_('Files')}", :controller => 'project_files', :action => 'index' %>
    </li>
    <li<%= " class='active'" if active.starts_with?('projects/') %>>
      <%= link_to "#{_('Projects')}", :controller => 'projects', :action => 'index' %>
      <% if current_user.create_projects? %>
      <ul>
        <li>
          <%= link_to _("New Project"), :controller => 'projects', :action => 'new' %>
        </li>
      </ul>
      <% end %>
    </li>
    <% if current_user.can_view_clients? %>
    <li<%= " class='active'" if active.starts_with?('clients/') %>>
      <%= link_to "#{_('Clients')}", :controller => "customers", :action => 'index' %>
    </li>
    <% end %>
    <% if current_user.use_resources? %>
    <li class="<%= resource_class %>">
      <%= link_to(_("Resources"), resources_path) %>
    </li>
    <% end %>
    <li class="right<%= " active" if active == "users/edit_preferences"  %>" id="preference"><%= link_to "#{_('Preferences')}",  :controller => 'users', :action => 'edit_preferences' %>
      <% if current_user.admin > 0 %>
      <ul>
        <li>
          <%= link_to _('Company Settings'), :controller => 'companies', :action => 'edit', :id => current_user.company_id %>
        </li>
        <li>
          <%= link_to _('Custom Properties'), :controller => "custom_attributes", :action => "index" %>
        </li>
        <li>
          <%= link_to _("Templates"), :controller => 'task_templates', :action=>'index' %>
        </li>
        <li>
          <%= link_to _("Triggers"), :controller => 'triggers' %>
        </li>
      </ul>
      <% elsif current_user.use_triggers? %>
      <ul>
        <li>
          <%= link_to _("Triggers"), :controller => 'triggers' %>
        </li>
      </ul>
      <% end %>
    </li>
  </ul>
</div>
