<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<%= javascript_include_merged :base %>
	<%= yield :tinymce %>

	<%= javascript_include_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
	<%= javascript_include_tag "swfobject" %>

	<%= stylesheet_link_merged :base %>
	<%= stylesheet_link_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
	<%= javascript_include_tag "builder" if ['activities'].include? controller.controller_name %>
	<% if ['activities'].include? controller.controller_name %>
	  <%= javascript_include_tag "portal" %>
	  <!--[if IE]><%= javascript_include_tag "excanvas" %><![endif]-->
	  <%= javascript_include_tag "flotr" %>
	<% end %>
	<%= yield :tinymce_init %>
	<%= stylesheet_link_tag "print", { :media => "print" } %>
	<%= auto_discovery_link_tag(:rss, {:controller => 'feeds', :action => 'rss', :id => current_user.uuid }) %>

	<title><%= $CONFIG[:productName] %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <% @internal = current_user.company.internal_customer %>

	<style type="text/css">
	<% if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0 %>
	<%= @internal.css %>
	<% end %>
	<% unless current_user.option_floating_chat %>
	#presence {
		  position:relative;
	}
	<% end %>
	</style>
</head>
<body id="body">
	<div id="loading" style="z-index: 1000; position:absolute; right: 10px; top: 10px; width:70px; height:20px; color: white; padding:6px; display: none; "><%= image_tag('spinner.gif', :border => 0) %></div>
	<div id="passive-chat-container" style="display:none;"><table width="100%" cellspacing="0"><tbody id="passive-chat"></tbody></table></div>

	<%= render(:partial => "layouts/menu") %>
	<div id="globalMenu"><div id="tabmenu"><%= render(:partial => "layouts/tabmenu")%></div></div>

	<% news = NewsItem.find(:first, :order => "id desc", :conditions => ["id > ?", current_user.seen_news_id ])
	unless news.nil? %>
	<div class="inlineMessage" id="news">
		<span class="date">[<%= tz.utc_to_local(news.created_at).strftime("#{current_user.time_format} #{current_user.date_format}") %>]</span>
		<%= news.body %>
		<%= link_to_remote "[#{_('Hide')}]", :url => { :controller => 'users', :action => 'update_seen_news', :id => news.id },:success => visual_effect(:fade, "news", :duration => 0.5) %>
	</div>
	<% end %>

	<% if flash["notice"].present? -%>
	<div class="inlineMessage" id="flash">
	  <span id="flash_message"><%= flash["notice"] %></span>
	  <a class="hide" onclick="jQuery('#flash').fadeOut(500);" href="#">[<%=_ 'Hide'%>]</a>
	</div>
	<% end -%>

	<table width="100%" id="main-table" class="content_body">
	  <tr>
	    <td valign="top" id="main_col"><%= @content_for_layout %></td>
	    <td id="right-menu-collapse" onclick="jQuery('#left_menu').toggle(); jQuery.get('/activities/toggle_menu'); return false;">&nbsp;</td>
	    <td align="right" valign="top" style="width:15%;<%= "display:none;" if session[:collapse_menu].to_i > 0 %>" id="left_menu">

	      <%= render(:partial => "/task_filters/panel") %>

	      <div <%= "style=\"display:none;\"" if @current_sheet.nil? || controller.action_name == "stop_work" %> id="work-log">
		<div class="page_header tooltip" title="<%= _'Text entered will be saved automatically to your current work notes.'%>"><%= _'Work Log' %></div>
		<form method="post" onsubmit="return false;" id="worklog_form"><textarea name="worklog[body]" id="worklog_body" style="padding:0;margin-top:0.5em;margin-bottom:0.3em;width:100%;" rows="4"><%= @current_sheet.body if @current_sheet%></textarea></form>
		<div id="worklog-saved" class="optional" style="text-align:right;padding-bottom:0.3em;padding-right:1em;"></div>
		<br/>
	      </div>

	      <%= render(:partial => "pages/panel") %>

	      <% # use content_for(:side_panel) to add extra content to this sidebar -%>
	      <%= yield(:side_panel) %>
	    </td>
	  </tr>
	</table>

	<% if current_user.company.show_messaging %>
	<div id="presence" class="full">
		<div id="presence-ui" class="clearfix">
			<div id="presence-bar">
				<div id="presence-buttons">
					<% current_user.chats.each do |chat| 
					   @chat = chat
					   @user = @chat.target 
					   %>
						<%= render :partial => 'shout/chat_user' if @chat.active >= 0%>
						<% if @chat.active == 1 %>
							<script type="text/javascript" language="javascript" charset="utf-8">
								toggleChatPopup($('presence-toggle-<%=@chat.target.dom_id%>'));
							</script>
						<% end %>
					<% end %>
					<div class="presence-section" id="presence-users">
						<div class="presence-popup" style="display:none;" id="presence-users-popup">
							<div class="optional"><%= _'Loading'%>...</div>
						</div>

						<div class="presence-bar-text" style="float:left;padding-right:2px;"><img src="/images/user_comment.png" border="0" class="presence-img"/></div>
						<div class="presence-bar-text presence-toggle" id="presence-toggle-users"><%= _('Online')%> (<span id="presence-online"><%= online_users %></span>)</div>
					</div>
				</div>
			</div>
			<div id="contact" style="padding-left:0.3em;border-top:1px solid #ccc;"><small><em>Clocking IT<% if current_user.locale != 'en_US' %> - <a href="/locales/list"><%= _'Help Translate'%></a><% end %><br /><a href="mailto:feedback@clockingit.com"><%=_ 'Feedback? Suggestions? Ideas? Bugs?'%></a><%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %></em></small></div>
		</div>
	</div>
	<% else %>
	<div id="contact"><% if current_user.locale != 'en_US' %> - <a href="/locales/list"><%= _'Help Translate'%></a><% end %><%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %></div>
	<% end %>

<%= periodically_call_remote(:url => { :controller => 'tasks', :action => 'update_sheet_info', :format => "js" }, :frequency => 90 ) -%>

<%= flash_plugin(session[:channels]) %>
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
var userId=<%=current_user.id%>;
jQuery(document).ready(function () {
	<% if current_user.option_tooltips.to_i == 1 %>
	  jQuery('.tooltip').tooltip({showURL: false });
	<% end %>
	
	<% if controller.controller_name == 'shout' && controller.action_name == 'room' %>
	  init_shout();
	  $('contact').scrollTo();
	  window.scrollBy(0,200);
	<% end %>
	
	jQuery('#presence-toggle-users').click(function () {
		toggleChatPopupEvent(ev); 
	});
});

new Form.Element.Observer('worklog_body', 2, function(element, value) {new Ajax.Updater('worklog-saved', '/tasks/updatelog', {asynchronous:true, evalScripts:true, parameters: Form.serialize($('worklog_form'))  })});

// ]]>
</script>
<%#= query_review_output %>
</body>
</html>
