<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <% if ['activities'].include? controller.controller_name %>
      <!--[if lte IE 8]><%= javascript_include_tag "excanvas" %><![endif]-->
      <%= javascript_include_tag "jquery.flot" %>
    <% end %>

    <%= stylesheet_link_tag 'application' %>
    <%= auto_discovery_link_tag(:rss, {:controller => 'feeds', :action => 'rss', :id => current_user.uuid }) %>

    <%= csrf_meta_tag %>
    <title><%= @page_title || $CONFIG[:productName] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript">
          jQuery.jgrid.no_legacy_api = true;
          jQuery.jgrid.useJSON = true;
    </script>

    <script type="text/javascript">
      // Ugly, yes, but gets the job done.
      jQuery(document).ajaxError(function(event, request, settings){
        // Only do redirect on authentication error
        if (request.status == '401') {
          var url = '<%= new_user_session_url %>';
          document.location.href = url;
        }
      });
    </script>
  </head>
  <body>
    <div>
      <div id="loading">
        <%= image_tag('spinner.gif', :border => 0) %>
      </div>
      <%= render(:partial => "layouts/menu") %>
      <%= render(:partial => "layouts/tabmenu") %>
      <%= render(:partial => "layouts/notice", :locals => {:flash => flash} ) %>
    </div>
    <div class="container-fluid" id="content">
      <div class="row-fluid">
        <div class="span10">
          <%= yield :layout %>
        </div>
        <div class="span2">
          <% # use content_for(:side_panel) to add extra content to this sidebar -%>
          <%= yield(:side_panel) %>
          <%= render(:partial => "tasks/nextTasks") %>
          <%= render(:partial => "pages/panel") %>
        </div>
      </div>
    </div>

    <div id="contact">
        <%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %>
    </div>

    <script type="text/javascript" language="javascript" charset="utf-8">
      // <![CDATA[
      var userId=<%= current_user.id %>;
      var userDateFormat="<%= current_user.dateFormat %>";
      // ]]>
    </script>
  </body>
</html>
