<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag(
        "jquery",
      "jquery.cookie",
      "jquery.tooltip",
      "jquery-ui",
      "jquery.layout",
      "ui.multiselect",
      "jqgrid.i18n/grid.locale-en",
      "jquery.jqGrid.min",
      "jquery.autogrow",
      "slimbox2",
      "json2",
      "rails",
        "application",
      "tasklist",
      "task",
      "trigger",
      "filter",
      "template",
      "project_file",
      "widget",
      :cache => "main"
    ) %>
    <%= javascript_include_tag "fullcalendar.min" %>
    <%= yield :head %>
    <%= javascript_include_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
    <% if ['activities'].include? controller.controller_name %>
      <!--[if IE]><%= javascript_include_tag "excanvas" %><![endif]-->
        <%= javascript_include_tag "builder", "portal", "flotr" %>
    <% end %>
    <% if ['tasks', 'project_files'].include? controller.controller_name %>
        <%= javascript_include_tag 'jquery.form', 'jquery.remotipart' %>
    <% end %>
    <% if ['schedule'].include? controller.controller_name %>
        <%= javascript_include_tag 'date', 'jquery.ganttView' %>
    <% end %>

    <%= stylesheet_link_tag(
      "jquery-ui",
      "slimbox2",
      "application",
      "jquery.tooltip",
      "ui.multiselect",
      "ui.jqgrid",
      "fullcalendar",
      "jquery.ganttView",
      :cache => true
    ) %>
    <%= stylesheet_link_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
    <%= stylesheet_link_tag "print", { :media => "print" } %>
    <%= auto_discovery_link_tag(:rss, {:controller => 'feeds', :action => 'rss', :id => current_user.uuid }) %>

    <%= csrf_meta_tag %>
    <title><%= $CONFIG[:productName] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%
     @internal = current_user.company.internal_customer
           if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0
    %>
            <style type="text/css">
                <%= @internal.css %>
            </style>
        <% end %>
    <script type="text/javascript">
          jQuery.jgrid.no_legacy_api = true;
          jQuery.jgrid.useJSON = true;
    </script>
  </head>
  <body>
    <div id="page_header">
      <div id="loading">
        <%= image_tag('spinner.gif', :border => 0) %>
      </div>
      <%= render(:partial => "layouts/menu") %>
      <%= render(:partial => "layouts/tabmenu") %>
      <%= render(:partial => "layouts/notice") %>
    </div>
    <table id="main-table">
      <tr>
        <td valign="top" id="main_col">
          <%= yield :layout %>
        </td>
        <td id="side_panel">
          <% # use content_for(:side_panel) to add extra content to this sidebar -%>
          <%= yield(:side_panel) %>
          <%= render(:partial => "tasks/nextTasks") %>
          <div <%= "style=\"display:none;\"" if @current_sheet.nil? || controller.action_name == "stop_work" %> id="work-log">
            <a class="collapsable-sidepanel-button">&nbsp;</a>
            <div class="page_header tooltip" title="<%= _'Text entered will be saved automatically to your current work notes.'%>">
              <%= _'Work Log' %>
            </div>
            <span class="panel_content">
            <form method="post" onsubmit="return false;" id="worklog_form">
              <textarea name="worklog[body]" id="worklog_body" rows="4">
                <%= @current_sheet.body if @current_sheet %>
              </textarea>
            </form>
            <div id="worklog-saved" class="optional" style="text-align:right;padding-bottom:0.3em;padding-right:1em;"></div>
            </span>
            <br/>
          </div>
          <%= javascript_tag "collapsiblePanel('work-log');" %>
          <%= render(:partial => "pages/panel") %>
        </td>
      </tr>
    </table>

    <div id="contact">
        <%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %>
    </div>

    <script type="text/javascript" language="javascript" charset="utf-8">
      // <![CDATA[
      var userId=<%= current_user.id %>;
      var useTooltips=<%= current_user.option_tooltips.to_i %>;
      var userDateFormat="<%= current_user.dateFormat %>";
      // ]]>
    </script>
  </body>
</html>
